{% extends 'base.html' %} {% load static %} {% block content %}

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Home 8  : Hero Section 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="integrator-about integrator-section integrator-header__plus" id="hero" bis_skin_checked="1">
  <div class="container" bis_skin_checked="1">
    <div class="row row--custom" bis_skin_checked="1">
      <div class="col-lg-12 col-md-12" bis_skin_checked="1">
        <div class="home-8_hero-content-block" bis_skin_checked="1">
          <div class="home-8_hero-text-block" bis_skin_checked="1">
            <h1 class="integrator-heading heading-l hero-content__title">
              Правильные интеграторы - эксперты в области внедрения Битрикс24</h1>
          </div>

          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~
              Home 1 : Brand Section
          ~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
          <div class="brand-section">
            <div class="container">
              <div class="home-6_brands-wrapper-inner">
                <div class="slidercontainer h-100">
                  <div class="row align-items-center h-100">
                    <div class="slidercontainer rounded">
                      <div class="slider">
                        <div class="logos brands-wrapper">
                          <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left"
                            data-aos-delay="800">
                            <img class="icon-brand" src={% static '/image/home/1.png' %} alt="brand-logo">
                          </div>
                          <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left"
                            data-aos-delay="800">
                            <img class="icon-brand" src={% static '/image/home/2.png' %} alt="brand-logo">
                          </div>
                          <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left"
                            data-aos-delay="800">
                            <img class="icon-brand" src={% static '/image/home/3.png' %} alt="brand-logo">
                          </div>
                          <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left"
                            data-aos-delay="800">
                            <img class="icon-brand" src={% static '/image/home/4.png' %} alt="brand-logo">
                          </div>
                          <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left"
                            data-aos-delay="800">
                            <img class="icon-brand" src={% static '/image/home/5.png' %} alt="brand-logo">
                          </div>
                          <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left"
                            data-aos-delay="800">
                            <img class="icon-brand" src={% static '/image/home/6.png' %} alt="brand-logo">
                          </div>
                          <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left"
                            data-aos-delay="800">
                            <img class="icon-brand" src={% static '/image/home/7.png' %} alt="brand-logo">
                          </div>
                          <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left"
                            data-aos-delay="800">
                            <img class="icon-brand" src={% static '/image/home/8.png' %} alt="brand-logo">
                          </div>
                          <!-- <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
                      <img class="icon-brand" src={% static '/image/home/9.png'%} alt="brand-logo">
                    </div> -->
                          <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left"
                            data-aos-delay="800">
                            <img class="icon-brand" src={% static '/image/home/10.png' %} alt="brand-logo">
                          </div>
                          <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left"
                            data-aos-delay="800">
                            <img class="icon-brand" src={% static '/image/home/11.png' %} alt="brand-logo">
                          </div>
                          <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left"
                            data-aos-delay="800">
                            <img class="icon-brand" src={% static '/image/home/12.png' %} alt="brand-logo">
                          </div>
                          <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left"
                            data-aos-delay="800">
                            <img class="icon-brand" src={% static '/image/home/13.png' %} alt="brand-logo">
                          </div>
                          <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left"
                            data-aos-delay="800">
                            <img class="icon-brand" src={% static '/image/home/14.png' %} alt="brand-logo">
                          </div>
                          <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left"
                            data-aos-delay="800">
                            <img class="icon-brand" src={% static '/image/home/15.png' %} alt="brand-logo">
                          </div>
                          <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left"
                            data-aos-delay="800">
                            <img class="icon-brand" src={% static '/image/home/16.png' %} alt="brand-logo">
                          </div>
                          <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left"
                            data-aos-delay="800">
                            <img class="icon-brand" src={% static '/image/home/17.png' %} alt="brand-logo">
                          </div>
                          <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left"
                            data-aos-delay="800">
                            <img class="icon-brand" src={% static '/image/home/18.png' %} alt="brand-logo">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="home-8_hero-text-block" bis_skin_checked="1">
            <h4 class="integrator-quote">
              Мы создаем индивидуальные решения для каждого клиента, высокая эффективность и надежнность</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Numbers Section
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="integrator-numbers-section padding-bottom-150 padding-top-150" bis_skin_checked="1">
  <div class="container" bis_skin_checked="1">
    <div class="row--custom " bis_skin_checked="1">
      <div class="integrator-numbers integrator-numbers__sigle-block">
        <div class="integrator-widget-item">
          <h4 class="integrator-widget__title">Более</h4>
          <span>20k+</span>
          <div class="integrator-line"></div>
          <p>Опыта часов внедрения</p>
        </div>
        <div class="integrator-numbers__image">
          <img src="{% static '/image/team/numbers1.png' %}" alt="image alt">
        </div>
      </div>
    </div>
    <div class="integrator-row row--custom " bis_skin_checked="1">
      <div class="integrator-numbers integrator-numbers__double-block" bis_skin_checked="1">
        <div class="integrator-widget-item">
          <h4 class="integrator-widget__title">Место</h4>
          <span>5-e</span>
          <div class="integrator-line"></div>
          <p>В рейтинге интеграторов</p>
        </div>
        <div class="integrator-numbers__image">
          <img src="{% static '/image/team/numbers2.png' %}" alt="image alt">
        </div>
      </div>
      <div class="integrator-numbers integrator-numbers__double-block" bis_skin_checked="1">
        <div class="integrator-widget-item">
          <h4 class="integrator-widget__title">Более</h4>
          <span>150+</span>
          <div class="integrator-line"></div>
          <p>Успешных внедрений</p>
        </div>
        <div class="integrator-numbers__image">
          <img src="{% static '/image/team/numbers3.png' %}" alt="image alt">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Technologies Section
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="integrator-technologies-section" bis_skin_checked="1">
  <div class="container" bis_skin_checked="1">
    <h3 class="integrator-technologies-title text-center">Используем проверенные технологии для эффективной работы с Битрикс24. Наши критерии выбора инструментов — безопасность, стабильность и адаптивность под задачи бизнеса.</h3>
    <div class="integrator-row row--custom" bis_skin_checked="1">
      <div class="integrator-technologies-item" bis_skin_checked="1">
          <h4 class="integrator-technologies__title">Программирование</h4>
          <div class="integrator-technologies-list">
            <p>python</p>
            <p>js</p>
            <p>php</p>
          </div>
      </div>
      <div class="integrator-technologies-item" bis_skin_checked="1">
          <h4 class="integrator-technologies__title">Базы данных</h4>
          <div class="integrator-technologies-list">
            <p>mysql</p>
            <p>postgres</p>
            <p>sqlite</p>
          </div>
      </div>
      <div class="integrator-technologies-item" bis_skin_checked="1">
          <h4 class="integrator-technologies__title">Bi системы</h4>
          <div class="integrator-technologies-list">
            <p>powerBI</p>
            <p>lookerStudio</p>
          </div>
      </div>
      <div class="integrator-technologies-item" bis_skin_checked="1">
          <h4 class="integrator-technologies__title">Телефония</h4>
          <div class="integrator-technologies-list">
            <p>Asterisk</p>
          </div>
      </div>
      <div class="integrator-technologies-item" bis_skin_checked="1">
          <h4 class="integrator-technologies__title">Фреймворки управления</h4>
          <div class="integrator-technologies-list">
            <p>OMIMO</p>
          </div>
      </div>
      <div class="integrator-technologies-item" bis_skin_checked="1">
          <h4 class="integrator-technologies__title">Управление процессами</h4>
          <div class="integrator-technologies-list">
            <p>BPM</p>
          </div>
      </div>
    </div>
  </div>
</div>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    TOP Section
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<div class="integrator-top-section padding-bottom-150 padding-top-150">
  <div class="container">
      <div class="content">
        <div class="content-text-block">
          <h2 class="integrator-subheading heading-md text-center">
            Входим в <span class="primary">ТОП-10</span> интеграторов CRM Битрикс24 в Беларуси
          </h2>
          <p class="text-center">
            Правильные интеграторы — это команда профессионалов, которые помогут вам превратить Битрикс24 в мощный инструмент для развития вашего бизнеса.
          </p>
        </div>
      </div>
      <div class="integrator-check-points">
        <div class="integrator-row">
          <div class="integrator-check-point">
            <span class="poin-number">
              01
            </span>
            <h4 class="point-title">Высокая квалификация сотрудников</h4>
          </div>
          <div class="integrator-check-point">
            <span class="poin-number">
              02
            </span>
            <h4 class="point-title">Официально подтвержденные компетенции</h4>
          </div>
          <div class="integrator-check-point">
            <span class="poin-number">
              03
            </span>
            <h4 class="point-title">Непрерывное обучение и развитие</h4>
          </div>
          <div class="integrator-check-point">
            <span class="poin-number">
              04
            </span>
            <h4 class="point-title">Участие в бизнес-встречах и конференциях</h4>
          </div>
        </div>
      </div>
      <div class="integrator-top">
        <div class="integrator-row">
            <div class="integrator-top__image">
              <img src="{% static '/image/about/top.png' %}" alt="Roman">
            </div>
            <div class="integrator-top__info">
              <div class="integrator-top-qoute">
                <div class="quote-revert">
                  <img src="{% static '/image/quote.svg' %}" alt="quote">
                </div>
                <p class="quote-text">«Мы не просто внедряем Битрикс24, мы проводим глубокий бизнес-анализ, вникаем в каждый процесс и создаем решения, которые максимизируют эффективность вашего бизнеса»</p>
                <div class="qoute-autor">
                  <p class="name">Роман Сытько</p>
                  <p class="business-name">Руководитель компании</p>
                </div>
                <div class="quote">
                  <img src="{% static '/image/quote.svg' %}" alt="quote">
                </div>
              </div>
              <div class="integrator-top__certificats">
                <div class="integrator-top__certificat">
                  <img src="{% static '/image/about/cert1.png' %}" alt="certificat">
                </div>
                <div class="integrator-top__certificat">
                  <img src="{% static '/image/about/cert2.png' %}" alt="certificat">
                </div>
                <div class="integrator-top__certificat">
                  <img src="{% static '/image/about/cert3.png' %}" alt="certificat">
                </div>
              </div>
               <div class="integrator-top__certificats-large">
                <div class="integrator-top__certificat">
                  <img src="{% static '/image/about/cert4.png' %}" alt="certificat">
                </div>
              </div>
            </div>
        </div>
      </div>
  </div>
</div>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Feature Section
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="integrator-feature-section padding-bottom-150 padding-top-150">
  <div class="container">
    <div class="section-heading">
      <h2 class="integrator-subheading heading-md text-center">
        <span class="primary">Правильный</span> Битрикс24 — который работает на ваш бизнес и <span class="primary">приносит результаты</span> вашему <span class="primary">бизнесу</span>
      </h2>
    </div>
    <div class="integrator-row row--custom" bis_skin_checked="1">
      <div class="integrator-feature-item" bis_skin_checked="1">
          <h4 class="integrator-feature__title">01</h4>
          <div class="integrator-feature-list">
            <h5>Увеличение продаж</h5>
            <p>Результат правильного внедрения Битрикс24 — увеличение выручки и прибыли компании</p>
          </div>
      </div>
      <div class="integrator-feature-item" bis_skin_checked="1">
          <h4 class="integrator-feature__title">02</h4>
          <div class="integrator-feature-list">
            <h5>Эффективное управление бизнесом</h5>
            <p>Аналитика и отчётность позволяет принимать управленческие решения, опираясь на данные</p>
          </div>
      </div>
      <div class="integrator-feature-item" bis_skin_checked="1">
          <h4 class="integrator-feature__title">03</h4>
          <div class="integrator-feature-list">
            <h5>Сокращение издержек</h5>
            <p>Автоматизация бизнес-процессов, эффективная коммуникация между отделами помогает эффективно использовать рабочее время</p>
          </div>
      </div>
      <div class="integrator-feature-item" bis_skin_checked="1">
          <h4 class="integrator-feature__title">04</h4>
          <div class="integrator-feature-list">
            <h5>Оптимизация расходов на маркетинг</h5>
            <p>Сквозная аналитика и отчёты помогут оптимизировать рекламные расходы</p>
          </div>
      </div>
      <div class="integrator-feature-item" bis_skin_checked="1">
          <h4 class="integrator-feature__title">05</h4>
          <div class="integrator-feature-list">
            <h5>Повышение лояльности клиентов</h5>
            <p>Хранение и анализ данных о клиентах позволяет настроить персонализированную коммуникацию с клиентами</p>
          </div>
      </div>
      <div class="integrator-feature-item" bis_skin_checked="1">
          <h4 class="integrator-feature__title">06</h4>
          <div class="integrator-feature-list">
            <h5>Защита персональных данных</h5>
            <p>Битрикс24 предлагает все необходимые инструменты для соблюдения законодательства о защите персональных данных</p>
          </div>
      </div>
      <div class="cta-base__button">
        <a href="#" class="integrator-btn btn-fill--up">
          <span>Начать использовать Битрикс24</span></a>
      </div>
    </div>
  </div>
</div>


<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~
    Portfolio Section
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div class="integrator-portfolio-section padding-bottom-150 padding-top-150" id="portfolio">
  <div class="container">
    <div class="section-heading section-heading--row text-center text-md-initial">
      <h2 class="integrator-subheading heading-md text-center">
        Наши кейсы
      </h2>
    </div>
    <div class="integrator-portfolio row--portfolio-gutter">

      <div class="integrator-portfolio-item" data-aos-duration="1000" data-aos="fade-up" data-aos-delay="300">
        <a href="portfolio-details.html" class="portfolio-widget">
          <div class="portfolio-widget_image-block">
            <img src="{% static '/image/home-1/portf2.png' %}" alt="portfolio image" class="portfolio-image" />
          </div>
          <div class="portfolio-widget__title-block">
            <span class="portfolio-widget__category">Комплексное внедрение</span>
            <h3 class="portfolio-widget__title">«МагКомпозит»</h3>
            <div class="integrator-line"></div>
            <p class="portfolio-widget__info">Текст о том как данная услуга сделала пользу в данной компании</p>
          </div>
        </a>
      </div>

      <div class="integrator-portfolio-item" data-aos-duration="1000" data-aos="fade-up" data-aos-delay="300">
        <a href="portfolio-details.html" class="portfolio-widget">
          <div class="portfolio-widget_image-block">
            <img src="{% static '/image/home-1/portf2.png' %}" alt="portfolio image" class="portfolio-image" />
          </div>
          <div class="portfolio-widget__title-block">
            <span class="portfolio-widget__category">Комплексное внедрение</span>
            <h3 class="portfolio-widget__title">«МагКомпозит»</h3>
            <div class="integrator-line"></div>
            <p class="portfolio-widget__info">Текст о том как данная услуга сделала пользу в данной компании</p>
          </div>
        </a>
      </div>


      <div class="integrator-portfolio-item" data-aos-duration="1000" data-aos="fade-up" data-aos-delay="300">
        <a href="portfolio-details.html" class="portfolio-widget">
          <div class="portfolio-widget_image-block">
            <img src="{% static '/image/home-1/portf2.png' %}" alt="portfolio image" class="portfolio-image" />
          </div>
          <div class="portfolio-widget__title-block">
            <span class="portfolio-widget__category">Комплексное внедрение</span>
            <h3 class="portfolio-widget__title">«МагКомпозит»</h3>
            <div class="integrator-line"></div>
            <p class="portfolio-widget__info">Текст о том как данная услуга сделала пользу в данной компании</p>
          </div>
        </a>
      </div>
    </div>

    <div class="integrator-portfolio-more text-center">
      <a href="#" class="integrator-btn btn-fill--up">
          <span>Все наши кейсы</span>
        </a>
    </div>
  </div>
</div>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Team Section 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="integrator-team-section padding-bottom-150 padding-top-150" bis_skin_checked="1">
  <div class="container" bis_skin_checked="1">
      <div class="content" bis_skin_checked="1">
        <div class="content-text-block" bis_skin_checked="1">
          <h2 class="integrator-subheading text-center heading-md">Наша команда</h2>
        </div>
      </div>
      <div class="integrator-team">
        <div class="integrator-row">
            <div class="integrator-team__images">
              <div class="integrator-team__image">
                <img src="{% static '/image/team/Roman.png' %}" alt="Roman">
                <div class="qoute-autor">
                  <p class="name">Роман Сытько</p>
                  <p class="business-name">Руководитель компании</p>
                </div>
              </div>
              <div class="integrator-team__image">
                <img src="{% static '/image/team/Inna.png' %}" alt="Inna">
                <div class="qoute-autor">
                  <p class="name">Инна Литвин</p>
                  <p class="business-name">Руководитель отдела продаж</p>
                </div>
              </div>
            </div>
            <div class="integrator-team__info">
              <div class="integrator-team-quote">
                <div class="quote-revert">
                  <img src="{% static '/image/quote.svg' %}" alt="quote">
                </div>
                <p class="quote-text">Мы — команда, где каждый специалист на своём месте и в то же время часть дружного, поддерживающего коллектива. У нас ценятся инициативность, стремление к росту и любовь к технологиям.</p>
                <p class="quote-text">Мы развиваемся вместе: участвуем в обучениях, прокачиваем скиллы и делимся опытом. Здесь ценят идеи, уважают личность и радуются общим победам. У нас интересно, стабильно и просто по‑человечески классно работать.</p>
                <div class="quote">
                  <img src="{% static '/image/quote.svg' %}" alt="quote">
                </div>
              </div>
              <div class="integrator-team-button">
                <a href="#" class="integrator-btn integrator-btn-light btn-fill--up">
                  <span>Попробовать бесплатно</span>
                </a>
              </div>
            </div>
        </div>
      </div>
  </div>
</div>

<div class="container"><div class="integrator-line"></div></div>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Materials Section 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<div class="about_team-section padding-bottom-150 padding-top-150">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xxl-5 col-lg-6 col-md-8 col-10">
        <div class="section-heading text-center">
          <h2 class="section-heading__title heading-md text-black">
            Материалы с нашим участием
          </h2>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-3 col-sm-6 col-8">
        <div class="card feature-card" style="width: 18rem">
          <img src="{% static '/image/1R1A0289.jpg' %}" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 col-8">
        <div class="card feature-card" style="width: 18rem">
          <img src="{% static '/image/1R1A0289.jpg' %}" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 col-8">
        <div class="card feature-card" style="width: 18rem">
          <img src="{% static '/image/1R1A0289.jpg' %}" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 col-8">
        <div class="card feature-card" style="width: 18rem">
          <img src="{% static '/image/1R1A0289.jpg' %}" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--~~~~~~~~~~~~~~~~~~~~~~~~
     CTA Base 
~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div class="integrator-cta-base">
  <div class="container">
    <div class="integrator-cta-base__wrapper">
      <div class="integrator-cta-base__text-block">
        <h2 class="heading-md">Опишите свою проблему, и мы найдём для неё решение</h2>
      </div>
      <div class="cta-base__button">
        <a href="#" class="integrator-btn btn-fill--up">
          <span>Попробовать бесплатно</span></a>
      </div>
    </div>
  </div>
  <div class="integrator-cta-base_over">
    <img src="{% static '/image/cta/bubble.png' %}" alt="Bubbles" />
  </div>
</div>

{% endblock %}