{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="integrator-section ">
  <div class="container">
    <div class="content-text-block article-block">
      <div class="article-link-back">
        <a href="/blog"> <img src="{% static '/image/icons/arrow-article.png' %}" alt="back"></a>
      </div>
      <h1 class="integrator-heading heading-md">Статья</h1>
    </div>
    <div class="article__info">
      <span class="date">25.01.2026</span>
      <div class="article__info-tags">
        <span class="hash">#Битрикс24</span>
        <span class="hash">#Битрикс24</span>
      </div>
    </div>

    <div class="article__preview-text">
      <p>Мы начали бизнес на картинах по номерам в Covid-19. Предложений было мало, поэтому люди покупали картины по
        цене x5-6 от закупочной. Потом пришли конкуренты, обрушили цены, и я понял, что нужно было делать свои
        картины, с оригинальными сюжетами
      </p>
    </div>

    <div class="article__image">
      <img src="{% static '/image/blog/material.png' %}" alt="">
    </div>

    <div class="article__content">
      <h3>Подзаголовок</h3>
      <p>Мы начали бизнес на картинах по номерам в Covid-19. Предложений было  мало, поэтому люди покупали картины по цене x5-6 от закупочной. Потом  пришли конкуренты, обрушили цены, и я понял, что нужно было делать свои  картины, с оригинальными сюжетами</p>
      <p>Мы начали бизнес на картинах по номерам в Covid-19. Предложений было  мало, поэтому люди покупали картины по цене x5-6 от закупочной. Потом  пришли конкуренты, обрушили цены, и я понял, что нужно было делать свои  картины, с оригинальными сюжетами</p>
    </div>

    <div class="article__content">
      <h3>Подзаголовок</h3>
      <p>Мы начали бизнес на картинах по номерам в Covid-19. Предложений было  мало, поэтому люди покупали картины по цене x5-6 от закупочной. Потом  пришли конкуренты, обрушили цены, и я понял, что нужно было делать свои  картины, с оригинальными сюжетами</p>
      <p>Мы начали бизнес на картинах по номерам в Covid-19. Предложений было  мало, поэтому люди покупали картины по цене x5-6 от закупочной. Потом  пришли конкуренты, обрушили цены, и я понял, что нужно было делать свои  картины, с оригинальными сюжетами</p>
    </div>
  </div>
</div>


<div class="integrator-material-page padding-bottom-150 padding-top-150 ">
  <div class="container">
    <h1 class="integrator-heading-article heading-md">Читайте далее</h1>
    <div class="integrator-row">
      <div class="integrator-materials">
        <div class="integrator-material">
          <div class="integrator-material__image">
            <img src="{% static '/image/blog/material.png' %}" alt="">
          </div>
          <div class="integrator-material__info">
            <div class="integrator-material__text">
              <span class="date">25.01.2026</span>
              <h3 class="integrator-material__title">если "Упал, поднялся" — значит будет выдумка, нытьё и привирание
              </h3>
              <p class="integrator-material__description">Мы начали бизнес на картинах по номерам в Covid-19.
                Предложений
                было мало, поэтому люди покупали картины по цене x5-6 от закупочной. Потом пришли конкуренты, обрушили
                цены, и я понял, что нужно было делать свои картины, с оригинальными сюжетами</p>
            </div>
            <span class="hash">#Битрикс24</span>
          </div>
        </div>
        <div class="integrator-material">
          <div class="integrator-material__image">
            <img src="{% static '/image/blog/material.png' %}" alt="">
          </div>
          <div class="integrator-material__info">
            <div class="integrator-material__text">
              <span class="date">25.01.2026</span>
              <h3 class="integrator-material__title">Новый Битрикс24 Космос: обзор новинок</h3>
              <p class="integrator-material__description">Битрикс24 обновился: работать стало ещё проще, удобнее
                и продуктивнее. Какие новинки вас ждут?</p>
            </div>
            <span class="hash">#Битрикс24</span>
          </div>
        </div>
        <div class="integrator-material">
          <div class="integrator-material__image">
            <img src="{% static '/image/blog/material.png' %}" alt="">
          </div>
          <div class="integrator-material__info">
            <div class="integrator-material__text">
              <span class="date">25.01.2026</span>
              <h3 class="integrator-material__title">если "Упал, поднялся" — значит будет выдумка, нытьё и привирание
              </h3>
              <p class="integrator-material__description">Мы начали бизнес на картинах по номерам в Covid-19.
                Предложений
                было мало, поэтому люди покупали картины по цене x5-6 от закупочной. Потом пришли конкуренты, обрушили
                цены, и я понял, что нужно было делать свои картины, с оригинальными сюжетами</p>
            </div>
            <span class="hash">#Битрикс24</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!--~~~~~~~~~~~~~~~~~~~~~~~~
     CTA Base 
~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div class="integrator-cta-base">
  <div class="container">
    <div class="integrator-cta-base__wrapper">
      <div class="integrator-cta-base__text-block">
        <h2 class="heading-md">Информация - это хорошо, но может стоит применить ее на практике?</h2>
      </div>
      <div class="cta-base__button">
        <a href="#" class="integrator-btn btn-fill--up">
          <span>Начать использовать Битрикс24</span></a>
      </div>
    </div>
  </div>
  <div class="integrator-cta-base_over">
    <img src="{% static '/image/cta/bubble.png' %}" alt="Bubbles" />
  </div>
</div>
{% endblock %}