{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="inner_banner-section">
  <img class="inner_banner-background-image" src={% static '/image/common/inner-bg.png' %} alt="image alt">
  <div class="container">
    <div class="inner_banner-content-block">
      <h3 class="inner_banner-title">Аудит Битрикс24</h3>
      <ul class="banner__page-navigator">
        <li>
          <a href="/">Главная</a>
        </li>
        <li class="active">
          <a href="/about">
            Услуги
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~
    Home 1 : Brand Section
~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div class="brand-section">
  <div class="container">
    <div class="home-6_brands-wrapper-inner">
      <div class="slidercontainer h-100">
        <div class="row align-items-center h-100">
          <div class="slidercontainer rounded">
            <div class="brand-heading">
              <h3 class="brand-heading__title">
                Более 100 компаний выбрали Правильных интеграторов
              </h3>
            </div>
            <div class="slider">
              <div class="logos brands-wrapper">
                <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
                  <img class="icon-brand" src={% static '/image/home/1.png' %} alt="brand-logo">
                </div>
                <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
                  <img class="icon-brand" src={% static '/image/home/2.png' %} alt="brand-logo">
                </div>
                <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
                  <img class="icon-brand" src={% static '/image/home/3.png' %} alt="brand-logo">
                </div>
                <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
                  <img class="icon-brand" src={% static '/image/home/4.png' %} alt="brand-logo">
                </div>
                <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
                  <img class="icon-brand" src={% static '/image/home/5.png' %} alt="brand-logo">
                </div>
                <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
                  <img class="icon-brand" src={% static '/image/home/6.png' %} alt="brand-logo">
                </div>
                <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
                  <img class="icon-brand" src={% static '/image/home/7.png' %} alt="brand-logo">
                </div>
                <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
                  <img class="icon-brand" src={% static '/image/home/8.png' %} alt="brand-logo">
                </div>
                <!-- <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
                      <img class="icon-brand" src={% static '/image/home/9.png'%} alt="brand-logo">
                    </div> -->
                <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
                  <img class="icon-brand" src={% static '/image/home/10.png' %} alt="brand-logo">
                </div>
                <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
                  <img class="icon-brand" src={% static '/image/home/11.png' %} alt="brand-logo">
                </div>
                <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
                  <img class="icon-brand" src={% static '/image/home/12.png' %} alt="brand-logo">
                </div>
                <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
                  <img class="icon-brand" src={% static '/image/home/13.png' %} alt="brand-logo">
                </div>
                <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
                  <img class="icon-brand" src={% static '/image/home/14.png' %} alt="brand-logo">
                </div>
                <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
                  <img class="icon-brand" src={% static '/image/home/15.png' %} alt="brand-logo">
                </div>
                <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
                  <img class="icon-brand" src={% static '/image/home/16.png' %} alt="brand-logo">
                </div>
                <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
                  <img class="icon-brand" src={% static '/image/home/17.png' %} alt="brand-logo">
                </div>
                <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
                  <img class="icon-brand" src={% static '/image/home/18.png' %} alt="brand-logo">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Home 1  : Content Section 1
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="home-1_content-section-1 section-padding-120" id="about">
  <div class="container">
    <div class="row row--custom">
      <div class="offset-xl-1 col-lg-5 col-auto" data-aos-duration="1000" data-aos="fade-left">
        <div class="home-1_content-image-1 content-image--mobile-width">
          <img src="{% static '/image/home-1/discount.jpg' %}" alt="alternative text" />
          <div class="home-1_content-image-1-shape">
            <img src="{% static '/image/home-1/content-image-1-shape.svg' %}" alt="alternative text" />
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-7 col-md-10 col-auto" data-aos-duration="1000" data-aos="fade-right">
        <div class="content">
          <div class="content-text-block">
            <h2 class="content-title heading-md text-black">
              Аудит Битрикс24 — найдём, где система не работает на полную
            </h2>
            <p>
              Если вы уже используете Битрикс24, но чувствуете, что он не приносит ожидаемой отдачи — стоит провести аудит.
            </p>
            <p>
              Мы анализируем систему, находим слабые места и даём конкретные рекомендации по улучшению.           
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="about_feature-section section-padding-120 bg-light-2">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-xxl-5 col-xl-6 col-lg-7 col-md-8 col-sm-10 col-xs-10">
        <div class="section-heading">
          <h2 class="section-heading__title heading-md text-black">
            Аудит Битрикс24<br/>для вас, если:
          </h2>
        </div>
      </div>
    </div>
    <div class="row feature-widget-7-row">
      <div class="col-lg-4 col-md-6 col-xs-8 col-9">
        <div class="feature-widget-7">
          <div class="feature-widget-7__icon-wrapper">
            <img src={% static '/image/about/feature-icon-1.svg' %} alt="feature
            icon">
          </div>
          <div class="feature-widget-7__body">
            <h4 class="feature-widget-7__title">Необходимо оптимизировать работу без лишних затрат</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-8 col-9">
        <div class="feature-widget-7">
          <div class="feature-widget-7__icon-wrapper">
            <img src={% static '/image/about/feature-icon-2.svg' %} alt="feature
            icon">
          </div>
          <div class="feature-widget-7__body">
            <h4 class="feature-widget-7__title">
              Вы хотите увидеть, где есть просадки по эффективности
            </h4>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-8 col-9">
        <div class="feature-widget-7">
          <div class="feature-widget-7__icon-wrapper">
            <img src={% static '/image/about/feature-icon-3.svg' %} alt="feature
            icon">
          </div>
          <div class="feature-widget-7__body">
            <h4 class="feature-widget-7__title">В ближайшем будущем планируется масштабирование системы</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Home 2 : Feature Section 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<div class="home-2_feature-section section-padding">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-xxl-6 col-lg-7 col-md-9">
        <div class="section-heading">
          <h2 class="section-heading__title heading-md text-black">В результате аудита вы получите файл с рекомендациями следующего содержания</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center gutter-y-default">
      <div class="col-lg-4 col-md-6 aos-init aos-animate" data-aos-duration="1000" data-aos="fade-left"
        data-aos-delay="700">
        <div class="feature-card h-100">
          <div class="feature-card__body">
            <h3 class="feature-card__title" data-title>Заявки</h3>
            <div data-text>
            <p>Проверим, все ли существующие в компании каналы поступления заявок подключены к Битрикс24, все ли необходимые для аналитики данные передаются. Корректно ли настроена воронка обработки этих заявок и что нужно исправить.</p>
          </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 aos-init aos-animate" data-aos-duration="1000" data-aos="fade-left"
        data-aos-delay="700">
        <div class="feature-card h-100">
          <div class="feature-card__body">
            <h3 class="feature-card__title" data-title>Продажи</h3>
            <div data-text>
            <p>Проанализируем следующие параметры вашей CRM-системы: корректность настройки воронок продаж, отсутствие избыточных стадий, настройку причин отказов, структуру данных в сделках, правила заполнения полей. Выясним, правильно ли сотрудники ведут свою ежедневную работу в сделках. Составим список предложений.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 aos-init aos-animate" data-aos-duration="1000" data-aos="fade-left"
        data-aos-delay="700">
        <div class="feature-card h-100">
          <div class="feature-card__body">
            <h3 class="feature-card__title" data-title>Клиентская база</h3>
            <div data-text>
            <p>Выясним: корректно ли заполняются карточки клиентов в Битрикс24, достаточно ли данных для сегментации клиентской базы. Предложим изменения, с помощью которых можно будет использовать клиентскую базу как важный актив компании, который должен работать и приносить прибыль. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center gutter-y-default mt-5">
      <div class="col-lg-4 col-md-6 aos-init aos-animate" data-aos-duration="1000" data-aos="fade-left"
        data-aos-delay="700">
        <div class="feature-card h-100">
          <div class="feature-card__body">
            <h3 class="feature-card__title" data-title>Безопасность</h3>
            <div data-text>
            <p>Выясним, корректно ли настроены права доступа ко всем разделам CRM-системы. Выявим, что необходимо исправить, чтобы сотрудники не могли экспортировать или случайно удалить клиентскую базу или изменить настройки системы.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 aos-init aos-animate" data-aos-duration="1000" data-aos="fade-left"
        data-aos-delay="700">
        <div class="feature-card h-100">
          <div class="feature-card__body">
            <h3 class="feature-card__title" data-title>Автоматизация</h3>
            <div data-text>
            <p>Проверим наличие избыточной "лишней" автоматизации, которая в холостую шлет уведомления или просто занимает место на диске. Дадим рекомендации, какие этапы процесса работы с клиентом можно автоматизировать, чтобs увеличить конверсию лида в продажу.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 aos-init aos-animate" data-aos-duration="1000" data-aos="fade-left"
        data-aos-delay="700">
        <div class="feature-card h-100">
          <div class="feature-card__body">
            <h3 class="feature-card__title" data-title>Разберем вашу проблему</h3>
            <div data-text>
            <p>Разберем ваши вопросы или проблемы CRM-системы, которые вас беспокоят. Составим рекомендации: расскажем, как использовать Битрикс24 для достижения ваших бизнес-целей.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--~~~~~~~~~~~~~~~~~~~~~~~~
     CTA Base 
~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div class="cta-base">
  <div class="container">
    <div class="cta-base__wrapper border-bottom-dark">
      <div class="row align-items-center justify-content-center justify-content-md-between gutter-y-20">
        <div class="col-xxl-5 col-xl-6 col-lg-6 col-md-7 col-10">
          <div class="cta-base__text-block">
            <h2 class="heading-md text-white">1800 BYN</h2>
            <p class="text-white">до 20 рабочих дней</p>
          </div>
        </div>
        <div class="col-xl-auto col-lg-4 col-md-5 col-xs-8 col-10">
          <div class="cta-base__button">
            <a href="./contact.html" class="btn-masco rounded-pill btn-fill--up">
              <span>Заказать аудит Битрикс24</span></a>
            <div class="cta-base__button-shape">
              <img src="{% static '/image/home-1/cta-shape.svg' %}" alt="image alt" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Home 1 : Service Section
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div class="home-1_service-section padding-bottom-120" id="feature">
  <div class="home-1_service-section-shape">
    <img src="{% static '/image/home-1/service-section-shape.svg' %}" alt="image alt" />
  </div>
  <div class="container">
    <div class="home-1_service-section-wrapper">
      <div class="row justify-content-center">
        <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-9">
          <div class="section-heading text-center">
            <h2 class="section-heading__title heading-md text-black">
              Этапы Аудита Битрикс24
            </h2>
          </div>
        </div>
      </div>
      <div class="row gutter-y-default justify-content-center">
        <div class="col-xl-4 col-lg-4 col-md-10">
          <div class="service-card hvr-fill" data-aos-duration="1000" data-aos="fade-right" style="height: 100%;">
            <div class="service-card__body">
              <h3 class="service-card__title">
                01
              </h3>
              <p>
                Оставьте запрос на аудит и в ближайшее время с вами свяжется менеджер.
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-10">
          <div class="service-card hvr-fill" data-aos-duration="1000" data-aos="fade-left" style="height: 100%;">
            <div class="service-card__body">
              <h3 class="service-card__title">02</h3>
              <p>
                Подписание договора о сотрудничестве и NDA (соглашения о неразглашении).
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-10">
          <div class="service-card hvr-fill" data-aos-duration="1000" data-aos="fade-right" style="height: 100%;">
            <div class="service-card__body">
              <h3 class="service-card__title">03</h3>
              <p>
                Предоставление доступа к вашему порталу с правами интегратора или администратора.
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-10">
          <div class="service-card hvr-fill" data-aos-duration="1000" data-aos="fade-right" style="height: 100%;">
            <div class="service-card__body">
              <h3 class="service-card__title">04</h3>
              <p>
                Проведение аудита Битрикс24.
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-10">
          <div class="service-card hvr-fill" data-aos-duration="1000" data-aos="fade-left" style="height: 100%;">
            <div class="service-card__body">
              <h3 class="service-card__title">05</h3>
              <p>
                Подготовка и предоставление отчета по аудиту в формате PDF.
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-10">
          <div class="service-card hvr-fill" data-aos-duration="1000" data-aos="fade-right" style="height: 100%;">
            <div class="service-card__body">
              <h3 class="service-card__title">06</h3>
              <p>
                Созвон для обсуждения результатов аудита и получения консультации.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Home 1  : Content Section 2
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="home-1_content-section-2 padding-bottom-120">
  <div class="container">
    <div class="row row--custom">
      <div class="col-xl-5 col-lg-5 col-auto" data-aos-duration="1000" data-aos="fade-right">
        <div class="home-1_content-image-2 content-image--mobile-width">
          <img src="{% static '/image/home-1/sert.jpg' %}" alt="alternative text" />
          <div class="home-1_content-image-2-shape">
            <img src="{% static '/image/home-1/content-image-2-shape.svg' %}" alt="alternative text" />
          </div>
        </div>
      </div>
      <div class="offset-xl-1 col-xl-6 col-lg-7 col-md-11" data-aos-duration="1000" data-aos="fade-left">
        <div class="content">
          <div class="content-text-block">
            <h2 class="content-title heading-md text-black">
              Правильные интеграторы - опыт, которому можно доверять
            </h2>
            <p>
              Компания “Правильные интеграторы” входит в ТОП-10 интеграторов CRM
              Битрикс24 в Беларуси.
            </p>
          </div>
          <div class="content-list-block">
            <ul class="content-list">
              <li class="content-list-item">
                <img src="{% static '/image/icons/icon-check-blue.svg' %}" alt="alternative text" />
                <div class="">
                  2 недели гарантийного обслуживания
                  <p>После завершения всех циклов правок, будет проведено обучение сотрудников и руководителей. Далее у
                    вас будет 2 недели для того, чтобы задать вопросы, а также предложить правки в рамках согласованного
                    списка работ.</p>
                </div>
              </li>
              <li class="content-list-item">
                <img src="{% static '/image/icons/icon-check-blue.svg' %}" alt="alternative text" />
                <div class="">
                  Оформленная База знаний в Битрикс24
                  <p>Все проводимые обучения будут записаны и оформлены в базу знаний в вашем Битрикс24. Вы с легкостью
                    сможете при необходимости восстановить что-то в памяти, а также демонстрировать видео новым
                    сотрудникам. Кроме того мы бесплатно загрузим вам наши базовые обучающие материалы по работе с CRM
                    Битрикс24.</p>
                </div>
              </li>
              <li class="content-list-item">
                <img src="{% static '/image/icons/icon-check-blue.svg' %}" alt="alternative text" />
                <div class="">
                  Дальнейшую техническую и консалтинговую поддержку
                  <p>После завершения гарантийного периода мы предложим вам различные форматы дальнейшего сотрудничества
                    для развития вашей компании с помощью инструментов Битрикс24.</p>
                </div>
              </li>
            </ul>
            <div class="text-center mt-5">
              <a href="./contact.html" class="btn-masco rounded-pill btn-fill--up">
                <span>Заказать внедрение</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~
    Home 4 : Testimonial Section
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div class="home-4_testimonial-section padding-top-120 padding-bottom-120 bg-cream" bis_skin_checked="1">
  <div class="container" bis_skin_checked="1">
    <div class="section-heading">
      <div class="row justify-content-md-between">
        <div class="col-xl-6 col-md-8">
          <h2 class="section-heading__title heading-md text-black text-start">
            Отзывы наших клиентов
          </h2>
        </div>
        <div class="col-xl-3 col-md-4">
          <div class="section-heading__button text-end">
            <a href="testimonial.html" class="btn-masco btn-masco rounded-pill btn-fill--up">
              <span>Все отзывы</span></a>
          </div>
        </div>
      </div>
    </div>

    <div class="row gutter-y-30 justify-content-center" bis_skin_checked="1">
      <div class="col-lg-6 col-md-10 aos-init aos-animate" data-aos="fade-left" data-aos-delay="100"
        bis_skin_checked="1">
        <div class="testimonial-widget-2" bis_skin_checked="1">
          <div class="testimonial-widget-2__body" bis_skin_checked="1">
            <p>
              Сотрудничество с этой компанией стало для нас настоящим открытием! Их профессионализм и внимание к деталям
              впечатляют. </p>
            <div class="testimonial-widget-2__user-block" bis_skin_checked="1">
              <img src="{% static '/image/icons/h03-feature-2.svg' %}" alt="image alt">
              <div class="author-info" bis_skin_checked="1">
                <h4 class="testimonial-widget-2__user-name">Анна Смирнова</h4>
                <span class="testimonial-widget-2__user-position">Менеджер, Компания Б</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-10 aos-init aos-animate" data-aos="fade-left" data-aos-delay="200"
        bis_skin_checked="1">
        <div class="testimonial-widget-2" bis_skin_checked="1">
          <div class="testimonial-widget-2__body" bis_skin_checked="1">
            <p>
              Мы получили отличный результат благодаря их команде. Рекомендуем всем, кто ищет надежного партнера! </p>
            <div class="testimonial-widget-2__user-block" bis_skin_checked="1">
              <img src="{% static '/image/icons/h03-feature-1.svg' %}" alt="image alt">
              <div class="author-info" bis_skin_checked="1">
                <h4 class="testimonial-widget-2__user-name">Иван Петров</h4>
                <span class="testimonial-widget-2__user-position">Директор, Компания А</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Home 1 : Testimonial Section 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="home-1_testimonial-section section-padding-120 bg-light-2" id="testimonial">
  <div class="container">
    <div class="testimonial-widget-large">
      <div class="row row--custom">
        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-10" data-aos-duration="1000" data-aos="fade-right">
          <div class="testimonial-widget-large__image">
            <img src="{% static '/image/1R1A0289.jpg' %}" alt="handsome-smiling-bearded-man-glasses-working-laptop" />
          </div>
        </div>
        <div class="col-lg-6 col-md-10 col-auto" data-aos-duration="1000" data-aos="fade-left">
          <div class="testimonial-widget-large__body">
            <div class="testimonial-widget-large__icon">
              <img src="{% static '/image/home-1/testimonial-icon.svg' %}" alt="testimonial icon" />
            </div>
            <p class="testimonial-widget-large__review-text">
              Мы не останавливаемся на внедрении Битрикс24. Мы обучаем ваших
              сотрудников и сопровождаем вас на протяжении многих лет, чтобы вы
              максимально использовали возможности этой CRM. Мы выстраиваем
              партнерские отношения и помогаем вам достичь долгосрочных целей.
            </p>

            <h4 class="testimonial-widget-large__user-name mt-10">
              Роман Сытько
            </h4>
            <span class="testimonial-widget-large__user-position">
              CEO Правильные Интеграторы
            </span>
            <div class="testimonial-widget-large__link">
              <a href="#" class="btn-link btn-arrow">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Home 8  : Contact Section 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<div class="cta-home-8 pt-5 pb-5" bis_skin_checked="1">
  <div class="container" bis_skin_checked="1">
    <div class="cta-home-8-wrapper" bis_skin_checked="1">
      <div class="cta-home-8-shape-wrapper" bis_skin_checked="1">
        <div class="cta-home-8-shape" bis_skin_checked="1">
          <img src="{% static '/image/cta/cta-8-shape.png' %}" alt="image alt">
        </div>
      </div>
      <div class="cta-content-block" bis_skin_checked="1">
        <div class="cta-text-block" bis_skin_checked="1">
          <h2 class="heading-md text-cream">Опишите свою проблему, и мы найдем для нее решение</h2>
          <p>
            Заполните форму и мы свяжемся с вами для проведения бесплатной консультации
          </p>
        </div>
        <div class="cta-button-group" bis_skin_checked="1">
          <a class="btn-masco btn-primary-l08 btn-fill--up rounded-pill" href="#">
            <span>Оставить завку</span>
          </a>
          <a class="btn-masco btn-outline-l08 btn-fill--up rounded-pill" href="#">
            <span>Посмотреть услуги</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<!--~~~~~~~~~~~~~~~~~~~~~~~~
     CTA Base 
~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div class="cta-base">
  <div class="container">
    <div class="cta-base__wrapper border-bottom-dark">
      <div class="row align-items-center justify-content-center justify-content-md-between gutter-y-20">
        <div class="col-xxl-5 col-xl-6 col-lg-6 col-md-7 col-10">
          <div class="cta-base__text-block">
            <h2 class="heading-md text-white">Приступим к работе?</h2>
          </div>
        </div>
        <div class="col-xl-auto col-lg-4 col-md-5 col-xs-8 col-10">
          <div class="cta-base__button">
            <a href="./contact.html" class="btn-masco rounded-pill btn-fill--up">
              <span>Заполнить заявку</span></a>
            <div class="cta-base__button-shape">
              <img src="{% static '/image/home-1/cta-shape.svg' %}" alt="image alt" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}