{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="color-scheme" content="dark light">
  <title>
    Masco HTML Template
  </title>
  <link rel="shortcut icon" href="./image/favicon.png" type="image/x-icon">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <!-- Plugin'stylesheets  -->
  <link rel="stylesheet" type="text/css" href={% static "/fonts/typography/fonts.css" %}>
  <link rel="stylesheet" href={% static "/fonts/fontawesome/css/all.min.css" %}>
  <link rel="stylesheet" type="text/css" href={% static "/plugins/aos/aos.min.css" %}>
  <link rel="stylesheet" type="text/css" href={% static "/plugins/fancybox/jquery.fancybox.min.css" %}>
  <!-- Vendor stylesheets  -->
  <link rel="stylesheet" type="text/css" href={% static "/plugins/bootstrap/dist/css/bootstrap.min.css" %}>
  <link rel="stylesheet" type="text/css" href={% static "/css/style.css" %}>
  <link rel="stylesheet" type="text/css" href={% static "./css/demo.css" %}>
  <link rel="stylesheet" type="text/css" href={% static "./css/integrator.css" %}>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Syne:wght@500;600;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@500;600;700;800;900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500;600;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
  </style>


  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap" rel="stylesheet">


</head>

<body>
  <div class="preloader-wrapper">
    <div class="lds-ellipsis">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="page-wrapper overflow-hidden">
    <!--~~~~~~~~~~~~~~~~~~~~~~~~
     Header Area
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <header class="site-header integrator-site-header site-header--transparent site-header--sticky bg--primary">
      <div class="container">
        <nav class="navbar site-navbar integrator-site-navbar">
          <!--~~~~~~~~~~~~~~~~~~~~~~~~
            Brand Logo
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
          <div class="brand-logo">
            <a href="#">
              <!-- light version logo (logo must be black)-->
              <img class="logo-light brand-logo-width" src="{% static '/image/brand-logo/Logo-dark.png' %} "
                alt="brand logo">
            </a>
          </div>
          <div class="menu-block-wrapper">
            <div class="menu-overlay"></div>
            <nav class="menu-block" id="append-menu-header">
              <div class="integrator-mobile-menu-head mobile-menu-head">
                <a href="index.html">
                  <img class="logo-light brand-logo-width" src="{% static '/image/brand-logo/Logo-dark.png' %} "
                    alt="brand logo">
                </a>
                <div class="current-menu-title"></div>
                <div class="mobile-menu-close">&times;</div>
              </div>
              <ul class="integrator-menu-main site-menu-main">
                <li class="nav-item nav-item-has-children">
                  <a href="#" class="nav-link-item drop-trigger">Компания<i class="fas fa-angle-down"></i>
                  </a>
                  <div class="sub-menu" id="submenu-1">
                    <ul class="sub-menu_list">
                      <li class="sub-menu_item">
                        <a href="{% url 'about' %}">
                          <span class="menu-item-text">О нас</span>
                        </a>
                      </li>
                      <li class="sub-menu_item">
                        <a href="{% url 'company' %}">
                          <span class="menu-item-text">Наша команда</span>
                        </a>
                      </li>
                      <li class="sub-menu_item">
                        <a href="{% url 'reviews' %}">
                          <span class="menu-item-text">Отзывы</span>
                        </a>
                      </li>
                      <li class="sub-menu_item">
                        <a href="{% url 'cases' %}">
                          <span class="menu-item-text">Кейсы</span>
                        </a>
                      </li>
                      <li class="sub-menu_item">
                        <a href="{% url 'blog' %}">
                          <span class="menu-item-text">Блог</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="nav-item nav-item-has-children">
                  <a href="{% url 'bitrix' %}" class="nav-link-item drop-trigger">Битрикс24<i
                      class="fas fa-angle-down"></i>
                  </a>
                  <div class="sub-menu" id="submenu-3">
                    <ul class="sub-menu_list">
                      <li class="sub-menu_item nav-item-has-children child-item">
                        <a href="{% url 'bitrix' %}" class="sub-menu__item-link">
                          <span class="menu-item-text">Возможности Битрикс24</span>
                        </a>
                      </li>
                      <li class="sub-menu_item nav-item-has-children child-item">
                        <a class="sub-menu__item-link" href="{% url 'licence' %}">
                          <span class="menu-item-text">Лицензии</span>
                          <i class="fas fa-angle-right"></i>
                        </a>
                        <div class="sub-menu child-sub" id="submenu-11">
                          <ul class="sub-menu_list">
                            <li class="sub-menu_item">
                              <a href="{% url 'oblako' %}">
                                <span class="menu-item-text">Облачные лицензии Битрикс24</span>
                              </a>
                            </li>
                            <li class="sub-menu_item">
                              <a href="{% url 'korobka' %}">
                                <span class="menu-item-text">Коробочные лицензии Битрикс24</span>
                              </a>
                            </li>
                            <li class="sub-menu_item">
                              <a href="{% url 'prodlenie' %}">
                                <span class="menu-item-text">Продление Битрикс24</span>
                              </a>
                            </li>
                            <li class="sub-menu_item">
                              <a href="{% url 'market' %}">
                                <span class="menu-item-text">Подписка на маркетплейс Битрикс24</span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="nav-item nav-item-has-children">
                  <a href="{% url 'services' %}" class="nav-link-item drop-trigger">Услуги<i
                      class="fas fa-angle-down"></i>
                  </a>
                  <div class="sub-menu" id="submenu-3">
                    <ul class="sub-menu_list">
                      <li class="sub-menu_item nav-item-has-children child-item">
                        <a href="/vnedrenie-paketnoe" class="sub-menu__item-link">
                          <span class="menu-item-text">Пакетное внедрение Битрикс24</span>
                        </a>
                      </li>
                      <li class="sub-menu_item nav-item-has-children child-item">
                        <a href="/vnedrenie-proektnoe" class="sub-menu__item-link">
                          <span class="menu-item-text">Проектное внедрение Битрикс24</span>
                        </a>
                      </li>
                      <li class="sub-menu_item nav-item-has-children child-item">
                        <a href="{% url 'audit' %}" class="sub-menu__item-link">
                          <span class="menu-item-text">Аудит Битрикс24</span>
                        </a>
                      </li>
                      <li class="sub-menu_item nav-item-has-children child-item">
                        <a href="{% url 'podderzka' %}" class="sub-menu__item-link">
                          <span class="menu-item-text">Поддержка коробочных Битрикс24</span>
                        </a>
                      </li>
                      <li class="sub-menu_item nav-item-has-children child-item">
                        <a href="{% url 'dorabotka' %}" class="sub-menu__item-link">
                          <span class="menu-item-text">Разработка и настройка интеграций с Битрикс24</span>
                        </a>
                      </li>
                      <li class="sub-menu_item nav-item-has-children child-item">
                        <a href="/vnedrenie-bi" class="sub-menu__item-link">
                          <span class="menu-item-text">Настройка BI-отчетов (дашбордов)</span>
                        </a>
                      </li>
                      <li class="sub-menu_item nav-item-has-children child-item">
                        <a href="/obuchenie-bitrix" class="sub-menu__item-link">
                          <span class="menu-item-text">Обучение битрикс24</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="nav-item ">
                  <a href="{% url 'contact' %}" class="nav-link-item">Контакты
                  </a>

                </li>
              </ul>
            </nav>
          </div>
          <!--~~~~~~~~~~~~~~~~~~~~~~~~
          mobile menu trigger
         ~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
          <div class="mobile-menu-trigger">
            <span></span>
          </div>
          <!--~~~~~~~~~~~~~~~~~~~~~~~~
            Mobile Menu Hamburger Ends
          ~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
          <div class="integrator-header-cta-btn-wrapper header-cta-btn-wrapper">
            <a href="#" class="integrator-btn integrator-btn-secondary">
              <span>+375-33-683-00-21</span>
            </a>
            <a href="#" class="integrator-btn integrator-btn-light btn-fill--up">
              <span>Войти</span></a>
            <a href="#" class="integrator-btn btn-fill--up">
              <span>Попробовать бесплатно</span></a>
          </div>
        </nav>
      </div>
    </header>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~
     navbar-
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~-->



    {% block content %}
    {% endblock %}




    <div class="footer integrator-footer footer-padding-default footer--dark-v1">
      <div class="container">
        <div class="integrator-footer-main">
          <div class="integrator-footer-branding">
            <div class="footer__content-block">
              <div class="footer__content-text">
                <div class="footer-brand">
                  <img class="logo-light brand-logo-width" src="{% static '/image/brand-logo/Logo-white.png' %} "
                    alt="brand logo">
                </div>
              </div>
              <div class="integrator-footer__content-text">
                <a href="tel:375339015703">+375-33-901-57-03</a>
                <a href="mailto:info@integrators.by">info@integrators.by</a>
                <p>Минск, Мельникайте, 8 (2 подъезд, 10 этаж)</p>
              </div>
              <ul class="integrator-list-social list-social">
                <!-- <li>
                  <a href="https://www.facebook.com/integrators.by">
                    <i class="fa-brands fa-facebook-f"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/company/integrators-by/">
                    <i class="fa-brands fa-linkedin"></i>
                  </a>
                </li> -->
                <li>
                  <a href="https://www.instagram.com/integrators.by">
                    <i class="fa-brands fa-instagram"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.youtube.com/@integrators-by">
                    <i class="fa-brands fa-youtube"></i>
                  </a>
                </li>
                <!-- <li>
                  <a href="https://www.tiktok.com/@integrators.by">
                    <i class="fa-brands fa-tiktok"></i>
                  </a>
                </li> -->
                <li>
                  <a href="https://web.telegram.org/k/#@integratorsby">
                    <i class="fa-brands fa-telegram"></i>
                  </a>
                </li>
                <li>
                  <a href="https://vk.com/integratorsby">
                    <i class="fa-brands fa-vk"></i>
                  </a>
                </li>
              </ul>
              <div class="integrator-list-pay">
                <a href="#" style="width: fit-content;"><img src="{% static '/image/epos.svg' %} " alt="epos"
                    width="113px"></a>
                <a href="#" style="width: fit-content;"><img src="{% static '/image/erip.svg' %} " alt="erip"
                    width="113px"></a>
              </div>
            </div>
          </div>
          <div class="integrator-footer-menu">
            <div>
              <h3 class="footer-title">Компания</h3>
              <ul class="footer-list">
                <li>
                  <a href="{% url 'about' %}">
                    О нас
                  </a>
                </li>
                <li>
                  <a href="{% url 'company' %}">
                    Наша команда
                  </a>
                </li>
                <li>
                  <a href="{% url 'reviews' %}">
                    Отзывы
                  </a>
                </li>
                <li>
                  <a href="{% url 'cases' %}">
                    Кейсы
                  </a>
                </li>
                <li>
                  <a href="{% url 'blog' %}">
                    Блог
                  </a>
                </li>
              </ul>
            </div>
            <div>
              <h3 class="footer-title">Битрикс24</h3>
              <ul class="footer-list">
                <li>
                  <a href="{% url 'licence' %}">
                    Лицензии
                  </a>
                </li>
                <li>
                  <a href="{% url 'oblako' %}">
                    Облачные лицензии Битрикс24
                  </a>
                </li>
                <li>
                  <a href="{% url 'korobka' %}">
                    Коробочные лицензии Битрикс24
                  </a>
                </li>
                <li>
                  <a href="{% url 'prodlenie' %}">
                    Продление Битрикс24
                  </a>
                </li>
                <li>
                  <a href="{% url 'market' %}">
                    Подписка на маркетплейс Битрикс24
                  </a>
                </li>
              </ul>
            </div>
            <div>
              <h3 class="footer-title">Услуги</h3>
              <ul class="footer-list">
                <li>
                  <a href="/vnedrenie-paketnoe">
                    Пакетное внедрение Битрикс24
                  </a>
                </li>
                <li>
                  <a href="/vnedrenie-proektnoe">
                    Проектное внедрение Битрикс24
                  </a>
                </li>
                <li>
                  <a href="{% url 'audit' %}">
                    Аудит Битрикс24
                  </a>
                </li>
                <li>
                  <a href="{% url 'podderzka' %}">
                    Поддержка коробочных Битрикс24
                  </a>
                </li>
                <li>
                  <a href="{% url 'dorabotka' %}">
                    Разработка и настройка интеграций с Битрикс24
                  </a>
                </li>
                <li>
                  <a href="/vnedrenie-bi">
                    Настройка BI-отчетов (дашбордов)
                  </a>
                </li>
                <li>
                  <a href="/obuchenie-bitrix">
                    Обучение битрикс24
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="integrator-copyright-block">
            <p>© 2025 Все права защищены.</p>
            <p>ООО «Правильные Интеграторы Групп», УНП 192512915</p>
            <p><a href="">Политика обработки персональных данных</a></p>
          </div>
      </div>
    </div>
    <!-- Vendor Scripts -->
    <script src={% static "/plugins/jquery/jquery.min.js" %}></script>
    <script src={% static "/plugins/jquery/jquery-migrate.min.js" %}></script>
    <script src={% static "/plugins/bootstrap/dist/js/bootstrap.bundle.min.js" %}></script>
    <!-- Plugin's Scripts -->
    <script src={% static "/plugins/inlineSvg/inlineSvg.min.js" %}></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src={% static "plugins/fancybox/jquery.fancybox.min.js" %}></script>
    <script src={% static "plugins/aos/aos.min.js" %}></script>
    <script src={% static "./plugins/isotope/isotope.pkgd.min.js" %}></script>
    <script src={% static "./plugins/isotope/packery.pkgd.min.js" %}></script>
    <script src={% static "./plugins/isotope/image.loaded.js" %}></script>
    <script src={% static "plugins/slick/slick.min.js" %}></script>
    <script src={% static "./plugins/countdown/jquery.countdown.js" %} defer></script>
    <script src={% static "js/menu.js" %}></script>
    <script src={% static "js/custom.js" %}></script>
    <!-- Activation Script -->
</body>

</html>