{% extends 'base.html' %} {% load static %} {% block content %}
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Home 8  : Hero Section 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="integrator-page-full integrator-section integrator-header__plus" id="hero" bis_skin_checked="1">
  <div class="container" bis_skin_checked="1">
    <div class="row row--custom" bis_skin_checked="1">
      <div class="col-lg-12 col-md-12" bis_skin_checked="1">
        <div class="home-8_hero-content-block" bis_skin_checked="1">
          <div class="home-8_hero-text-block" bis_skin_checked="1">
            <h1 class="integrator-heading heading-l hero-content__title text-center">
              Настройка BI-отчетов
            </h1>
            <p class="integrator-text text-center mt-5">Визуализируйте ключевые показатели компании в удобных дашбордах
              и принимайте решения на основе точных данных. Мы создадим понятные BI-отчёты именно под ваши задачи.</p>
          </div>
          <div class="integrator-row">
            <a href="#" class="integrator-btn btn-fill--up">
              <span>Заказать настройку</span>
            </a>
            <a href="#" class="integrator-btn integrator-btn-light btn-fill--up">
              <span>Получить консультацию</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    BRAND Section 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<div class="integrator-brand-section integrator-brand-section__logo">
  <div class="brand-heading">
    <h3 class="integrator-text text-center">
      Более 100 компаний выбрали Правильных интеграторов
    </h3>
  </div>
  <div class="slidercontainer rounded">
    <div class="slider">
      <div class="logos brands-wrapper">
        <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
          <img class="icon-brand" src={% static '/image/home/1.png' %} alt="brand-logo">
        </div>
        <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
          <img class="icon-brand" src={% static '/image/home/2.png' %} alt="brand-logo">
        </div>
        <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
          <img class="icon-brand" src={% static '/image/home/3.png' %} alt="brand-logo">
        </div>
        <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
          <img class="icon-brand" src={% static '/image/home/4.png' %} alt="brand-logo">
        </div>
        <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
          <img class="icon-brand" src={% static '/image/home/5.png' %} alt="brand-logo">
        </div>
        <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
          <img class="icon-brand" src={% static '/image/home/6.png' %} alt="brand-logo">
        </div>
        <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
          <img class="icon-brand" src={% static '/image/home/7.png' %} alt="brand-logo">
        </div>
        <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
          <img class="icon-brand" src={% static '/image/home/8.png' %} alt="brand-logo">
        </div>
        <!-- <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
            <img class="icon-brand" src={% static '/image/home/9.png'%} alt="brand-logo">
          </div> -->
        <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
          <img class="icon-brand" src={% static '/image/home/10.png' %} alt="brand-logo">
        </div>
        <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
          <img class="icon-brand" src={% static '/image/home/11.png' %} alt="brand-logo">
        </div>
        <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
          <img class="icon-brand" src={% static '/image/home/12.png' %} alt="brand-logo">
        </div>
        <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
          <img class="icon-brand" src={% static '/image/home/13.png' %} alt="brand-logo">
        </div>
        <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
          <img class="icon-brand" src={% static '/image/home/14.png' %} alt="brand-logo">
        </div>
        <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
          <img class="icon-brand" src={% static '/image/home/15.png' %} alt="brand-logo">
        </div>
        <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
          <img class="icon-brand" src={% static '/image/home/16.png' %} alt="brand-logo">
        </div>
        <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
          <img class="icon-brand" src={% static '/image/home/17.png' %} alt="brand-logo">
        </div>
        <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
          <img class="icon-brand" src={% static '/image/home/18.png' %} alt="brand-logo">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Extention Section
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div class="integrator-extention-section padding-bottom-150 padding-top-150" id="extention">
  <div class="container">
    <div class="integrator-section-heading">
      <h2 class="integrator-subheading heading-md text-center">
        Зачем нужны BI-дашборды
      </h2>
      <p class="integrator-text text-center">Аналитика, которая помогает принимать решения</p>
    </div>
    <div class="integrator-extention-points extention-points-three">
      <div class="extention-point point-three">
        <span class="poin-number">
          01
        </span>
        <h3 class="extention-subtitle">Быстрое отслеживание KPI и их эффективности</h3>
        <div class="integrator-cta-base_over">
          <img src="{% static '/image/cta/bubbles-triple-green.png' %}" alt="Bubbles" />
        </div>
      </div>
      <div class="extention-point point-three">
        <span class="poin-number">
          02
        </span>
        <h3 class="extention-subtitle">Понимание, где бизнес теряет прибыль</h3>
        <div class="integrator-cta-base_over">
          <img src="{% static '/image/cta/bubbles-bottom-yellow.png' %}" alt="Bubbles" />
        </div>
      </div>
      <div class="extention-point point-three">
        <span class="poin-number">
          03
        </span>
        <h3 class="extention-subtitle">Контроль загрузки сотрудников и эффективности процессов</h3>
        <div class="integrator-cta-base_over">
          <img src="{% static '/image/cta/bubbles-buttom.png' %}" alt="Bubbles" />
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Help Section
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div class="integrator-help-section padding-bottom-150 padding-top-150" id="extention">
  <div class="container">
    <div class="section-heading">
      <h2 class="integrator-subheading heading-md text-center">
        Типы интеграций
      </h2>
      <p class="integrator-text text-center help-section-descr">Надёжная работа цифровых инструментов во многом зависит
        от того, насколько корректно они взаимодействуют друг с другом. Чтобы процессы были быстрыми и удобными, важно
        грамотно настроить их связку.</p>
    </div>
    <div class="integrator-help">
      <div class="integrator-row">
        <div class="integrator-help__collage">
          <div class="integrator-help-points-double">
            <div class="interesting-point">
              <span class="poin-number">
                01
              </span>
              <h3 class="interesting-title">Настройку BI-отчётов по продажам, маркетингу, задачам и CRM.</h3>
            </div>
            <div class="interesting-point">
              <span class="poin-number">
                02
              </span>
              <h3 class="interesting-title">Интеграцию с Power BI и Google Data Studio.</h3>
            </div>
          </div>
          <div class="integrator-help-points-full">
            <div class="interesting-point">
              <div>
                <span class="poin-number">
                  03
                </span>
                <h3 class="interesting-title">Создание визуальных панелей для руководителей и отделов.</span>
                </h3>
              </div>
              <div class="integrator-cta-base_over">
                <img src="{% static '/image/cta/bubbles-triple-blue.png' %}" alt="Bubbles" />
              </div>
            </div>
          </div>
        </div>
        <div class="integrator-help__collage-img">
          <img src="{% static '/image/team/collage.png' %}" alt="team" />
        </div>
      </div>
    </div>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~
     CTA Inner 
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <div class="integrator-cta-inner">
      <div class="container">
        <div class="integrator-cta-base__wrapper">
          <div class="integrator-cta-base__text-block">
            <h2 class="heading-md">Понятные BI-дашборды и аналитика без лишних данных за <span class="primary">2 рабочих дня</span>
            </h2>
            <p class="integrator-text">Мы настраиваем BI-отчёты так, чтобы вы видели главное: продажи, эффективность,
              KPI и загрузку команды. Наглядные дашборды помогают быстро принимать решения и держать бизнес
              под контролем — без сложных таблиц и ручной аналитики.</p>
            <p class="integrator-text text-center help-section-descr">Стоимость услуги: от 360 BYN</p>
          </div>
          <div class="cta-base__button">
            <a href="#" class="integrator-btn btn-fill--up">
              <span>Получить BI-отчеты</span></a>
          </div>
        </div>
      </div>
      <div class="integrator-cta-base_over">
        <img src="{% static '/image/cta/bubbles-more.png' %}" alt="Bubbles" />
      </div>
    </div>
  </div>
</div>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    TOP Section
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<div class="integrator-top-section padding-bottom-150 padding-top-150">
  <div class="container">
    <div class="content">
      <div class="content-text-block">
        <h2 class="integrator-subheading heading-md text-center">
          Входим в <span class="primary">ТОП-10</span> интеграторов CRM Битрикс24 в Беларуси
        </h2>
        <p class="integrator-text text-center">
          Правильные интеграторы - опыт, которому можно доверять
        </p>
      </div>
    </div>
    <div class="integrator-top">
      <div class="integrator-row integrator-top-row">
        <div class="integrator-top__images">
          <div class="integrator-top__images-left">
            <img src="{% static '/image/about/cert1.png' %}" alt="certificat">
            <img src="{% static '/image/about/cert2.png' %}" alt="certificat">
          </div>
          <div class="integrator-top__images-right">
            <img src="{% static '/image/about/cert3.png' %}" alt="certificat">
            <img src="{% static '/image/about/cert4.png' %}" alt="certificat" class="img-top-large">
          </div>
        </div>
        <div class="integrator-top__points">
          <div class="integrator-feature-item" data-base data-contact data-auto>
            <div class="interesting-image"><img src="{% static '/image/icons/task-1.png' %}" alt="image alt"
                class="inline-svg" /></div>
            <div class="integrator-feature-list">
              <h5>2 недели гарантийного обслуживания</h5>
              <p class="integrator-text">После завершения всех циклов правок, будет проведено обучение сотрудников и
                руководителей. Далее у вас будет 2 недели для того, чтобы задать вопросы, а также предложить правки в
                рамках согласованного списка работ.</p>
            </div>
          </div>
          <div class="integrator-feature-item" data-base data-contact data-auto>
            <div class="interesting-image"><img src="{% static '/image/icons/task-1.png' %}" alt="image alt"
                class="inline-svg" /></div>
            <div class="integrator-feature-list">
              <h5>Оформленная База знаний в Битрикс24</h5>
              <p class="integrator-text">Все проводимые обучения будут записаны и оформлены в базу знаний в вашем
                Битрикс24. Вы с легкостью сможете при необходимости восстановить что-то в памяти, а также
                демонстрировать видео новым сотрудникам. Кроме того мы бесплатно загрузим вам наши базовые обучающие
                материалы по работе с CRM Битрикс24.</p>
            </div>
          </div>
          <div class="integrator-feature-item" data-base data-contact data-auto>
            <div class="interesting-image"><img src="{% static '/image/icons/task-1.png' %}" alt="image alt"
                class="inline-svg" /></div>
            <div class="integrator-feature-list">
              <h5>Дальнейшую техническую и консалтинговую поддержку</h5>
              <p class="integrator-text">После завершения гарантийного периода мы предложим вам различные форматы
                дальнейшего сотрудничества для развития вашей компании с помощью инструментов Битрикс24.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Review Section 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="integrator-review-section padding-bottom-150 padding-top-150" bis_skin_checked="1">
  <div class="container" bis_skin_checked="1">
    <div class="content" bis_skin_checked="1">
      <div class="content-text-block">
        <h2 class="integrator-subheading heading-md text-center">
          Доверие, подтверждённое словами
        </h2>
        <p class="integrator-text text-center">
          Присоединяйтесь к растущему сообществу компаний, которым нравится нами работать.
        </p>
      </div>
    </div>
    <div class="integrator-reviews">
      <div class="integrator-review-item" data-aos-duration="1000" data-aos="fade-up" data-aos-delay="300">
        <div class="review-item__info">
          <div class="review__image-block">
            <img class="icon-brand" src={% static '/image/home/1.png' %} alt="brand-logo">
            <a href="#"><img src="{% static '/image/about/pdf.png' %}" alt="pdf" class="pdf" /></a>
          </div>
          <div class="review__text-block">
            <p class="integrator-text">Сотрудничество с этой компанией стало для нас настоящим открытием!
              Их профессионализм
              и внимание к деталям впечатляют.</p>
          </div>
        </div>
        <div class="qoute-autor">
          <p class="name">А.Ф. Смирнова</p>
          <p class="business-name">Менеджер, Компания Б</p>
        </div>
      </div>

      <div class="integrator-review-item" data-aos-duration="1000" data-aos="fade-up" data-aos-delay="300">
        <div class="review-item__info">
          <div class="review__image-block">
            <img class="icon-brand" src={% static '/image/home/1.png' %} alt="brand-logo">
            <a href="#"><img src="{% static '/image/about/pdf.png' %}" alt="pdf" class="pdf" /></a>
          </div>
          <div class="review__text-block">
            <p class="integrator-text">Сотрудничество с этой компанией стало для нас настоящим открытием!
              Их профессионализм
              и внимание к деталям впечатляют.</p>
            <p class="integrator-text">Сотрудничество с этой компанией стало для нас настоящим открытием!</p>
          </div>
        </div>
        <div class="qoute-autor">
          <p class="name">А.Ф. Смирнова</p>
          <p class="business-name">Менеджер, Компания Б</p>
        </div>
      </div>

      <div class="integrator-review-item" data-aos-duration="1000" data-aos="fade-up" data-aos-delay="300">
        <div class="review-item__info">
          <div class="review__image-block">
            <img class="icon-brand" src={% static '/image/home/1.png' %} alt="brand-logo">
          </div>
          <div class="review__text-block">
            <p class="integrator-text">Сотрудничество с этой компанией стало для нас настоящим открытием!
              Их профессионализм
              и внимание к деталям впечатляют.</p>
          </div>
        </div>
        <div class="qoute-autor">
          <p class="name">А.Ф. Смирнова</p>
          <p class="business-name">Менеджер, Компания Б</p>
        </div>
      </div>
    </div>

    <div class="integrator-line"></div>

    <div class="integrator-review">
      <div class="integrator-row">
        <div class="integrator-review__image">
          <img src="{% static '/image/about/review.png' %}" alt="Roman">
        </div>
        <div class="integrator-review-quote">
          <div class="quote-revert">
            <img src="{% static '/image/quote.svg' %}" alt="quote">
          </div>
          <p class="quote-text">Мы не останавливаемся на внедрении Битрикс24. Мы обучаем ваших сотрудников и
            сопровождаем вас на протяжении многих лет, чтобы вы максимально использовали возможности этой CRM. Мы
            выстраиваем партнерские отношения и помогаем вам достичь долгосрочных целей.</p>
          <div class="qoute-autor">
            <p class="name">Роман Сытько</p>
            <p class="business-name">Руководитель компании</p>
          </div>
          <div class="quote">
            <img src="{% static '/image/quote.svg' %}" alt="quote">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~
     CTA Base 
~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div class="integrator-cta-base">
  <div class="container">
    <div class="integrator-cta-base__wrapper">
      <div class="integrator-cta-base__text-block">
        <h2 class="heading-md">Опишите свою проблему,<br />и мы найдём для неё решение
        </h2>
      </div>
      <div class="cta-base__button">
        <a href="#" class="integrator-btn btn-fill--up">
          <span>Получить консультацию</span></a>
      </div>
    </div>
  </div>
  <div class="integrator-cta-base_over">
    <img src="{% static '/image/cta/bubble.png' %}" alt="Bubbles" />
  </div>
</div>

{% endblock %}