{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="error-section bg-light-2">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xxl-5 col-lg-6 col-sm-7 col-xs-8 col-9">
        <div class="error-content">
          <div class="error-content__image">
            <img src="./image/404.png" alt="image alt">
          </div>
          <h2 class="heading-md text-black">Битрикс24</h2>
          <p>The requested URL you are looking for doesn’t exist on this server.</p>
          <div class="error-content__button">
            <a href="#" class="btn-masco btn-primary rounded-pill">
              Back to Homepage
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about_fact-section  section-padding-120">
  <div class="container">



    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
          role="tab" aria-controls="nav-home" aria-selected="true">Первый старт</button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button"
          role="tab" aria-controls="nav-profile" aria-selected="false">Продажи в CRM - для РОП</button>
        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button"
          role="tab" aria-controls="nav-contact" aria-selected="false">Управление маркетингом - для РОМ</button>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="row pt-50 row--custom ">
          <div class="col-xxl-auto  col-lg-3 col-md-6 col-sm-8 col-xs-9">
            <div class="fact-widget">

              <div>
                <h3 class="fact-widget_title">Цели</h3>
                <p>
                <ul>
                  <li>- Навести порядок в процессах компании</li>
                  <li>- Заменить несколько сервисов на один универсальный</li>
                  <li>- Зафиксировать задачи сотрудников</li>
                  <li>- Контролировать бюджет и выручку</li>
                  <li>- Снизить затраты на рутину</li>
                </ul>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xxl-auto col-lg-3 col-md-6 col-sm-8 col-xs-9">
            <div class="fact-widget">

              <div>
                <h3 class="fact-widget_title">Как выбрать тариф?</h3>
                <p>110k+ Active services <br> helping our clients succeed</p>
              </div>
            </div>
          </div>
          <div class="col-xxl-auto  col-lg-3 col-md-6 col-sm-8 col-xs-9">
            <div class="fact-widget last-child">

              <div>
                <h3 class="fact-widget_title">С чего начать?</h3>
                <p>250 Countries/territories where people choose our hosting</p>
              </div>
            </div>
          </div>

        </div>

      </div>
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
    </div>


  </div>
</section>






{% endblock %}