{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="integrator-section integrator-header__plus">
  <div class="container">
    <div class="content">
      <div class="content-text-block">
        <h1 class="integrator-heading heading-xxl">Статьи, новости и полезная информация о Битрикс24</h1>
      </div>
      <ul class="integrator-blog-list-social integrator-list-social">
        <li>
          <a href="#">
            <i class="fa-brands fa-youtube"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa-brands fa-tiktok"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa-brands fa-telegram"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>







<div class="integrator-materials-page padding-bottom-150">
  <div class="container">
    <div class="integrator-row">
      <aside class="sidebar-wrapper">

        <div class="sidebar-single">
          <div class="sidebar-list">
            <ul class="sidebar-category-list">

              <li class="sidebar-category-list-item">
                <a href="#" class="sidebar-category">
                  — Новости
                </a>
              </li>
              <li class="sidebar-category-list-item">
                <a href="#" class="sidebar-category">
                  — Вебинары
                </a>
              </li>
              <li class="sidebar-category-list-item">
                <a href="#" class="sidebar-category">
                  — Мероприятия
                </a>
              </li>
              <li class="sidebar-category-list-item">
                <a href="#" class="sidebar-category">
                  — Полезная информация
                </a>
              </li>

              <!-- {% for cat in cats %}
              <li class="sidebar-category-list-item">
                <a href="#" class="sidebar-category">
                  {{ cat }}
                </a>
              </li>
              {% endfor %} -->
            </ul>
          </div>
        </div>
      </aside>
      <div class="integrator-materials">
      <div class="integrator-material">
        <div class="integrator-material__image">
          <img src="{% static '/image/blog/material.png' %}" alt="">
        </div>
        <div class="integrator-material__info">
          <div class="integrator-material__text">
            <span class="date">25.01.2026</span>
            <h3 class="integrator-material__title">если "Упал, поднялся" — значит будет выдумка, нытьё и привирание</h3>
            <p class="integrator-material__description">Мы начали бизнес на картинах по номерам в Covid-19. Предложений
              было мало, поэтому люди покупали картины по цене x5-6 от закупочной. Потом пришли конкуренты, обрушили
              цены, и я понял, что нужно было делать свои картины, с оригинальными сюжетами</p>
          </div>
          <span class="hash">#Битрикс24</span>
        </div>
      </div>
      <div class="integrator-material">
        <div class="integrator-material__image">
          <img src="{% static '/image/blog/material.png' %}" alt="">
        </div>
        <div class="integrator-material__info">
          <div class="integrator-material__text">
            <span class="date">25.01.2026</span>
            <h3 class="integrator-material__title">Новый Битрикс24 Космос: обзор новинок</h3>
            <p class="integrator-material__description">Битрикс24 обновился: работать стало ещё проще, удобнее и продуктивнее. Какие новинки вас ждут?</p>
          </div>
          <span class="hash">#Битрикс24</span>
        </div>
      </div>
      <div class="integrator-material">
        <div class="integrator-material__image">
          <img src="{% static '/image/blog/material.png' %}" alt="">
        </div>
        <div class="integrator-material__info">
          <div class="integrator-material__text">
            <span class="date">25.01.2026</span>
            <h3 class="integrator-material__title">если "Упал, поднялся" — значит будет выдумка, нытьё и привирание</h3>
            <p class="integrator-material__description">Мы начали бизнес на картинах по номерам в Covid-19. Предложений
              было мало, поэтому люди покупали картины по цене x5-6 от закупочной. Потом пришли конкуренты, обрушили
              цены, и я понял, что нужно было делать свои картины, с оригинальными сюжетами</p>
          </div>
          <span class="hash">#Битрикс24</span>
        </div>
      </div>
      <div class="integrator-material">
        <div class="integrator-material__image">
          <img src="{% static '/image/blog/material.png' %}" alt="">
        </div>
        <div class="integrator-material__info">
          <div class="integrator-material__text">
            <span class="date">25.01.2026</span>
            <h3 class="integrator-material__title">если "Упал, поднялся" — значит будет выдумка, нытьё и привирание</h3>
            <p class="integrator-material__description">Мы начали бизнес на картинах по номерам в Covid-19. Предложений
              было мало, поэтому люди покупали картины по цене x5-6 от закупочной. Потом пришли конкуренты, обрушили
              цены, и я понял, что нужно было делать свои картины, с оригинальными сюжетами</p>
          </div>
          <span class="hash">#Битрикс24</span>
        </div>
      </div>
      <div class="integrator-material">
        <div class="integrator-material__image">
          <img src="{% static '/image/blog/material.png' %}" alt="">
        </div>
        <div class="integrator-material__info">
          <div class="integrator-material__text">
            <span class="date">25.01.2026</span>
            <h3 class="integrator-material__title">если "Упал, поднялся" — значит будет выдумка, нытьё и привирание</h3>
            <p class="integrator-material__description">Мы начали бизнес на картинах по номерам в Covid-19. Предложений
              было мало, поэтому люди покупали картины по цене x5-6 от закупочной. Потом пришли конкуренты, обрушили
              цены, и я понял, что нужно было делать свои картины, с оригинальными сюжетами</p>
          </div>
          <span class="hash">#Битрикс24</span>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>

<!--~~~~~~~~~~~~~~~~~~~~~~~~
     CTA Base 
~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div class="integrator-cta-base">
  <div class="container">
    <div class="integrator-cta-base__wrapper">
      <div class="integrator-cta-base__text-block">
        <h2 class="heading-md">Информация - это хорошо, но может стоит применить ее на практике?</h2>
      </div>
      <div class="cta-base__button">
        <a href="#" class="integrator-btn btn-fill--up">
          <span>Начать использовать Битрикс24</span></a>
      </div>
    </div>
  </div>
  <div class="integrator-cta-base_over">
    <img src="{% static '/image/cta/bubble.png' %}" alt="Bubbles" />
  </div>
</div>
{% endblock %}