
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="inner_banner-section">
  <img class="inner_banner-background-image" src={% static '/image/common/inner-bg.png' %} alt="image alt">
  <div class="container">
    <div class="inner_banner-content-block">
      <h3 class="inner_banner-title">{{case.case_name}}</h3>
      <ul class="banner__page-navigator">
        <li>
          <a href="/">Home</a>
        </li>
        <li class="active">
          <a href="/portfolio-details">
            {{case.case_name}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>




<div class="portfolio-details_article">
  <div class="container">
    <article class="portfolio-details_article-block">
      <div class="portfolio-details_thumbnail-block">
        <img class="portfolio-details_thumbnail-image" src={{case.case_image.url}} alt="image alt">
        <div class="portfolio-details_thumbnail-list">
          {% if case.case_client %}
          <div class="">
            <h3>Клиент:</h3>
            <p>{{case.case_client}}</p>
          </div> {% endif %}

          {% if case.category_case.all.0 %}
          <div>
            <h3>Категория:</h3>
            <p>
              {% for cat in case.category_case.all %} {{cat}} {% endfor %}</p>
          </div> {% endif %}

          {% if case.case_duration %}
          <div>
            <h3>Сроки:</h3>
            <p>{{ case.case_duration }}</p>
          </div> {% endif %}
          
        </div>
      </div>
      <div class="portfolio-details_article-body">
        <div>
          <h2>Описание проекта</h2>
         <p>{{case.case_text|safe }}</p>
        </div>
        
      </div>
    </article>
  </div>
</div>
    {% endblock %}