
{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="inner_banner-section">
  <img class="inner_banner-background-image" src= {% static '/image/common/inner-bg.png' %} alt="image alt">
  <div class="container">
    <div class="inner_banner-content-block">
      <h3 class="inner_banner-title">Кейсы</h3>
      <ul class="banner__page-navigator">
        <li>
          <a href="/">Главная</a>
        </li>
        <li class="active">
          <a href="/portfolio">
            Кейсы
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>




<section class="portfolio-classic_main-section section-padding-120">
  <div class="container">
    <ul class="navigation-list navigation-list--inline">
      <li class="active" data-filter="*">
        <button class="btn rounded-pill">Все</button>
      </li>

      {% for casecats in casescategorys %}
      <li class="" data-filter=".{{ casecats.cat_slug }}">
        <button class="btn rounded-pill">{{ casecats }}</button>
      </li>
      {% endfor %}

    </ul>
    <div class="row navigation-active isotope-navigation portfolio-v1" style="position: relative; height: 1832.59px;">
      {% for case in cases %}
      
      <div class="col-xl-6 grid-item {% for cat in case.category_case.all %} {{cat.cat_slug}} {% endfor %}" style="position: absolute; left: 0px; top: 0px;">
        <a class="portfolio-widget " href="/portfolio-details">
          <div class="portfolio-widget_image-block">
            <img src={{ case.case_image.url }} alt="portfolio image">
          </div>
          <div class="portfolio-widget__title-block">
            <h3 class="portfolio-widget__title">
              {{ case }}
            </h3>
            <span class="portfolio-widget__category">{% for cat in case.category_case.all %} {{cat}} {% endfor %}</span>
          </div>
          <div class="portfolio-widget__link">
            <span class="btn-link btn-arrow">Подробнее
    </span>
          </div>
        </a>
      </div>
{% endfor %}
    </div>
    <div class="section-button">
      <a href="#" class="btn-masco rounded-pill btn-fill--up"><span>В начало</span></a>
    </div>
  </div>
</section>

{% endblock %}