{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="integrator-section integrator-header__plus">
  <div class="container">
    <div class="content">
      <div class="content-text-block">
        <h1 class="integrator-heading heading-xxl">Кейсы</h1>
      </div>
    </div>
  </div>
</div>




<section class="integrator-portfolio-page padding-bottom-150">
  <div class="container">
    <ul class="navigation-list navigation-list--inline">
      <li class="active" data-filter="*">
        <button class="btn">Все</button>
      </li>
      <li data-filter="*">
        <button class="btn">Внедрение</button>
      </li>
      <li data-filter="*">
        <button class="btn">Интеграция</button>
      </li>
      <li data-filter="*">
        <button class="btn">Оптимизация процессов</button>
      </li>
      <li data-filter="*">
        <button class="btn">Автоматизация маркетинка</button>
      </li>
      <li data-filter="*">
        <button class="btn">Сквозная аналитика</button>
      </li>

      <!-- {% for casecats in casescategorys %}
      <li class="" data-filter=".{{ casecats.cat_slug }}">
        <button class="btn rounded-pill">{{ casecats }}</button>
      </li>
      {% endfor %} -->

    </ul>
    <div class="integrator-portfolio-large row--portfolio-gutter">

      <div class="integrator-portfolio-item" data-aos-duration="1000" data-aos="fade-up" data-aos-delay="300">
        <a href="portfolio-details.html" class="portfolio-widget">
          <div class="portfolio-widget_image-block">
            <img src="{% static '/image/home-1/portf2.png' %}" alt="portfolio image" class="portfolio-image" />
          </div>
          <div class="portfolio-widget__title-block">
            <div class="portfolio-widget__category-list">
              <span class="portfolio-widget__category">Комплексное внедрение</span>
              <span class="portfolio-widget__category">Bнедрение</span>
            </div>
            <h3 class="portfolio-widget__title">Самый выдающий результат»</h3>
            <div class="integrator-line"></div>
            <p class="portfolio-widget__info">Текст о том как данная услуга сделала пользу в данной компании</p>
          </div>
        </a>
      </div>
    </div>
    <div class="integrator-portfolio row--portfolio-gutter">

      <div class="integrator-portfolio-item" data-aos-duration="1000" data-aos="fade-up" data-aos-delay="300">
        <a href="portfolio-details.html" class="portfolio-widget">
          <div class="portfolio-widget_image-block">
            <img src="{% static '/image/home-1/portf2.png' %}" alt="portfolio image" class="portfolio-image" />
          </div>
          <div class="portfolio-widget__title-block">
            <span class="portfolio-widget__category">Комплексное внедрение</span>
            <h3 class="portfolio-widget__title">«МагКомпозит»</h3>
            <div class="integrator-line"></div>
            <p class="portfolio-widget__info">Текст о том как данная услуга сделала пользу в данной компании</p>
          </div>
        </a>
      </div>

      <div class="integrator-portfolio-item" data-aos-duration="1000" data-aos="fade-up" data-aos-delay="300">
        <a href="portfolio-details.html" class="portfolio-widget">
          <div class="portfolio-widget_image-block">
            <img src="{% static '/image/home-1/portf2.png' %}" alt="portfolio image" class="portfolio-image" />
          </div>
          <div class="portfolio-widget__title-block">
            <span class="portfolio-widget__category">Комплексное внедрение</span>
            <h3 class="portfolio-widget__title">«МагКомпозит»</h3>
            <div class="integrator-line"></div>
            <p class="portfolio-widget__info">Текст о том как данная услуга сделала пользу в данной компании</p>
          </div>
        </a>
      </div>


      <div class="integrator-portfolio-item" data-aos-duration="1000" data-aos="fade-up" data-aos-delay="300">
        <a href="portfolio-details.html" class="portfolio-widget">
          <div class="portfolio-widget_image-block">
            <img src="{% static '/image/home-1/portf2.png' %}" alt="portfolio image" class="portfolio-image" />
          </div>
          <div class="portfolio-widget__title-block">
            <span class="portfolio-widget__category">Комплексное внедрение</span>
            <h3 class="portfolio-widget__title">«МагКомпозит»</h3>
            <div class="integrator-line"></div>
            <p class="portfolio-widget__info">Текст о том как данная услуга сделала пользу в данной компании</p>
          </div>
        </a>
      </div>
    </div>
    <div class="integrator-portfolio row--portfolio-gutter">

      <div class="integrator-portfolio-item" data-aos-duration="1000" data-aos="fade-up" data-aos-delay="300">
        <a href="portfolio-details.html" class="portfolio-widget">
          <div class="portfolio-widget_image-block">
            <img src="{% static '/image/home-1/portf2.png' %}" alt="portfolio image" class="portfolio-image" />
          </div>
          <div class="portfolio-widget__title-block">
            <span class="portfolio-widget__category">Комплексное внедрение</span>
            <h3 class="portfolio-widget__title">«МагКомпозит»</h3>
            <div class="integrator-line"></div>
            <p class="portfolio-widget__info">Текст о том как данная услуга сделала пользу в данной компании</p>
          </div>
        </a>
      </div>

      <div class="integrator-portfolio-item" data-aos-duration="1000" data-aos="fade-up" data-aos-delay="300">
        <a href="portfolio-details.html" class="portfolio-widget">
          <div class="portfolio-widget_image-block">
            <img src="{% static '/image/home-1/portf2.png' %}" alt="portfolio image" class="portfolio-image" />
          </div>
          <div class="portfolio-widget__title-block">
            <span class="portfolio-widget__category">Комплексное внедрение</span>
            <h3 class="portfolio-widget__title">«МагКомпозит»</h3>
            <div class="integrator-line"></div>
            <p class="portfolio-widget__info">Текст о том как данная услуга сделала пользу в данной компании</p>
          </div>
        </a>
      </div>


      <div class="integrator-portfolio-item" data-aos-duration="1000" data-aos="fade-up" data-aos-delay="300">
        <a href="portfolio-details.html" class="portfolio-widget">
          <div class="portfolio-widget_image-block">
            <img src="{% static '/image/home-1/portf2.png' %}" alt="portfolio image" class="portfolio-image" />
          </div>
          <div class="portfolio-widget__title-block">
            <span class="portfolio-widget__category">Комплексное внедрение</span>
            <h3 class="portfolio-widget__title">«МагКомпозит»</h3>
            <div class="integrator-line"></div>
            <p class="portfolio-widget__info">Текст о том как данная услуга сделала пользу в данной компании</p>
          </div>
        </a>
      </div>
    </div>
    <div class="integrator-portfolio row--portfolio-gutter">

      <div class="integrator-portfolio-item" data-aos-duration="1000" data-aos="fade-up" data-aos-delay="300">
        <a href="portfolio-details.html" class="portfolio-widget">
          <div class="portfolio-widget_image-block">
            <img src="{% static '/image/home-1/portf2.png' %}" alt="portfolio image" class="portfolio-image" />
          </div>
          <div class="portfolio-widget__title-block">
            <span class="portfolio-widget__category">Комплексное внедрение</span>
            <h3 class="portfolio-widget__title">«МагКомпозит»</h3>
            <div class="integrator-line"></div>
            <p class="portfolio-widget__info">Текст о том как данная услуга сделала пользу в данной компании</p>
          </div>
        </a>
      </div>

      <div class="integrator-portfolio-item" data-aos-duration="1000" data-aos="fade-up" data-aos-delay="300">
        <a href="portfolio-details.html" class="portfolio-widget">
          <div class="portfolio-widget_image-block">
            <img src="{% static '/image/home-1/portf2.png' %}" alt="portfolio image" class="portfolio-image" />
          </div>
          <div class="portfolio-widget__title-block">
            <span class="portfolio-widget__category">Комплексное внедрение</span>
            <h3 class="portfolio-widget__title">«МагКомпозит»</h3>
            <div class="integrator-line"></div>
            <p class="portfolio-widget__info">Текст о том как данная услуга сделала пользу в данной компании</p>
          </div>
        </a>
      </div>


      <div class="integrator-portfolio-item" data-aos-duration="1000" data-aos="fade-up" data-aos-delay="300">
        <a href="portfolio-details.html" class="portfolio-widget">
          <div class="portfolio-widget_image-block">
            <img src="{% static '/image/home-1/portf2.png' %}" alt="portfolio image" class="portfolio-image" />
          </div>
          <div class="portfolio-widget__title-block">
            <span class="portfolio-widget__category">Комплексное внедрение</span>
            <h3 class="portfolio-widget__title">«МагКомпозит»</h3>
            <div class="integrator-line"></div>
            <p class="portfolio-widget__info">Текст о том как данная услуга сделала пользу в данной компании</p>
          </div>
        </a>
      </div>
    </div>
    <div class="integrator-portfolio row--portfolio-gutter">

      <div class="integrator-portfolio-item" data-aos-duration="1000" data-aos="fade-up" data-aos-delay="300">
        <a href="portfolio-details.html" class="portfolio-widget">
          <div class="portfolio-widget_image-block">
            <img src="{% static '/image/home-1/portf2.png' %}" alt="portfolio image" class="portfolio-image" />
          </div>
          <div class="portfolio-widget__title-block">
            <span class="portfolio-widget__category">Комплексное внедрение</span>
            <h3 class="portfolio-widget__title">«МагКомпозит»</h3>
            <div class="integrator-line"></div>
            <p class="portfolio-widget__info">Текст о том как данная услуга сделала пользу в данной компании</p>
          </div>
        </a>
      </div>

      <div class="integrator-portfolio-item" data-aos-duration="1000" data-aos="fade-up" data-aos-delay="300">
        <a href="portfolio-details.html" class="portfolio-widget">
          <div class="portfolio-widget_image-block">
            <img src="{% static '/image/home-1/portf2.png' %}" alt="portfolio image" class="portfolio-image" />
          </div>
          <div class="portfolio-widget__title-block">
            <span class="portfolio-widget__category">Комплексное внедрение</span>
            <h3 class="portfolio-widget__title">«МагКомпозит»</h3>
            <div class="integrator-line"></div>
            <p class="portfolio-widget__info">Текст о том как данная услуга сделала пользу в данной компании</p>
          </div>
        </a>
      </div>


      <div class="integrator-portfolio-item" data-aos-duration="1000" data-aos="fade-up" data-aos-delay="300">
        <a href="portfolio-details.html" class="portfolio-widget">
          <div class="portfolio-widget_image-block">
            <img src="{% static '/image/home-1/portf2.png' %}" alt="portfolio image" class="portfolio-image" />
          </div>
          <div class="portfolio-widget__title-block">
            <span class="portfolio-widget__category">Комплексное внедрение</span>
            <h3 class="portfolio-widget__title">«МагКомпозит»</h3>
            <div class="integrator-line"></div>
            <p class="portfolio-widget__info">Текст о том как данная услуга сделала пользу в данной компании</p>
          </div>
        </a>
      </div>
    </div>
    <div class="integrator-portfolio row--portfolio-gutter">

      <div class="integrator-portfolio-item" data-aos-duration="1000" data-aos="fade-up" data-aos-delay="300">
        <a href="portfolio-details.html" class="portfolio-widget">
          <div class="portfolio-widget_image-block">
            <img src="{% static '/image/home-1/portf2.png' %}" alt="portfolio image" class="portfolio-image" />
          </div>
          <div class="portfolio-widget__title-block">
            <span class="portfolio-widget__category">Комплексное внедрение</span>
            <h3 class="portfolio-widget__title">«МагКомпозит»</h3>
            <div class="integrator-line"></div>
            <p class="portfolio-widget__info">Текст о том как данная услуга сделала пользу в данной компании</p>
          </div>
        </a>
      </div>

      <div class="integrator-portfolio-item" data-aos-duration="1000" data-aos="fade-up" data-aos-delay="300">
        <a href="portfolio-details.html" class="portfolio-widget">
          <div class="portfolio-widget_image-block">
            <img src="{% static '/image/home-1/portf2.png' %}" alt="portfolio image" class="portfolio-image" />
          </div>
          <div class="portfolio-widget__title-block">
            <span class="portfolio-widget__category">Комплексное внедрение</span>
            <h3 class="portfolio-widget__title">«МагКомпозит»</h3>
            <div class="integrator-line"></div>
            <p class="portfolio-widget__info">Текст о том как данная услуга сделала пользу в данной компании</p>
          </div>
        </a>
      </div>


      <div class="integrator-portfolio-item" data-aos-duration="1000" data-aos="fade-up" data-aos-delay="300">
        <a href="portfolio-details.html" class="portfolio-widget">
          <div class="portfolio-widget_image-block">
            <img src="{% static '/image/home-1/portf2.png' %}" alt="portfolio image" class="portfolio-image" />
          </div>
          <div class="portfolio-widget__title-block">
            <span class="portfolio-widget__category">Комплексное внедрение</span>
            <h3 class="portfolio-widget__title">«МагКомпозит»</h3>
            <div class="integrator-line"></div>
            <p class="portfolio-widget__info">Текст о том как данная услуга сделала пользу в данной компании</p>
          </div>
        </a>
      </div>
    </div>
    <!-- <div class="row navigation-active isotope-navigation portfolio-v1" style="position: relative; height: 1832.59px;">
      {% for case in cases %}
      
      <div class="col-xl-6 grid-item {% for cat in case.category_case.all %} {{cat.cat_slug}} {% endfor %}" style="position: absolute; left: 0px; top: 0px;">
        <a class="portfolio-widget " href="/portfolio-details">
          <div class="portfolio-widget_image-block">
            <img src={{ case.case_image.url }} alt="portfolio image">
          </div>
          <div class="portfolio-widget__title-block">
            <h3 class="portfolio-widget__title">
              {{ case }}
            </h3>
            <span class="portfolio-widget__category">{% for cat in case.category_case.all %} {{cat}} {% endfor %}</span>
          </div>
          <div class="portfolio-widget__link">
            <span class="btn-link btn-arrow">Подробнее
    </span>
          </div>
        </a>
      </div>
{% endfor %}
    </div> -->
  </div>
</section>


<!--~~~~~~~~~~~~~~~~~~~~~~~~
     CTA Base 
~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div class="integrator-cta-base">
  <div class="container">
    <div class="integrator-cta-base__wrapper">
      <div class="integrator-cta-base__text-block">
        <h2 class="heading-md">Готовы к таким же результатам?</h2>
      </div>
      <div class="cta-base__button">
        <a href="#" class="integrator-btn btn-fill--up">
          <span>Начать внедрение</span></a>
      </div>
    </div>
  </div>
  <div class="integrator-cta-base_over">
    <img src="{% static '/image/cta/bubble.png' %}" alt="Bubbles" />
  </div>
</div>

{% endblock %}