{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="integrator-section integrator-article-page">
  <div class="container">
    <div class="content-text-block article-block">
      <div class="article-link-back">
        <a href="/cases"> <img src="{% static '/image/icons/arrow-article.png' %}" alt="back"></a>
      </div>
      <h1 class="integrator-heading heading-md">Продвижение интернет-магазина мужской брендовой одежды в топ-10 по
        ключевым запросам</h1>
    </div>
    <div class="article__info">
      <span class="date">25.01.2026</span>
      <div class="article__info-tags">
        <span class="portfolio-widget__category">Комплексное внедрение</span>
        <span class="portfolio-widget__category">Комплексное внедрение</span>
      </div>
    </div>

    <div class="article__preview-text">
      <p>Мы начали бизнес на картинах по номерам в Covid-19. Предложений было мало, поэтому люди покупали картины по
        цене x5-6 от закупочной. Потом пришли конкуренты, обрушили цены, и я понял, что нужно было делать свои
        картины, с оригинальными сюжетами
      </p>
    </div>

    <div class="article__image">
      <img src="{% static '/image/blog/material.png' %}" alt="">
    </div>

    <div class="article__content">
      <h3>Подзаголовок</h3>
      <p>Мы начали бизнес на картинах по номерам в Covid-19. Предложений было мало, поэтому люди покупали картины по
        цене x5-6 от закупочной. Потом пришли конкуренты, обрушили цены, и я понял, что нужно было делать свои картины,
        с оригинальными сюжетами</p>
      <p>Мы начали бизнес на картинах по номерам в Covid-19. Предложений было мало, поэтому люди покупали картины по
        цене x5-6 от закупочной. Потом пришли конкуренты, обрушили цены, и я понял, что нужно было делать свои картины,
        с оригинальными сюжетами</p>
    </div>

    <div class="portfolio-case__three">
      <div class="portfolio-case">
        <div>Клиент</div>
        <p>ООО «РесайклПро»</p>
      </div>
      <div class="portfolio-case">
        <div>Клиент</div>
        <p>ООО «РесайклПро»</p>
      </div>
      <div class="portfolio-case">
        <div>Клиент</div>
        <p>ООО «РесайклПро»</p>
      </div>
    </div>

    <div class="article__content">
      <h3>Подзаголовок</h3>
      <ul>
        <li>В компании «РесайклПро» была внедрена CRM-система, однако отсутствовала автоматизированная воронка продаж:
          лиды из разных источников "падали в кучу", распределялись колл-центром вручную, что приводило к путанице и
          потерям клиентов.</li>
        <li>Полностью отсутствовала система контроля прохождения клиентов по этапам воронки продаж, не было системы
          отслеживания конверсии лидов в сделки.</li>
        <li>Не было возможности отслеживать причины неисполнения сделок и потери клиентов.</li>
        <li>Непрозрачная система мотивации: ответственность за создание лидов и сделок не была четко определена, не было
          системы отслеживания эффективности работы сотрудников.</li>
        <li>Неэффективная система мотивации: мотивация сотрудников не была напрямую связана с их результатами работы, не
          было системы поощрения лучших сотрудников.</li>
      </ul>
    </div>

    <div class="article__content">
      <h3>Подзаголовок</h3>
      <ul>
        <li>В компании «РесайклПро» была внедрена CRM-система, однако отсутствовала автоматизированная воронка продаж:
          лиды из разных источников "падали в кучу", распределялись колл-центром вручную, что приводило к путанице и
          потерям клиентов.</li>
        <li>Полностью отсутствовала система контроля прохождения клиентов по этапам воронки продаж, не было системы
          отслеживания конверсии лидов в сделки.</li>
        <li>Не было возможности отслеживать причины неисполнения сделок и потери клиентов.</li>
        <li>Непрозрачная система мотивации: ответственность за создание лидов и сделок не была четко определена, не было
          системы отслеживания эффективности работы сотрудников.</li>
        <li>Неэффективная система мотивации: мотивация сотрудников не была напрямую связана с их результатами работы, не
          было системы поощрения лучших сотрудников.</li>
      </ul>
    </div>

    <div class="article__content">
      <h3>Подзаголовок</h3>
      <ul>
        <li>В компании «РесайклПро» была внедрена CRM-система, однако отсутствовала автоматизированная воронка продаж:
          лиды из разных источников "падали в кучу", распределялись колл-центром вручную, что приводило к путанице и
          потерям клиентов.</li>
        <li>Полностью отсутствовала система контроля прохождения клиентов по этапам воронки продаж, не было системы
          отслеживания конверсии лидов в сделки.</li>
        <li>Не было возможности отслеживать причины неисполнения сделок и потери клиентов.</li>
        <li>Непрозрачная система мотивации: ответственность за создание лидов и сделок не была четко определена, не было
          системы отслеживания эффективности работы сотрудников.</li>
        <li>Неэффективная система мотивации: мотивация сотрудников не была напрямую связана с их результатами работы, не
          было системы поощрения лучших сотрудников.</li>
      </ul>
    </div>

    <div class="portfolio-case__list">
      <h3 class="text-center">Эффективная воронка продаж в Битрикс24</h3>
      <p class="integrator-text text-center">В рамках направления деятельности скупка драгметаллов была настроена
        воронка лидов и сделок со следующими этапами:</p>
      <div class="integrator-row row--custom" bis_skin_checked="1">
        <div class="integrator-feature-item" bis_skin_checked="1">
          <h4 class="integrator-feature__title">01</h4>
          <div class="integrator-feature-list">
            <h5>Увеличение продаж</h5>
            <p>Результат правильного внедрения Битрикс24 — увеличение выручки и прибыли компании</p>
          </div>
        </div>
        <div class="integrator-feature-item" bis_skin_checked="1">
          <h4 class="integrator-feature__title">02</h4>
          <div class="integrator-feature-list">
            <h5>Эффективное управление бизнесом</h5>
            <p>Аналитика и отчётность позволяет принимать управленческие решения, опираясь на данные</p>
          </div>
        </div>
        <div class="integrator-feature-item" bis_skin_checked="1">
          <h4 class="integrator-feature__title">03</h4>
          <div class="integrator-feature-list">
            <h5>Сокращение издержек</h5>
            <p>Автоматизация бизнес-процессов, эффективная коммуникация между отделами помогает эффективно использовать
              рабочее время</p>
          </div>
        </div>
        <div class="integrator-feature-item" bis_skin_checked="1">
          <h4 class="integrator-feature__title">04</h4>
          <div class="integrator-feature-list">
            <h5>Оптимизация расходов на маркетинг</h5>
            <p>Сквозная аналитика и отчёты помогут оптимизировать рекламные расходы</p>
          </div>
        </div>
        <div class="integrator-feature-item" bis_skin_checked="1">
          <h4 class="integrator-feature__title">05</h4>
          <div class="integrator-feature-list">
            <h5>Повышение лояльности клиентов</h5>
            <p>Хранение и анализ данных о клиентах позволяет настроить персонализированную коммуникацию с клиентами</p>
          </div>
        </div>
        <div class="integrator-feature-item" bis_skin_checked="1">
          <h4 class="integrator-feature__title">06</h4>
          <div class="integrator-feature-list">
            <h5>Защита персональных данных</h5>
            <p>Битрикс24 предлагает все необходимые инструменты для соблюдения законодательства о защите персональных
              данных</p>
          </div>
        </div>
      </div>
    </div>

    <div class="article__content">
      <h3>Подзаголовок</h3>
      <ul>
        <li>В компании «РесайклПро» была внедрена CRM-система, однако отсутствовала автоматизированная воронка продаж:
          лиды из разных источников "падали в кучу", распределялись колл-центром вручную, что приводило к путанице и
          потерям клиентов.</li>
        <li>Полностью отсутствовала система контроля прохождения клиентов по этапам воронки продаж, не было системы
          отслеживания конверсии лидов в сделки.</li>
        <li>Не было возможности отслеживать причины неисполнения сделок и потери клиентов.</li>
        <li>Непрозрачная система мотивации: ответственность за создание лидов и сделок не была четко определена, не было
          системы отслеживания эффективности работы сотрудников.</li>
        <li>Неэффективная система мотивации: мотивация сотрудников не была напрямую связана с их результатами работы, не
          было системы поощрения лучших сотрудников.</li>
      </ul>
    </div>

    <div class="portfolio-case__grid">
      <h3>Эффективная воронка продаж в Битрикс24</h3>
      <div class="integrator-interesting-points">
        <div class="interesting-point point-obuch">
          <span class="poin-number">
            01
          </span>
          <h3 class="interesting-title">Быстрое освоение интерфейса и инструментов</h3>
        </div>
        <div class="interesting-point point-obuch">
          <span class="poin-number">
            02
          </span>
          <h3 class="interesting-title">Снижение ошибок и сопротивления изменениям</h3>
        </div>
        <div class="interesting-point point-obuch">
          <span class="poin-number">
            03
          </span>
          <h3 class="interesting-title">Быстрое освоение интерфейса и инструментов</h3>
        </div>
        <div class="interesting-point point-obuch">
          <span class="poin-number">
            04
          </span>
          <h3 class="interesting-title">Снижение ошибок и сопротивления изменениям</h3>
        </div>
      </div>
      <div class="interesting-point point-obuch point-img">
        <div class="interesting-point-img">
          <img src="{% static '/image/service/analitik-3.png' %}" alt="Analitik" />
        </div>
      </div>
    </div>

    <div class="portfolio-case__list margin">
      <h3 class="text-center">Эффективная система мотивации сотрудников</h3>
      <div class="integrator-row row--custom" bis_skin_checked="1">
        <div class="integrator-feature-item" bis_skin_checked="1">
          <h4 class="integrator-feature__title">01</h4>
          <div class="integrator-feature-list">
            <h5>Увеличение продаж</h5>
            <p>Результат правильного внедрения Битрикс24 — увеличение выручки и прибыли компании</p>
          </div>
        </div>
        <div class="integrator-feature-item" bis_skin_checked="1">
          <h4 class="integrator-feature__title">02</h4>
          <div class="integrator-feature-list">
            <h5>Эффективное управление бизнесом</h5>
            <p>Аналитика и отчётность позволяет принимать управленческие решения, опираясь на данные</p>
          </div>
        </div>
        <div class="integrator-feature-item" bis_skin_checked="1">
          <h4 class="integrator-feature__title">03</h4>
          <div class="integrator-feature-list">
            <h5>Сокращение издержек</h5>
            <p>Автоматизация бизнес-процессов, эффективная коммуникация между отделами помогает эффективно использовать
              рабочее время</p>
          </div>
        </div>
      </div>
    </div>

    <div class="portfolio-case__grid">
      <h3>Результат</h3>
      <div class="integrator-interesting-points">
        <div class="interesting-point point-obuch">
          <span class="poin-number">
            01
          </span>
          <h3 class="interesting-title">Быстрое освоение интерфейса и инструментов</h3>
        </div>
        <div class="interesting-point point-obuch">
          <span class="poin-number">
            02
          </span>
          <h3 class="interesting-title">Снижение ошибок и сопротивления изменениям</h3>
        </div>
      </div>
      <div class="interesting-point point-obuch point-img">
        <div class="interesting-point-img">
          <img src="{% static '/image/service/analitik-3.png' %}" alt="Analitik" />
        </div>
      </div>
    </div>

    <div class="portfolio-case__list margin">
      <h3 class="text-center">Сегментация клиентов</h3>
      <div class="integrator-row row--custom" bis_skin_checked="1">
        <div class="integrator-feature-item" bis_skin_checked="1">
          <h4 class="integrator-feature__title">01</h4>
          <div class="integrator-feature-list">
            <h5>Увеличение продаж</h5>
            <p>Результат правильного внедрения Битрикс24 — увеличение выручки и прибыли компании</p>
          </div>
        </div>
      </div>
    </div>

    <div class="article__content">
      <h3>Подзаголовок</h3>
      <ul>
        <li>В компании «РесайклПро» была внедрена CRM-система, однако отсутствовала автоматизированная воронка продаж:
          лиды из разных источников "падали в кучу", распределялись колл-центром вручную, что приводило к путанице и
          потерям клиентов.</li>
        <li>Полностью отсутствовала система контроля прохождения клиентов по этапам воронки продаж, не было системы
          отслеживания конверсии лидов в сделки.</li>
        <li>Не было возможности отслеживать причины неисполнения сделок и потери клиентов.</li>
        <li>Непрозрачная система мотивации: ответственность за создание лидов и сделок не была четко определена, не было
          системы отслеживания эффективности работы сотрудников.</li>
        <li>Неэффективная система мотивации: мотивация сотрудников не была напрямую связана с их результатами работы, не
          было системы поощрения лучших сотрудников.</li>
      </ul>
    </div>

    <div class="portfolio-case__grid">
      <h3>Результат</h3>
      <div class="integrator-interesting-points integrator-interesting-points__one">
        <div class="interesting-point point-obuch">
          <span class="poin-number">
            01
          </span>
          <h3 class="interesting-title">Быстрое освоение интерфейса и инструментов</h3>
        </div>
      </div>
      <div class="interesting-point point-obuch point-img">
        <div class="interesting-point-img">
          <img src="{% static '/image/service/analitik-3.png' %}" alt="Analitik" />
        </div>
      </div>
    </div>
  </div>
</div>


<div class="integrator-article-page padding-bottom-150 padding-top-150 ">
  <div class="container">
    <h2 class="integrator-heading-article heading-md">Смотрите также</h2>
    <div class="integrator-portfolio row--portfolio-gutter">

      <div class="integrator-portfolio-item" data-aos-duration="1000" data-aos="fade-up" data-aos-delay="300">
        <a href="portfolio-details.html" class="portfolio-widget">
          <div class="portfolio-widget_image-block">
            <img src="{% static '/image/home-1/portf2.png' %}" alt="portfolio image" class="portfolio-image" />
          </div>
          <div class="portfolio-widget__title-block">
            <span class="portfolio-widget__category">Комплексное внедрение</span>
            <h3 class="portfolio-widget__title">«МагКомпозит»</h3>
            <div class="integrator-line"></div>
            <p class="portfolio-widget__info">Текст о том как данная услуга сделала пользу в данной компании</p>
          </div>
        </a>
      </div>

      <div class="integrator-portfolio-item" data-aos-duration="1000" data-aos="fade-up" data-aos-delay="300">
        <a href="portfolio-details.html" class="portfolio-widget">
          <div class="portfolio-widget_image-block">
            <img src="{% static '/image/home-1/portf2.png' %}" alt="portfolio image" class="portfolio-image" />
          </div>
          <div class="portfolio-widget__title-block">
            <span class="portfolio-widget__category">Комплексное внедрение</span>
            <h3 class="portfolio-widget__title">«МагКомпозит»</h3>
            <div class="integrator-line"></div>
            <p class="portfolio-widget__info">Текст о том как данная услуга сделала пользу в данной компании</p>
          </div>
        </a>
      </div>


      <div class="integrator-portfolio-item" data-aos-duration="1000" data-aos="fade-up" data-aos-delay="300">
        <a href="portfolio-details.html" class="portfolio-widget">
          <div class="portfolio-widget_image-block">
            <img src="{% static '/image/home-1/portf2.png' %}" alt="portfolio image" class="portfolio-image" />
          </div>
          <div class="portfolio-widget__title-block">
            <span class="portfolio-widget__category">Комплексное внедрение</span>
            <h3 class="portfolio-widget__title">«МагКомпозит»</h3>
            <div class="integrator-line"></div>
            <p class="portfolio-widget__info">Текст о том как данная услуга сделала пользу в данной компании</p>
          </div>
        </a>
      </div>

      <div class="integrator-portfolio-item" data-aos-duration="1000" data-aos="fade-up" data-aos-delay="300">
        <a href="portfolio-details.html" class="portfolio-widget">
          <div class="portfolio-widget_image-block">
            <img src="{% static '/image/home-1/portf2.png' %}" alt="portfolio image" class="portfolio-image" />
          </div>
          <div class="portfolio-widget__title-block">
            <span class="portfolio-widget__category">Комплексное внедрение</span>
            <h3 class="portfolio-widget__title">«МагКомпозит»</h3>
            <div class="integrator-line"></div>
            <p class="portfolio-widget__info">Текст о том как данная услуга сделала пользу в данной компании</p>
          </div>
        </a>
      </div>

      <div class="integrator-portfolio-item" data-aos-duration="1000" data-aos="fade-up" data-aos-delay="300">
        <a href="portfolio-details.html" class="portfolio-widget">
          <div class="portfolio-widget_image-block">
            <img src="{% static '/image/home-1/portf2.png' %}" alt="portfolio image" class="portfolio-image" />
          </div>
          <div class="portfolio-widget__title-block">
            <span class="portfolio-widget__category">Комплексное внедрение</span>
            <h3 class="portfolio-widget__title">«МагКомпозит»</h3>
            <div class="integrator-line"></div>
            <p class="portfolio-widget__info">Текст о том как данная услуга сделала пользу в данной компании</p>
          </div>
        </a>
      </div>


      <div class="integrator-portfolio-item" data-aos-duration="1000" data-aos="fade-up" data-aos-delay="300">
        <a href="portfolio-details.html" class="portfolio-widget">
          <div class="portfolio-widget_image-block">
            <img src="{% static '/image/home-1/portf2.png' %}" alt="portfolio image" class="portfolio-image" />
          </div>
          <div class="portfolio-widget__title-block">
            <span class="portfolio-widget__category">Комплексное внедрение</span>
            <h3 class="portfolio-widget__title">«МагКомпозит»</h3>
            <div class="integrator-line"></div>
            <p class="portfolio-widget__info">Текст о том как данная услуга сделала пользу в данной компании</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<!--~~~~~~~~~~~~~~~~~~~~~~~~
     CTA Base 
~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div class="integrator-cta-base">
  <div class="container">
    <div class="integrator-cta-base__wrapper">
      <div class="integrator-cta-base__text-block">
        <h2 class="heading-md">Информация - это хорошо, но может стоит применить ее на практике?</h2>
      </div>
      <div class="cta-base__button">
        <a href="#" class="integrator-btn btn-fill--up">
          <span>Начать использовать Битрикс24</span></a>
      </div>
    </div>
  </div>
  <div class="integrator-cta-base_over">
    <img src="{% static '/image/cta/bubble.png' %}" alt="Bubbles" />
  </div>
</div>
{% endblock %}