{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="inner_banner-section">
  <img class="inner_banner-background-image" src= {% static '/image/common/inner-bg.png' %} alt="image alt">
  <div class="container">
    <div class="inner_banner-content-block">
      <h3 class="inner_banner-title">Наша команда</h3>
      <ul class="banner__page-navigator">
        <li>
          <a href="/">Главная</a>
        </li>
        <li>
          <a href="/">О нас</a>
        </li>
        <li class="active">
          <a href="/company">
            Наша команнда
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Home 1 : Testimonial Section 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div
  class="home-1_testimonial-section section-padding-120 bg-light-2"
  id="testimonial"
>
  <div class="container">
    <div class="testimonial-widget-large">
      <div class="row row--custom">
        <div
          class="col-lg-6 col-md-8 col-sm-10 col-xs-10"
          data-aos-duration="1000"
          data-aos="fade-right"
        >
          <div class="testimonial-widget-large__image">
            <img
              src="{% static '/image/1R1A0289.jpg' %}"
              alt="handsome-smiling-bearded-man-glasses-working-laptop"
            />
          </div>
        </div>
        <div
          class="col-lg-6 col-md-10 col-auto"
          data-aos-duration="1000"
          data-aos="fade-left"
        >
          <div class="testimonial-widget-large__body">
            <div class="testimonial-widget-large__icon">
              <img
                src="{% static '/image/home-1/testimonial-icon.svg' %}"
                alt="testimonial icon"
              />
            </div>
            <p class="testimonial-widget-large__review-text">
              Мы — команда, где каждый специалист на своём месте и в то же время часть дружного, поддерживающего коллектива. У нас ценятся инициативность, стремление к росту и любовь к технологиям.
              <br/><br/>
              Мы развиваемся вместе: участвуем в обучениях, прокачиваем скиллы и делимся опытом. Здесь ценят идеи, уважают личность и радуются общим победам. У нас интересно, стабильно и просто по-человечески классно работать.
            </p>

            <h4 class="testimonial-widget-large__user-name mt-10">
              Роман Сытько
            </h4>
            <span class="testimonial-widget-large__user-position">
              CEO Правильные Интеграторы
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Home 1  : Content Section 1
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="home-1_content-section-1 section-padding-120" id="about">
  <div class="container">
    <div class="row row--custom">
      <div
        class="offset-xl-1 col-lg-5 col-auto"
        data-aos-duration="1000"
        data-aos="fade-left"
      >
        <div class="home-1_content-image-1 content-image--mobile-width">
          <img
            src="{% static '/image/home-1/discount.jpg' %}"
            alt="alternative text"
          />
          <div class="home-1_content-image-1-shape">
            <img
              src="{% static '/image/home-1/content-image-1-shape.svg' %}"
              alt="alternative text"
            />
          </div>
        </div>
      </div>
      <div
        class="col-xl-6 col-lg-7 col-md-10 col-auto"
        data-aos-duration="1000"
        data-aos="fade-right"
      >
        <div class="content">
          <div class="content-text-block">
            <h2 class="content-title heading-md text-black">
              Ваши бизнес-процессы в надежных руках
            </h2>
            <p>
              Команда Правильных интеграторов — это эксперты с реальным опытом внедрения Битрикс24 под задачи бизнеса любого масштаба. Мы не просто настраиваем CRM Битрикс24 — мы погружаемся в процессы, находим слабые места и предлагаем оптимальные решения.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Home 1  : Content Section 2
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="home-1_content-section-2 padding-bottom-120">
  <div class="container">
    <div class="row row--custom">
      <div
        class="col-xl-5 col-lg-5 col-auto"
        data-aos-duration="1000"
        data-aos="fade-right"
      >
        <div class="home-1_content-image-2 content-image--mobile-width">
          <img
            src="{% static '/image/home-1/sert.jpg' %}"
            alt="alternative text"
          />
          <div class="home-1_content-image-2-shape">
            <img
              src="{% static '/image/home-1/content-image-2-shape.svg' %}"
              alt="alternative text"
            />
          </div>
        </div>
      </div>
      <div
        class="offset-xl-1 col-xl-6 col-lg-7 col-md-11"
        data-aos-duration="1000"
        data-aos="fade-left"
      >
        <div class="content">
          <div class="content-text-block">
            <h2 class="content-title heading-md text-black">
              Правильные интеграторы - это:
            </h2>
          </div>
          <div class="content-list-block">
            <ul class="content-list">
              <li class="content-list-item">
                <img
                  src="{% static '/image/icons/icon-check-blue.svg' %}"
                  alt="alternative text"
                />
                Высокая квалификация сотрудников
              </li>
              <li class="content-list-item">
                <img
                  src="{% static '/image/icons/icon-check-blue.svg' %}"
                  alt="alternative text"
                />
                Официально подтвержденные компетенции
              </li>
              <li class="content-list-item">
                <img
                  src="{% static '/image/icons/icon-check-blue.svg' %}"
                  alt="alternative text"
                />
                Непрерывное обучение и развитие
              </li>
              <li class="content-list-item">
                <img
                  src="{% static '/image/icons/icon-check-blue.svg' %}"
                  alt="alternative text"
                />
                Участие в бизнес-встречах и конференциях
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Home 8  : Team Section 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="home-8_team-section padding-bottom-150 bg-cream" bis_skin_checked="1">
  <div class="container" bis_skin_checked="1">
    <div class="row row--custom" bis_skin_checked="1">
      <div class="col-xl-5 col-lg-6 col-md-8 col-10" bis_skin_checked="1">
        <div class="content" bis_skin_checked="1">
          <div class="content-text-block" bis_skin_checked="1">
            <h2 class="content-title text-black-2 heading-lg">Наша команда Правильных интеграторов</h2>
            <p>
              Мы делаем большую ставку на нашу команду. Именно так мы становимся лучше, а внедрение Битрикс24 с нашей командой - успешнее.
            </p>
            <ul class="content-list">
              <li class="content-list-item"><img src="{% static '/image/icons/icon-check-purple.svg' %}" alt="icon check purple">Ценим опыт каждого сотрудника</li>
              <li class="content-list-item"><img src="{% static '/image/icons/icon-check-purple.svg' %}" alt="icon check purple">Всегда стремимся к лучшему</li>
            </ul>
          </div>
          <div class="content-button-block" bis_skin_checked="1">
            <a href="" class="btn-masco btn-outline-l08 btn-fill--up rounded-pill"><span>Присоединиться к нашей команде</span></a>
          </div>
        </div>
      </div>
      <div class="offset-xl-1 col-lg-6 col-md-12 col-xs-10 col-5" bis_skin_checked="1">
        <div class="row gutter-y-default team-widget-row" bis_skin_checked="1">
          <div class=" col-lg-4 col-md-4 col-xs-6 col-auto" bis_skin_checked="1">
            <div class="team-widget" bis_skin_checked="1">
              <div class="team-widget__image-block" bis_skin_checked="1">
                <img src="{% static '/image/home-8/team-image-1.png' %}" alt="alternative text">
              </div>
              <h4 class="team-widget__user-name">Arlene McCoy</h4>
              <span class="team-widget__user-position">UI/UX Designer</span>
            </div>
          </div>
          <div class=" col-lg-4 col-md-4 col-xs-6 col-auto" bis_skin_checked="1">
            <div class="team-widget" bis_skin_checked="1">
              <div class="team-widget__image-block" bis_skin_checked="1">
                <img src="{% static '/image/home-8/team-image-2.png' %}" alt="alternative text">
              </div>
              <h4 class="team-widget__user-name">Theresa Webb</h4>
              <span class="team-widget__user-position">Project Manager</span>
            </div>
          </div>
          <div class=" col-lg-4 col-md-4 col-xs-6 col-auto" bis_skin_checked="1">
            <div class="team-widget" bis_skin_checked="1">
              <div class="team-widget__image-block" bis_skin_checked="1">
                <img src="{% static '/image/home-8/team-image-3.png' %}" alt="alternative text">
              </div>
              <h4 class="team-widget__user-name">Floyd Miles</h4>
              <span class="team-widget__user-position">Marketing Expert</span>
            </div>
          </div>
          <div class=" col-lg-4 col-md-4 col-xs-6 col-auto" bis_skin_checked="1">
            <div class="team-widget" bis_skin_checked="1">
              <div class="team-widget__image-block" bis_skin_checked="1">
                <img src="{% static '/image/home-8/team-image-4.png' %}" alt="alternative text">
              </div>
              <h4 class="team-widget__user-name">Darlene Robertson</h4>
              <span class="team-widget__user-position">Web Developer</span>
            </div>
          </div>
          <div class=" col-lg-4 col-md-4 col-xs-6 col-auto" bis_skin_checked="1">
            <div class="team-widget" bis_skin_checked="1">
              <div class="team-widget__image-block" bis_skin_checked="1">
                <img src="{% static '/image/home-8/team-image-5.png' %}" alt="alternative text">
              </div>
              <h4 class="team-widget__user-name">Bessie Cooper</h4>
              <span class="team-widget__user-position">Product Designer</span>
            </div>
          </div>
          <div class=" col-lg-4 col-md-4 col-xs-6 col-auto" bis_skin_checked="1">
            <div class="team-widget" bis_skin_checked="1">
              <div class="team-widget__image-block" bis_skin_checked="1">
                <img src="{% static '/image/home-8/team-image-6.png' %}" alt="alternative text">
              </div>
              <h4 class="team-widget__user-name">Jerome Bell</h4>
              <span class="team-widget__user-position">HTML Developer</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Home 10  : Integration Section
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="home-10_integration-section padding-bottom-120 bg-offwhite-2 " id="integration" bis_skin_checked="1">
      <div class="container" bis_skin_checked="1">
        <div class="row row--custom " bis_skin_checked="1">
          <div class="col-xl-5 col-lg-5 col-auto aos-init aos-animate" data-aos-duration="1000" data-aos="fade-right" bis_skin_checked="1">
            <div class="home-10_integration-image content-image--mobile-width" bis_skin_checked="1">
              <img src="{% static '/image/home-10/integration-image-1.png' %}" alt="alternative text">
            </div>
          </div>
          <div class="offset-lg-1 col-xl-6 col-lg-6 col-md-9 col-auto aos-init aos-animate" data-aos-duration="1000" data-aos="fade-left" bis_skin_checked="1">
            <div class="content" bis_skin_checked="1">
              <div class="content_text-block" bis_skin_checked="1">
                <h2 class="content-title text-black-2 heading-lg">
                  Стек технологий
                </h2>
                <p>
                  Наша команда использует проверенные технологии для эффективной работы с Битрикс24. Наши критерии выбора инструментов -- безопасность, стабильность и адаптивность под задачи бизнеса.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Home 1 : Testimonial Section 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div
  class="home-1_testimonial-section section-padding-120 bg-light-2"
  id="testimonial"
>
  <div class="container">
    <div class="testimonial-widget-large">
      <div class="row row--custom">
        <div
          class="col-xl-5 col-lg-5 col-auto aos-init aos-animate"
          data-aos-duration="1000"
          data-aos="fade-right"
        >
          <div class="testimonial-widget-large__image">
            <img
              src="{% static '/image/1R1A0289.jpg' %}"
              alt="handsome-smiling-bearded-man-glasses-working-laptop"
            />
          </div>
        </div>
        <div
          class="col-xl-6 col-lg-6 col-md-9 col-auto aos-init aos-animate"
          data-aos-duration="1000"
          data-aos="fade-left"
        >
          <div class="testimonial-widget-large__body">
            <div class="content_text-block" bis_skin_checked="1">
            <h2 class="content-title text-black-2 heading-md">Мы в ТОП-5 интеграторов Битрикс24 в Беларуси</h2>
          </div>
            <p >
              Мы — команда, где каждый специалист на своём месте и в то же время часть дружного, поддерживающего коллектива. У нас ценятся инициативность, стремление к росту и любовь к технологиям.
              <br/><br/>
              Мы развиваемся вместе: участвуем в обучениях, прокачиваем скиллы и делимся опытом. Здесь ценят идеи, уважают личность и радуются общим победам. У нас интересно, стабильно и просто по-человечески классно работать.
            </p>

            <div class="testimonial-widget-2__user-block mt-10" bis_skin_checked="1">
              <img src="/static/image/icons/h03-feature-2.svg" alt="image alt">
              <div class="author-info" bis_skin_checked="1">
                <h4 class="testimonial-widget-2__user-name">Роман Сытько</h4>
                <span class="testimonial-widget-2__user-position">CEO Правильные Интеграторы</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

    
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~
 Career Page : main section
~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div class="career_main-section section-padding-120" bis_skin_checked="1">
      <div class="container" bis_skin_checked="1">
        <div class="section-heading career-main__section-heading" bis_skin_checked="1">
          <div class="row justify-content-center" bis_skin_checked="1">
            <div class="col-xl-6 col-lg-7 col-md-9" bis_skin_checked="1">
              <h2 class="heading-md text-black career_main-title">Открытые ваканнсии</h2>
            </div>
          </div>
        </div>
        <div class="row career-card-row navigation-active isotope-navigation" style="position: relative; height: 981.234px;" bis_skin_checked="1">
          <div class="col-lg-6 grid-item  portfolio-1 portfolio-3" style="position: absolute; left: 0px; top: 0px;" bis_skin_checked="1">
            <div class="career-card" bis_skin_checked="1">
              <div class="career-card__body" bis_skin_checked="1">
                <h3 class="career-card__title">UI/UX and product designer</h3>
                <p>Specify the job position you are applying for &amp; Introduce yourself and highlight your skills and qualifications. Tailor your resume</p>
              </div>
              <div class="career-card__job-info" bis_skin_checked="1">
                <span><img src="{% static '/image/icons/clock.svg' %}" alt="clock">Full Time</span>
                <span><img src="{% static '/image/icons/location.svg' %}" alt="location">London, UK</span>
                <span><img src="{% static '/image/icons/cash.svg' %}" alt="cash">$25k-$40k</span>
              </div>
              <a class="btn-link btn-arrow career-card__link" href="/career-details">Apply now</a>
            </div>
          </div>
          <div class="col-lg-6 grid-item  portfolio-3 portfolio-2" style="position: absolute; left: 660px; top: 0px;" bis_skin_checked="1">
            <div class="career-card" bis_skin_checked="1">
              <div class="career-card__body" bis_skin_checked="1">
                <h3 class="career-card__title">Junior content writer</h3>
                <p>Specify the job position you are applying for &amp; Introduce yourself and highlight your skills and qualifications. Tailor your resume</p>
              </div>
              <div class="career-card__job-info" bis_skin_checked="1">
                <span><img src="{% static '/image/icons/clock.svg' %}" alt="clock">Full Time</span>
                <span><img src="{% static '/image/icons/location.svg' %}" alt="location">London, UK</span>
                <span><img src="{% static '/image/icons/cash.svg' %}" alt="cash">$25k-$40k</span>
              </div>
              <a class="btn-link btn-arrow career-card__link" href="/career-details">Apply now</a>
            </div>
          </div>
          <div class="col-lg-6 grid-item  portfolio-2 portfolio-3" style="position: absolute; left: 0px; top: 327.078px;" bis_skin_checked="1">
            <div class="career-card" bis_skin_checked="1">
              <div class="career-card__body" bis_skin_checked="1">
                <h3 class="career-card__title">Junior video editor</h3>
                <p>Specify the job position you are applying for &amp; Introduce yourself and highlight your skills and qualifications. Tailor your resume</p>
              </div>
              <div class="career-card__job-info" bis_skin_checked="1">
                <span><img src="{% static '/image/icons/clock.svg' %}" alt="clock">Full Time</span>
                <span><img src="{% static '/image/icons/location.svg' %}" alt="location">London, UK</span>
                <span><img src="{% static '/image/icons/cash.svg' %}" alt="cash">$25k-$40k</span>
              </div>
              <a class="btn-link btn-arrow career-card__link" href="/career-details">Apply now</a>
            </div>
          </div>
          <div class="col-lg-6 grid-item  portfolio-2 portfolio-1" style="position: absolute; left: 660px; top: 327.078px;" bis_skin_checked="1">
            <div class="career-card" bis_skin_checked="1">
              <div class="career-card__body" bis_skin_checked="1">
                <h3 class="career-card__title">Graphic designer</h3>
                <p>Specify the job position you are applying for &amp; Introduce yourself and highlight your skills and qualifications. Tailor your resume</p>
              </div>
              <div class="career-card__job-info" bis_skin_checked="1">
                <span><img src="{% static '/image/icons/clock.svg' %}" alt="clock">Full Time</span>
                <span><img src="{% static '/image/icons/location.svg' %}" alt="location">London, UK</span>
                <span><img src="{% static '/image/icons/cash.svg' %}" alt="cash">$25k-$40k</span>
              </div>
              <a class="btn-link btn-arrow career-card__link" href="/career-details">Apply now</a>
            </div>
          </div>
        </div>
        <div class="section-button" bis_skin_checked="1">
          <a href="#" class="btn-masco rounded-pill btn-fill--up"><span>Нет подходящей вакансии? Свяжитесь с нами - кнопка</span></a>
        </div>
      </div>
    </div>


<!--~~~~~~~~~~~~~~~~~~~~~~~~
     CTA Base 
~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div class="cta-base">
  <div class="container">
    <div class="cta-base__wrapper border-bottom-dark">
      <div
        class="row align-items-center justify-content-center justify-content-md-between gutter-y-20"
      >
        <div class="col-xxl-5 col-xl-6 col-lg-6 col-md-7 col-10">
          <div class="cta-base__text-block">
            <h2 class="heading-md text-white">Хотите узнать больше про нас?</h2>
          </div>
        </div>
        <div class="col-xl-auto col-lg-4 col-md-5 col-xs-8 col-10">
          <div class="cta-base__button">
            <a
              href="./contact.html"
              class="btn-masco rounded-pill btn-fill--up"
            >
              <span>Наш телеграм</span></a
            >
            <div class="cta-base__button-shape">
              <img
                src="{% static '/image/home-1/cta-shape.svg' %}"
                alt="image alt"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
