{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="integrator-section integrator-header__plus">
  <div class="container">
    <div class="content">
      <div class="content-text-block">
        <h1 class="integrator-heading heading-xxl">Наша команда</h1>
      </div>
    </div>
  </div>
</div>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Team Section 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="integrator-team-section padding-bottom-150" bis_skin_checked="1">
  <div class="container" bis_skin_checked="1">
    <div class="integrator-team">
      <div class="integrator-row">
        <div class="integrator-team__images">
          <div class="integrator-team__image">
            <img src="{% static '/image/team/Roman.png' %}" alt="Roman">
            <div class="qoute-autor">
              <p class="name">Роман Сытько</p>
              <p class="business-name">Руководитель компании</p>
            </div>
          </div>
          <div class="integrator-team__image">
            <img src="{% static '/image/team/Inna.png' %}" alt="Inna">
            <div class="qoute-autor">
              <p class="name">Инна Литвин</p>
              <p class="business-name">Руководитель отдела продаж</p>
            </div>
          </div>
        </div>
        <div class="integrator-team__info">
          <div class="integrator-team-quote">
            <div class="quote-revert">
              <img src="{% static '/image/quote.svg' %}" alt="quote">
            </div>
            <p class="quote-text">Мы — команда, где каждый специалист на своём месте и в то же время часть дружного,
              поддерживающего коллектива. У нас ценятся инициативность, стремление к росту и любовь к технологиям.</p>
            <p class="quote-text">Мы развиваемся вместе: участвуем в обучениях, прокачиваем скиллы и делимся опытом.
              Здесь ценят идеи, уважают личность и радуются общим победам. У нас интересно, стабильно и просто
              по‑человечески классно работать.</p>
            <div class="quote">
              <img src="{% static '/image/quote.svg' %}" alt="quote">
            </div>
          </div>
        </div>
      </div>
      <div class="integrator-row integrator-team-list">
        <div class="integrator-team__images">
          <div class="integrator-team__image">
            <img src="{% static '/image/team/alina.png' %}" alt="Roman">
            <div class="qoute-autor">
              <p class="name">Алина Сытько</p>
              <p class="business-name">Специалист по настройке Битрикс24</p>
            </div>
          </div>
          <div class="integrator-team__image">
            <img src="" alt="Ekatetyna">
            <div class="qoute-autor">
              <p class="name">Екатерина Ребковец</p>
              <p class="business-name">Проектный менеджер</p>
            </div>
          </div>
        </div>
        <div class="integrator-team__images">
          <div class="integrator-team__image">
            <img src="" alt="Anastasija">
            <div class="qoute-autor">
              <p class="name">Анастасия Оксенюк</p>
              <p class="business-name">Бизнес-аналитик</p>
            </div>
          </div>
          <div class="integrator-team__image">
            <img src="" alt="Maxim">
            <div class="qoute-autor">
              <p class="name">Максим Лютиков</p>
              <p class="business-name">Разработчик</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Technologies Section
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="integrator-technologies-section padding-bottom-150" bis_skin_checked="1">
  <div class="container" bis_skin_checked="1">
    <h3 class="integrator-technologies-title text-center">Используем проверенные технологии для эффективной работы
      с Битрикс24. Наши критерии выбора инструментов — безопасность, стабильность и адаптивность под задачи бизнеса.
    </h3>
    <div class="integrator-row row--custom" bis_skin_checked="1">
      <div class="integrator-technologies-item" bis_skin_checked="1">
        <h4 class="integrator-technologies__title">Программирование</h4>
        <div class="integrator-technologies-list">
          <p>python</p>
          <p>js</p>
          <p>php</p>
        </div>
      </div>
      <div class="integrator-technologies-item" bis_skin_checked="1">
        <h4 class="integrator-technologies__title">Базы данных</h4>
        <div class="integrator-technologies-list">
          <p>mysql</p>
          <p>postgres</p>
          <p>sqlite</p>
        </div>
      </div>
      <div class="integrator-technologies-item" bis_skin_checked="1">
        <h4 class="integrator-technologies__title">Bi системы</h4>
        <div class="integrator-technologies-list">
          <p>powerBI</p>
          <p>lookerStudio</p>
        </div>
      </div>
      <div class="integrator-technologies-item" bis_skin_checked="1">
        <h4 class="integrator-technologies__title">Телефония</h4>
        <div class="integrator-technologies-list">
          <p>Asterisk</p>
        </div>
      </div>
      <div class="integrator-technologies-item" bis_skin_checked="1">
        <h4 class="integrator-technologies__title">Фреймворки управления</h4>
        <div class="integrator-technologies-list">
          <p>OMIMO</p>
        </div>
      </div>
      <div class="integrator-technologies-item" bis_skin_checked="1">
        <h4 class="integrator-technologies__title">Управление процессами</h4>
        <div class="integrator-technologies-list">
          <p>BPM</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    TOP Section
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<div class="integrator-top-section padding-bottom-150 padding-top-150">
  <div class="container">
    <div class="content">
      <div class="content-text-block">
        <h2 class="integrator-subheading heading-md text-center">
          Входим в <span class="primary">ТОП-10</span> интеграторов CRM Битрикс24 в Беларуси
        </h2>
        <p class="text-center">
          Правильные интеграторы — это команда профессионалов, которые помогут вам превратить Битрикс24 в мощный
          инструмент для развития вашего бизнеса.
        </p>
      </div>
    </div>
    <div class="integrator-check-points">
      <div class="integrator-row">
        <div class="integrator-check-point">
          <span class="poin-number">
            01
          </span>
          <h4 class="point-title">Высокая квалификация сотрудников</h4>
        </div>
        <div class="integrator-check-point">
          <span class="poin-number">
            02
          </span>
          <h4 class="point-title">Официально подтвержденные компетенции</h4>
        </div>
        <div class="integrator-check-point">
          <span class="poin-number">
            03
          </span>
          <h4 class="point-title">Непрерывное обучение и развитие</h4>
        </div>
        <div class="integrator-check-point">
          <span class="poin-number">
            04
          </span>
          <h4 class="point-title">Участие в бизнес-встречах и конференциях</h4>
        </div>
      </div>
    </div>
    <div class="integrator-top">
      <div class="integrator-row">
        <div class="integrator-top__image">
          <img src="{% static '/image/about/top.png' %}" alt="Roman">
        </div>
        <div class="integrator-top__info">
          <div class="integrator-top-qoute">
            <div class="quote-revert">
              <img src="{% static '/image/quote.svg' %}" alt="quote">
            </div>
            <p class="quote-text">«Мы не просто внедряем Битрикс24, мы проводим глубокий бизнес-анализ, вникаем в каждый
              процесс и создаем решения, которые максимизируют эффективность вашего бизнеса»</p>
            <div class="qoute-autor">
              <p class="name">Роман Сытько</p>
              <p class="business-name">Руководитель компании</p>
            </div>
            <div class="quote">
              <img src="{% static '/image/quote.svg' %}" alt="quote">
            </div>
          </div>
          <div class="integrator-top__certificats">
            <div class="integrator-top__certificat">
              <img src="{% static '/image/about/cert1.png' %}" alt="certificat">
            </div>
            <div class="integrator-top__certificat">
              <img src="{% static '/image/about/cert2.png' %}" alt="certificat">
            </div>
            <div class="integrator-top__certificat">
              <img src="{% static '/image/about/cert3.png' %}" alt="certificat">
            </div>
          </div>
          <div class="integrator-top__certificats-large">
            <div class="integrator-top__certificat">
              <img src="{% static '/image/about/cert4.png' %}" alt="certificat">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    TEAM-2 Section
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<div class="integrator-team-second-section padding-bottom-150 padding-top-150">
  <div class="container">
    <div class="content">
      <div class="content-text-block">
        <h2 class="integrator-subheading heading-md text-center">
          Ваши бизнес-процессы в надёжных руках
        </h2>
        <p class="text-center">
          Команда Правильных интеграторов — это эксперты с реальным опытом внедрения Битрикс24 под задачи бизнеса любого
          масштаба. Мы не просто настраиваем CRM Битрикс24 — мы погружаемся в процессы, находим слабые места
          и предлагаем оптимальные решения.
        </p>
      </div>
    </div>
  </div>
  <div class="integrator-team-slider slidercontainer">
    <div class="slider">
      <div class="teams">
        <div class="integrator-team-slide fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
          <img src="{% static '/image/team/contact-team.png' %}" alt="team">
        </div>
        <div class="integrator-team-slide fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
          <img src="{% static '/image/team/team-2.png' %}" alt="team">
        </div>
        <div class="integrator-team-slide fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
          <img src="{% static '/image/team/team-3.png' %}" alt="team">
        </div>
        <div class="integrator-team-slide fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
          <img src="{% static '/image/team/team-4.png' %}" alt="team">
        </div>
        <div class="integrator-team-slide fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
          <img src="{% static '/image/team/contact-team.png' %}" alt="team">
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}