{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="integrator-section integrator-header__plus">
  <div class="container">
      <div class="integrator-row row--custom">
        <div class="integrator-contact">
            <div class="content">
              <div class="content-text-block">
                <h1 class="integrator-heading heading-xxl">Связаться с нами</h1>
              </div>
            </div>
            <div class="integrator-content_main-info">
              <div class="row integrator-widget">
                <div class="integrator-widget-item aos-animate" data-aos="fade-up" data-aos-delay="100">
                  <h4 class="integrator-widget__title">Телефон</h4>
                  <p>+375339015703</p>
                </div>
                <div class="integrator-widget-item aos-animate" data-aos="fade-up" data-aos-delay="200">
                  <h4 class="integrator-widget__title">E-mail</h4>
                        <p>info@integrators.by</p>
                </div>
                <div class="integrator-widget-item aos-animate" data-aos="fade-up" data-aos-delay="200">
                  <h4 class="integrator-widget__title">Адрес</h4>
                      <p>Минск, Мельникайте, 8 (2 подъезд, 10 этаж)
                      </p>
                </div>

                <div class="integrator-widget-item aos-animate" data-aos="fade-up" data-aos-delay="200">
                      <p class="integrator-contact-adress">Пн-Пт: 09:00 - 18:00</p>
                </div>
              </div>
            </div>
            <div class="integrator-widget-item widget-item__last aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
              <h4 class="integrator-widget__title">Узнать больше про нас</h4>
                  <p>telegram
                  </p>
            </div>
        </div>
        <div class="integrator-contact__image">
          <div>
            <img class="contact__img"
              src="{% static '/image/team/contact-team.png' %}"
              alt="image alt">
          </div>
        </div>
      </div>
  </div>
</div>

<div class="container"><div class="integrator-line"></div></div>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Conatct : Main Section 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="integrator-section contact_main-section">
  <div class="container">
    <div class="integrator-row row--custom">
      <div class="integrator-contact">
        <div class="contact_main-content">
              <h2 class="integrator-subheading heading-md">Напишите нам</h2>
              <p class="integrator-text">
                Заполните форму, мы свяжемся для бесплатной консультации и обсудим ваши задачи.
              </p>
        </div>
      </div>
      <div class="integrator-contact__form">
        <div class="form-box-style__form-wrapper">
          <form class="form-box-style">
            <div class="form-box-style__form-inner">
              <div class="form-box-style__form-input">
                <h3 class="form-box-style-title">Ваше имя</h3>
                <input class="form-control bg-white" type="text" placeholder="Ваше имя">
              </div>
              <div class="form-box-style__form-input">
                <h3 class="form-box-style-title">Название компании</h3>
                <input class="form-control bg-white" type="text" placeholder="Название компании">
              </div>
              <div class="form-box-style__form-input">
                <h3 class="form-box-style-title">Ваш телефон</h3>
                <input class="form-control bg-white" type="text" placeholder="Контакт для связи">
              </div>
              <div class="form-box-style__form-input">
                <h3 class="form-box-style-title">Ваш Email</h3>
                <input class="form-control bg-white" type="text" placeholder="Ваш Email">
              </div>
              <div class="form-box-style__form-input">
                <h3 class="form-box-style-title">Краткие вводные</h3>
                <textarea class="form-control bg-white textarea"
                  placeholder="Боль, проблема, задача, запрос, желание, фантазия - если что-то из этого есть, опишите это тут. Если ничего нет или пока не готовы - поставьте  прочерк."></textarea>
              </div>

              <div class="form-box-style__form-input integrator-checkbox">
                <input type="checkbox" id="checkbox1" checked>
                <label for="checkbox1">Нажимая кнопку «Отправить», я принимаю условия пользовательского соглашения и даю согласие на обработку моих персональных данных на условиях и для целей, определённых в <a>Согласии на обработку персональных данных</a></label>
              </div>
            </div>
          </form>


          <div class="form-box-style__form-input-button">
            <button type="submit" class="integrator-btn btn-fill--up w-100">Отправить</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}