{% extends 'base.html' %} {% load static %} {% block content %}
<script>
  console.log('sdfsdf');
</script>
<div class="home-1_hero-section" id="hero">
  <div class="home-1_hero-shape-1">
    <img src="{% static '/image/home-1/hero-shape-1.svg' %}" alt="image alt" />
  </div>
  <div class="home-1_hero-shape-2">
    <img src="{% static '/image/home-1/hero-shape-2.svg' %}" alt="image alt" />
  </div>
  <div class="container">
    <div class="row row--hero-content">
      <div class="col-xxl-auto col-lg-6 col-md-7 col-sm-8 col-10" data-aos-duration="1000" data-aos="fade-left"
        data-aos-delay="300">
        <div class="home-1_hero-image-block">
          <div class="home-1_hero-image">
            <img src="{% static '/image/bitrix/all.svg' %}" alt="hero image" />
          </div>
        </div>
      </div>
      <div class="col-xxl-auto col-lg-6 col-md-10" data-aos-duration="1000" data-aos="fade-right" data-aos-delay="300">
        <div class="home-1_hero-content">
          <div class="home-1_hero-content-text">
            <h1 class="hero-content__title heading-xxl">
              Подписка на маркетплейс Битрикс24
            </h1>
            <p>
              Получайте дополнительные интеграции с сервисами и увеличение функционала основных инструментов.
            </p>
          </div>
          <div class="d-flex gap-3 flex-column flex-sm-row">
            <a href="#" class="btn-masco btn-masco--header rounded-pill btn-fill--up">
              <span>Купить сейчас</span>
            </a>
            <a href="#" class="btn-masco btn-masco--header rounded-pill btn-fill--up">
              <span>Нужна консультация</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-padding-120">
  <div class="container">

    <div class="portfolio-details_article-body">
      <div>
        <h3><span style="font-weight: bold;">Битрикс24.Маркет Плюс</span> — это обширный каталог решений, расширяющих
          возможности вашей системы Битрикс24.<br>
          Здесь вы найдёте приложения, которые:</h3>
        <ul class="ms-3" style="list-style: disc;">
          <li class="pt-2">Расширяют стандартные функции CRM, задач и проектов, контакт-центра и других инструментов.
          </li>
          <li class="pt-2">Добавляют интеграции со сторонними сервисами, которые помогают автоматизировать
            бизнес-процессы.</li>
          <li class="pt-2">Повышают эффективность работы компании за счёт персонализированных инструментов и готовых
            модулей.</li>
        </ul>

        <p>С помощью <span style="font-weight: bold;">Маркет Плюс</span> вы можете адаптировать Битрикс24 под свой
          бизнес и создать идеальное рабочее пространство без ограничений.
        </p>
      </div>
    </div>
  </div>
</div>


<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Home 1 : Service Section
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div class="home-1_service-section padding-bottom-120" id="feature">
  <div class="home-1_service-section-shape">
    <img src="{% static '/image/home-1/service-section-shape.svg' %}" alt="image alt" />
  </div>
  <div class="container">
    <div class="home-1_service-section-wrapper">
      <div class="row justify-content-center">
        <div class="col-md-9">
          <div class="section-heading text-center">
            <h2 class="section-heading__title heading-md text-black">
              Возможности с подпиской на Маркетплейс Битрикс24:
            </h2>
          </div>
        </div>
      </div>
      <div class="row gutter-y-default justify-content-center" style="align-items: stretch;">
        <div class="col-xl-6 col-lg-6 col-md-10">
          <a class="service-card hvr-fill" data-aos-duration="1000" data-aos="fade-right" style="height: 100%;">
            <div class="service-card__body">
              <h3 class="service-card__title">
                Неограниченные установки приложений по подписке
              </h3>
              <p>
                Подписка открывает доступ к установке любого количества приложений из Маркета.<br>Расширяйте функционал
                Битрикс24 без ограничений и создавайте идеальное цифровое пространство под свои задачи.
              </p>
            </div>
          </a>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-10">
          <a class="service-card hvr-fill" data-aos-duration="1000" data-aos="fade-left" style="height: 100%;">
            <div class="service-card__body">
              <h3 class="service-card__title">Гибкое количество пользователей
              </h3>
              <p>
                Количество сотрудников, которые могут пользоваться решениями, зависит только от выбранного
                тарифа.<br>Подключайте всю команду и масштабируйте работу без технических ограничений.
              </p>
            </div>
          </a>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-10">
          <a class="service-card hvr-fill" data-aos-duration="1000" data-aos="fade-right" style="height: 100%;">
            <div class="service-card__body">
              <h3 class="service-card__title">Интеллектуальные помощники для задач и продаж</h3>
              <p>
                Встроенные AI-инструменты поддерживают сотрудников и руководителей: помогают управлять задачами,
                прогнозировать продажи и принимать более точные решения.
              </p>
            </div>
          </a>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-10">
          <a class="service-card hvr-fill" data-aos-duration="1000" data-aos="fade-left" style="height: 100%;">
            <div class="service-card__body">
              <h3 class="service-card__title">Автоматизация CRM, задач и бизнес-процессов</h3>
              <p>
                Настраивайте любые сценарии автоматизации — от простых напоминаний до сложных цепочек
                действий.<br>Битрикс24 сам выполняет рутинные операции, освобождая время вашей команды для
                стратегических задач.
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="about_feature-section section-padding-120 bg-light-2">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-xxl-5 col-xl-6 col-lg-7 col-md-8 col-sm-10 col-xs-10">
        <div class="section-heading">
          <h2 class="section-heading__title heading-md text-black">
            С нами Битрикс24 - больше, чем просто CRM-система
          </h2>
        </div>
      </div>
    </div>
    <div class="row feature-widget-7-row">
      <div class="col-lg-4 col-md-6 col-xs-8 col-9">
        <div class="feature-widget-7">
          <div class="feature-widget-7__icon-wrapper">
            <img src={% static '/image/about/feature-icon-1.svg' %} alt="feature
            icon">
          </div>
          <div class="feature-widget-7__body">
            <h4 class="feature-widget-7__title">Увеличение продаж</h4>
            <p>
              Результат правильного внедрения Битрикс24 - увеличение выручки и
              прибыли компании
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-8 col-9">
        <div class="feature-widget-7">
          <div class="feature-widget-7__icon-wrapper">
            <img src={% static '/image/about/feature-icon-2.svg' %} alt="feature
            icon">
          </div>
          <div class="feature-widget-7__body">
            <h4 class="feature-widget-7__title">
              Эффективное управление бизнесом
            </h4>
            <p>
              Аналитика и отчетность позволяет принимать управленческие решения,
              опираясь на данные
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-8 col-9">
        <div class="feature-widget-7">
          <div class="feature-widget-7__icon-wrapper">
            <img src={% static '/image/about/feature-icon-3.svg' %} alt="feature
            icon">
          </div>
          <div class="feature-widget-7__body">
            <h4 class="feature-widget-7__title">Сокращение издержек</h4>
            <p>
              Автоматизация бизнес-процессов, эффективная коммуникация между
              отделами помогает эффективно использовать рабочее время
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-8 col-9">
        <div class="feature-widget-7">
          <div class="feature-widget-7__icon-wrapper">
            <img src={% static '/image/about/feature-icon-4.svg' %} alt="feature
            icon">
          </div>
          <div class="feature-widget-7__body">
            <h4 class="feature-widget-7__title">
              Оптимизация расходов на маркетинг
            </h4>
            <p>
              Сквозная аналитика и отчеты помогут оптимизировать рекламные
              расходы
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-8 col-9">
        <div class="feature-widget-7">
          <div class="feature-widget-7__icon-wrapper">
            <img src={% static '/image/about/feature-icon-5.svg' %} alt="feature
            icon">
          </div>
          <div class="feature-widget-7__body">
            <h4 class="feature-widget-7__title">
              Повышение лояльности клиентов
            </h4>
            <p>
              Хранение и анализ данных о клиентах позволяет настроить
              персонализированную коммуникацию с клиентами
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-8 col-9">
        <div class="feature-widget-7">
          <div class="feature-widget-7__icon-wrapper">
            <img src={% static '/image/about/feature-icon-6.svg' %} alt="feature
            icon">
          </div>
          <div class="feature-widget-7__body">
            <h4 class="feature-widget-7__title">Защита персональных данных</h4>
            <p>
              Битрикс24 предлагает все необходимые инструменты для соблюдения
              законодательства о защите персональных данных
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~
    Home 1 : Portfolio Section
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div class="home-1_portfolio-section section-padding-120" id="portfolio">
  <div class="portfolio-shape">
    <img src="{% static '/image/home-1/portfolio-shape.png' %}" alt="image alt" />
  </div>

  <div class="container">
    <div class="section-heading section-heading--row text-center text-md-initial">
      <div class="row">
        <div class="col-xl-6 col-md-8">
          <h2 class="section-heading__title heading-md text-black">
            Наши кейсы
          </h2>
        </div>
        <div class="col-xl-3 col-md-4">
          <div class="section-heading__button">
            <a href="portfolio.html" class="btn-masco btn-masco rounded-pill btn-fill--up">
              <span>Все кейсы</span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row row--portfolio-gutter">
      <div class="col-md-6 col-xs-10" data-aos-duration="1000" data-aos="fade-up" data-aos-delay="300">
        <a href="portfolio-details.html" class="portfolio-widget">
          <div class="portfolio-widget_image-block hover-fill--up">
            <img src="{% static '/image/home-1/portf1.png' %}" alt="portfolio image" class="portfolio-image" />
            <div class="hover-fill--up__text">
              <ul class="portfolio-thesis-list">
                <li>
                  <h3>Снижение отходов на 40%</h3>
                </li>
                <li>
                  <h3>Интеграция ИИ-сортировки</h3>
                </li>
                <li>
                  <h3>Экономия ресурсов</h3>
                </li>
              </ul>
            </div>
          </div>
          <div class="portfolio-widget__title-block">
            <h3 class="portfolio-widget__title">«РесайклПро»</h3>
            <span class="portfolio-widget__category">Комплексное внедрение</span>
          </div>
          <div class="portfolio-widget__link">
            <span class="btn-link btn-arrow">Подробнее</span>
          </div>
        </a>
      </div>


      <div class="col-md-6 col-xs-10" data-aos-duration="1000" data-aos="fade-up" data-aos-delay="300">
        <a href="portfolio-details.html" class="portfolio-widget">
          <div class="portfolio-widget_image-block hover-fill--up">
            <img src="{% static '/image/home-1/portf2.png' %}" alt="portfolio image" class="portfolio-image" />
            <div class="hover-fill--up__text">
              <ul class="portfolio-thesis-list">
                <li>
                  <h3>Снижение отходов на 40%</h3>
                </li>
                <li>
                  <h3>Интеграция ИИ-сортировки</h3>
                </li>
                <li>
                  <h3>Экономия ресурсов</h3>
                </li>
              </ul>
            </div>
          </div>
          <div class="portfolio-widget__title-block">
            <h3 class="portfolio-widget__title">«МагКомпозит»</h3>
            <span class="portfolio-widget__category">Комплексное внедрение</span>
          </div>
          <div class="portfolio-widget__link">
            <span class="btn-link btn-arrow">Подробнее</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>


<!--~~~~~~~~~~~~~~~~~~~~~~~~
     CTA Base 
~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div class="cta-base">
  <div class="container">
    <div class="cta-base__wrapper border-bottom-dark">
      <div class="row align-items-center justify-content-center justify-content-md-between gutter-y-20">
        <div class="col-xxl-5 col-xl-6 col-lg-6 col-md-7 col-10">
          <div class="cta-base__text-block">
            <h2 class="heading-md text-white">Приступим к работе?</h2>
          </div>
        </div>
        <div class="col-xl-auto col-lg-4 col-md-5 col-xs-8 col-10">
          <div class="cta-base__button">
            <a href="./contact.html" class="btn-masco rounded-pill btn-fill--up">
              <span>Заполнить заявку</span></a>
            <div class="cta-base__button-shape">
              <img src="{% static '/image/home-1/cta-shape.svg' %}" alt="image alt" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}