
{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="inner_banner-section">
    <img class="inner_banner-background-image" src="{% static '/image/common/inner-bg.png' %}" alt="image alt">
    <div class="container">
      <div class="inner_banner-content-block">
        <h3 class="inner_banner-title">Сервис E-pos: инструкция по оплате</h3>
        <div class="banner__page-navigator">
          <img class="erip-logo" src={% static 'image/epos.svg' %} />
          <img class="erip-logo" src={% static 'image/erip.svg' %} />
        </div>
      </div>
    </div>
  </div>



  <div class="service-details_main-section section-padding-120">
    <div class="row justify-content-center ">
      <div class="col-lg-8">
        <div class="service-details_main-single">
          <h3 class="service-details_main-title">Сканируйте QR-код удобным для себя способом:</h3>
          <p>
            <ul>
                <li>- С помощью приложения мобильного банкинга.</li>
                <span class="alert alert-warning" role="alert">Важно!
                    Cписание произойдет с карты, привязанной к банкингу. Найти сканер внутри банковского приложения помогут в колл-центре вашего банка.</span>
                <li>- С помощью камеры смартфона или специального приложения сканер QR-кодов.</li>
                <li>- С помощью мессенджера Viber:</li>
                <li class="pl-50 clr-gray-regtext">- Кликните вкладку Еще или Настройки.</li>
                <li class="pl-50 clr-gray-regtext">- В верхнем правом углу кликните иконку 📓</li>
            </ul>
          </p>
        </div>


        <div class="service-details_main-single">
            <h3 class="service-details_main-title">Используйте платежную ссылку для оплаты:</h3>
            <p>
              <ul>
                  <li>1. Перейдите по ссылке, полученной от продавца.</li>                  
                  <li>2. Введите запрашиваемые продавцом данные.</li>
                  <li>3. Нажмите кнопку Оплатить.</li>
              </ul>
              <div class="alert alert-warning" role="alert">
                Важно! Для проведения платежа необходимо ввести данные платежной карты: Номер, Срок действия, CVV.
              </div>
            </p>
            <p>
                Обмен данными осуществляется по защищенному каналу связи. Информационная безопасность обеспечена международными стандартами PCI DSS.
            </p>
          </div>
        

        <div class="service-details_main-single">
            <h3 class="service-details_main-title">Используйте систему «Расчет» (ЕРИП)</h3>
            <p>
                Оплачивайте счет через ЕРИП без использования сканера:
            <ul>
                <li>- Через интернет-банкинг.</li>
                <li>- В пункте банковского обслуживания.</li>
                <li>- На почте.</li>
                <li>- В инфокиоске.</li>
                <li>- Через банкомат.</li>
            </ul>
            </p>
            <p>
                Оплата возможна наличными, картой или электронными деньгами.
            </p>
            <ul>
                <li>1. Выберете пункт Система «Расчет» (ЕРИП).</li>
                <li>2. Перейдите в Сервис E-Pos.</li>
                <li>3. Введите номер счета — 28383-х-х.</li>
                <li>4. Проверьте правильность введенных данных. Дополните данные при необходимости.</li>
                <li>5. Подтвердите платеж.</li>
            </ul>
        </div>
        Поддержку в работе с системой оказывает сервис <a href="https://hutkigrosh.by/">Хуткi Грош™</a>
      </div>
    </div>
  </div>

{% endblock %}