{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="integrator-section integrator-header__plus">
  <div class="container">
    <div class="content">
      <div class="content-text-block">
        <h1 class="integrator-heading heading-xxl">Доверие, подтвержденное результатами</h1>
      </div>
    </div>

    <div class="review-logo-subsection">
      <div class="review-logo-descr">
        <div class="integrator-widget-item">
          <h4 class="integrator-widget__title">Более</h4>
          <span>100</span>
          <p>компаний выбрали Правильных интеграторов</p>
        </div>
        <div class="integrator-widget-item">
          <span>91%</span>
          <p>успешного внедрения Битрикс24</p>
        </div>
      </div>
      <div class="review-logo">
        <div class="review-logo-item" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
          <img class="icon-brand" src={% static '/image/home/2.png' %} alt="brand-logo">
        </div>
        <div class="review-logo-item" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
          <img class="icon-brand" src={% static '/image/home/3.png' %} alt="brand-logo">
        </div>
        <div class="review-logo-item" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
          <img class="icon-brand" src={% static '/image/home/4.png' %} alt="brand-logo">
        </div>
        <div class="review-logo-item" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
          <img class="icon-brand" src={% static '/image/home/5.png' %} alt="brand-logo">
        </div>
        <div class="review-logo-item" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
          <img class="icon-brand" src={% static '/image/home/6.png' %} alt="brand-logo">
        </div>
        <div class="review-logo-item" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
          <img class="icon-brand" src={% static '/image/home/7.png' %} alt="brand-logo">
        </div>
        <div class="review-logo-item" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
          <img class="icon-brand" src={% static '/image/home/6.png' %} alt="brand-logo">
        </div>
        <div class="review-logo-item" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
          <img class="icon-brand" src={% static '/image/home/7.png' %} alt="brand-logo">
        </div>
      </div>
    </div>
  </div>
</div>


<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Team Section 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="integrator-team-section padding-bottom-150" bis_skin_checked="1">
  <div class="container" bis_skin_checked="1">
    <div class="content" bis_skin_checked="1">
      <div class="content-text-block" bis_skin_checked="1">
        <h2 class="integrator-subheading integrator-review-heading heading-md">Что говорят о работе с нами наши клиенты
        </h2>
      </div>
    </div>
    <div class="integrator-reviews">
      <div class="integrator-review-point">
        <img src="" alt="Roman">
        <div class="qoute-autor">
          <p class="name">Дмитрий Постников</p>
          <p class="business-name">CEO, Founder Производственной компании МагКомпозит</p>
        </div>
      </div>
      <div class="integrator-review-point">
        <img src="" alt="Inna">
        <div class="qoute-autor">
          <p class="name">Вера</p>
          <p class="business-name">Заместитель директора агентства коммерческой недвижимости "Авеню"</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Review Section 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="integrator-review-section padding-bottom-150" bis_skin_checked="1">
  <div class="container" bis_skin_checked="1">
    <div class="content" bis_skin_checked="1">
      <div class="content-text-block">
        <h2 class="integrator-subheading heading-md">
          Нам говорят «Спасибо»
        </h2>
      </div>
    </div>
    <div class="integrator-reviews">
      <div class="integrator-review-item" data-aos-duration="1000" data-aos="fade-up" data-aos-delay="300">
        <div class="review-item__info">
          <div class="review__image-block">
            <img class="icon-brand" src={% static '/image/home/1.png' %} alt="brand-logo">
            <a href="#"><img src="{% static '/image/about/pdf.png' %}" alt="pdf" class="pdf" /></a>
          </div>
          <div class="review__text-block">
            <p class="integrator-text">Сотрудничество с этой компанией стало для нас настоящим открытием!
              Их профессионализм
              и внимание к деталям впечатляют.</p>
          </div>
        </div>
        <div class="qoute-autor">
          <p class="name">А.Ф. Смирнова</p>
          <p class="business-name">Менеджер, Компания Б</p>
        </div>
      </div>

      <div class="integrator-review-item" data-aos-duration="1000" data-aos="fade-up" data-aos-delay="300">
        <div class="review-item__info">
          <div class="review__image-block">
            <img class="icon-brand" src={% static '/image/home/1.png' %} alt="brand-logo">
            <a href="#"><img src="{% static '/image/about/pdf.png' %}" alt="pdf" class="pdf" /></a>
          </div>
          <div class="review__text-block">
            <p class="integrator-text">Сотрудничество с этой компанией стало для нас настоящим открытием!
              Их профессионализм
              и внимание к деталям впечатляют.</p>
            <p class="integrator-text">Сотрудничество с этой компанией стало для нас настоящим открытием!</p>
          </div>
        </div>
        <div class="qoute-autor">
          <p class="name">А.Ф. Смирнова</p>
          <p class="business-name">Менеджер, Компания Б</p>
        </div>
      </div>

      <div class="integrator-review-item" data-aos-duration="1000" data-aos="fade-up" data-aos-delay="300">
        <div class="review-item__info">
          <div class="review__image-block">
            <img class="icon-brand" src={% static '/image/home/1.png' %} alt="brand-logo">
          </div>
          <div class="review__text-block">
            <p class="integrator-text">Сотрудничество с этой компанией стало для нас настоящим открытием!
              Их профессионализм
              и внимание к деталям впечатляют.</p>
          </div>
        </div>
        <div class="qoute-autor">
          <p class="name">А.Ф. Смирнова</p>
          <p class="business-name">Менеджер, Компания Б</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--~~~~~~~~~~~~~~~~~~~~~~~~
     CTA Base 
~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div class="integrator-cta-base">
  <div class="container">
    <div class="integrator-cta-base__wrapper">
      <div class="integrator-cta-base__text-block">
        <h2 class="heading-md">Готовы к таким же результатам?</h2>
      </div>
      <div class="cta-base__button">
        <a href="#" class="integrator-btn btn-fill--up">
          <span>Начать внедрение</span></a>
      </div>
    </div>
  </div>
  <div class="integrator-cta-base_over">
    <img src="{% static '/image/cta/bubble.png' %}" alt="Bubbles" />
  </div>
</div>
{% endblock %}