{% extends 'base.html' %} {% load static %} {% block content %}
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Home 8  : Hero Section 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="integrator-page-full integrator-section integrator-header__plus" id="hero" bis_skin_checked="1">
  <div class="container" bis_skin_checked="1">
    <div class="row row--custom" bis_skin_checked="1">
      <div class="col-lg-12 col-md-12" bis_skin_checked="1">
        <div class="home-8_hero-content-block" bis_skin_checked="1">
          <div class="home-8_hero-text-block" bis_skin_checked="1">
            <h1 class="integrator-heading heading-l hero-content__title text-center">
              Пакетное внедрение Битрикс24
            </h1>
            <p class="integrator-text text-center">Оптимальный способ внедрить систему за короткое время с минимальными
              затратами и готовыми решениями для типовых задач бизнеса.</p>
          </div>
          <div class="integrator-row">
            <a href="#" class="integrator-btn btn-fill--up">
              <span>Заказать внедрение</span>
            </a>
            <a href="#" class="integrator-btn integrator-btn-light btn-fill--up">
              <span>Получить консультацию</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    BRAND Section 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<div class="integrator-brand-section integrator-brand-section__logo">
  <div class="brand-heading">
    <h3 class="integrator-text text-center">
      Более 100 компаний выбрали Правильных интеграторов
    </h3>
  </div>
  <div class="slidercontainer rounded">
    <div class="slider">
      <div class="logos brands-wrapper">
        <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
          <img class="icon-brand" src={% static '/image/home/1.png' %} alt="brand-logo">
        </div>
        <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
          <img class="icon-brand" src={% static '/image/home/2.png' %} alt="brand-logo">
        </div>
        <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
          <img class="icon-brand" src={% static '/image/home/3.png' %} alt="brand-logo">
        </div>
        <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
          <img class="icon-brand" src={% static '/image/home/4.png' %} alt="brand-logo">
        </div>
        <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
          <img class="icon-brand" src={% static '/image/home/5.png' %} alt="brand-logo">
        </div>
        <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
          <img class="icon-brand" src={% static '/image/home/6.png' %} alt="brand-logo">
        </div>
        <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
          <img class="icon-brand" src={% static '/image/home/7.png' %} alt="brand-logo">
        </div>
        <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
          <img class="icon-brand" src={% static '/image/home/8.png' %} alt="brand-logo">
        </div>
        <!-- <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
            <img class="icon-brand" src={% static '/image/home/9.png'%} alt="brand-logo">
          </div> -->
        <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
          <img class="icon-brand" src={% static '/image/home/10.png' %} alt="brand-logo">
        </div>
        <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
          <img class="icon-brand" src={% static '/image/home/11.png' %} alt="brand-logo">
        </div>
        <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
          <img class="icon-brand" src={% static '/image/home/12.png' %} alt="brand-logo">
        </div>
        <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
          <img class="icon-brand" src={% static '/image/home/13.png' %} alt="brand-logo">
        </div>
        <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
          <img class="icon-brand" src={% static '/image/home/14.png' %} alt="brand-logo">
        </div>
        <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
          <img class="icon-brand" src={% static '/image/home/15.png' %} alt="brand-logo">
        </div>
        <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
          <img class="icon-brand" src={% static '/image/home/16.png' %} alt="brand-logo">
        </div>
        <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
          <img class="icon-brand" src={% static '/image/home/17.png' %} alt="brand-logo">
        </div>
        <div class="single-brand fab" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
          <img class="icon-brand" src={% static '/image/home/18.png' %} alt="brand-logo">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Extention Section
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div class="integrator-extention-section padding-bottom-150 padding-top-150" id="extention">
  <div class="container">
    <div class="integrator-section-heading">
      <h2 class="integrator-subheading heading-md text-center">
        Пакетное внедрение Битрикс24 для вас, если:
      </h2>
      <p class="integrator-text text-center">Мы создаём систему, которая полностью отражает особенности вашей компании и
        помогает автоматизировать даже самые нестандартные процессы.</p>
    </div>
    <div class="integrator-extention-points extention-points-three">
      <div class="extention-point point-three">
        <span class="poin-number">
          01
        </span>
        <h3 class="extention-subtitle">Крупной организации необходим комплексный переход на Битрикс24</h3>
        <div class="integrator-cta-base_over">
          <img src="{% static '/image/cta/bubbles-triple-green.png' %}" alt="Bubbles" />
        </div>
      </div>
      <div class="extention-point point-three">
        <span class="poin-number">
          02
        </span>
        <h3 class="extention-subtitle">Переход должен осуществиться разово, а не отдельными итерациями</h3>
        <div class="integrator-cta-base_over">
          <img src="{% static '/image/cta/bubbles-bottom-yellow.png' %}" alt="Bubbles" />
        </div>
      </div>
      <div class="extention-point point-three">
        <span class="poin-number">
          03
        </span>
        <h3 class="extention-subtitle">Планируются объёмные интеграции, большой объём доработок и разработка уникального
          функционала</h3>
        <div class="integrator-cta-base_over">
          <img src="{% static '/image/cta/bubbles-buttom.png' %}" alt="Bubbles" />
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Feature Section
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="integrator-feature-section integrator-feature-section-full padding-bottom-150 padding-top-150">
  <div class="container">
    <div class="integrator-section-heading">
      <h2 class="integrator-subheading heading-md text-center">
        Что входит в проектное внедрение Битрикс24
      </h2>
    </div>
    <ul class="navigation-list navigation-list--inline">
      <li class="active">
        <button class="btn" data-package="base">Пакет База</button>
      </li>
      <li>
        <button class="btn" data-package="contact">Пакет Контакт-центр</button>
      </li>
      <li>
        <button class="btn" data-package="auto">Пакет Автоматизация</button>
      </li>
    </ul>
    <div class="integrator-row row-full" data-active-package="base">

      <div class="integrator-feature-item" data-base data-contact data-auto>
        <h4 class="integrator-feature__title">01</h4>
        <div class="integrator-feature-list list-flex">
          <h5>Анализ и подготовка</h5>
          <ul>
            <li>CRM Проведение брифинга для сбора требований и описания процессов.</li>
            <li>Формирование технического задания</li>
          </ul>
        </div>
      </div>

      <div class="integrator-feature-item" data-base data-contact data-auto>
        <h4 class="integrator-feature__title">02</h4>
        <div class="integrator-feature-list list-flex">
          <h5>Организационная структура</h5>
          <ul>
            <li>Настройка организационной структуры</li>
            <li>Приглашение сотрудников</li>
          </ul>
        </div>
      </div>

      <div class="integrator-feature-item" data-base data-contact data-auto>
        <h4 class="integrator-feature__title">03</h4>
        <div class="integrator-feature-list list-flex">
          <h5>Информационная безопасность</h5>
          <ul>
            <li>Настройка прав доступа к разделам CRM</li>
            <li>Настройка ограничений на удаление, экспорт и импорт данных</li>
          </ul>
        </div>
      </div>

      <div class="integrator-feature-item" data-base data-contact data-auto>
        <h4 class="integrator-feature__title">04</h4>
        <div class="integrator-feature-list list-flex">
          <h5>CRM</h5>
          <ul>
            <li>Настройка стадий, полей и карточки Лида</li>
            <li>Настройка стадий, полей и карточки Сделок</li>
            <li>Настройка полей и карточек Контактов и Компаний</li>
          </ul>
        </div>
      </div>

      <div class="integrator-feature-item" data-base data-contact data-auto>
        <h4 class="integrator-feature__title">05</h4>
        <div class="integrator-feature-list list-flex">
          <h5>Коммуникация</h5>
          <ul>
            <li>Подключение общего корпоративного E-mail</li>
            <li>Настройка и установка на сайт виджета онлайн-консультанта</li>
          </ul>
        </div>
      </div>

      <div class="integrator-feature-item" data-base data-contact data-auto>
        <h4 class="integrator-feature__title">06</h4>
        <div class="integrator-feature-list list-flex">
          <h5>Аналитика / Настройка штатных отчетов:</h5>
          <ul>
            <li>По лидам - 9 отчетов</li>
            <li>По сделкам - 20 отчетов</li>
            <li>Для анализа клиентской базы - 4 отчета</li>
            <li>Для анализа активности менеджеров - 4 отчета</li>
          </ul>
        </div>
      </div>

      <div class="integrator-feature-item" data-base data-contact data-auto>
        <h4 class="integrator-feature__title">07</h4>
        <div class="integrator-feature-list list-flex">
          <h5>База данных</h5>
          <ul>
            <li>Импорт текущей базы компаний</li>
            <li>Импорт текущей базы контактов</li>
            <li>Импорт товарной номенклатуры</li>
          </ul>
        </div>
      </div>

      <div class="integrator-feature-item" data-base data-contact>
        <h4 class="integrator-feature__title">08</h4>
        <div class="integrator-feature-list list-flex">
          <h5>Обучение</h5>
          <ul>
            <li>Базовое обучение менеджеров - 1 час</li>
            <li>Обучение менеджеров в формате вопрос-ответ - 1 час</li>
            <li>Обучение руководителей - 1 час</li>
            <li>Оформление Базы знаний в вашем Битрикс24 с нашим базовым курсом и записями ваших обучений</li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Help Section
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div class="integrator-help-section padding-bottom-150 padding-top-150" id="extention">
  <div class="container">
    <div class="section-heading">
      <h2 class="integrator-subheading heading-md text-center">
        Проектное внедрение Битрикс24 — система, созданная под ваш бизнес
      </h2>
      <p class="integrator-text text-center help-section-descr">Мы поможем вам пройти путь от регистрации до полноценной
        работы в системе в кратчайшие сроки.</p>
    </div>
    <div class="integrator-help-points">
      <div class="interesting-point">
        <span class="poin-number">
          01
        </span>
        <h3 class="interesting-title">Оставьте заявку</h3>
        <p class="integrator-text">Вы оставляете заявку на нашем сайте. Мы связываемся с вами для более детального
          обсуждения и выявления проблем, которые мы поможем решить с помощью внедрения CRM Битрикс24..</p>
      </div>
      <div class="interesting-point">
        <span class="poin-number">
          02
        </span>
        <h3 class="interesting-title">Брифинг</h3>
        <p class="integrator-text">Мы проводим брифинг с вами продолжительностью 3–4 часа. На этом этапе мы вместе
          с вами описываем ключевые процессы в вашем отделе продаж и подробно обсуждаем проект.</p>
      </div>
      <div class="interesting-point">
        <span class="poin-number">
          03
        </span>
        <h3 class="interesting-title">Составление ТЗ</h3>
        <p class="integrator-text">Мы проводим брифинг с вами продолжительностью 3–4 часа. На этом этапе мы вместе
          с вами описываем ключевые процессы в вашем отделе продаж и подробно обсуждаем проект.</p>
      </div>
      <div class="interesting-point check-point-green">
        <span class="poin-number">
          04
        </span>
        <h3 class="interesting-title">Техническая настройка</h3>
        <p class="integrator-text">Мы приступаем к техническому внедрению Битрикс24 с учётом ваших потребностей
          и требований, совместно сформированных в техническом задании.</p>
        <div class="integrator-cta-base_over">
          <img src="{% static '/image/cta/bubbles-triple-green.png' %}" alt="Bubbles" />
        </div>
      </div>
      <div class="interesting-point">
        <span class="poin-number">
          05
        </span>
        <h3 class="interesting-title">Демонстрация, правки</h3>
        <p class="integrator-text">Мы проводим презентацию ответственному лицу в формате демонстрационного созвона
          (или офлайн). По результатам этой презентации собираем технические правки и реализуем их перед первым
          обучением.</p>
      </div>
      <div class="interesting-point">
        <span class="poin-number">
          06
        </span>
        <h3 class="interesting-title">Обучение</h3>
        <p class="integrator-text">Мы проводим первый цикл обучения ваших сотрудников и руководителей. На данном этапе
          происходит пользовательская корректировка, учитывая ваш опыт использования CRM Битрикс24.</p>
      </div>
      <div class="interesting-point">
        <span class="poin-number">
          07
        </span>
        <h3 class="interesting-title">Повторное обучение</h3>
        <p class="integrator-text">Второй цикл обучения проводится с учётом вашего уже более глубокого понимания
          платформы. Гарантируется, что вы используете Битрикс24 наиболее эффективно.</p>
      </div>
      <div class="interesting-point">
        <span class="poin-number">
          08
        </span>
        <h3 class="interesting-title">Контроль процессов</h3>
        <p class="integrator-text">Мы остаёмся на связи, чтобы отвечать на ваши вопросы и обеспечивать контроль
          над работой сотрудников в Битрикс24. Помогаем вам внедрять систему в повседневные процессы.</p>
      </div>
      <div class="interesting-point check-point-yellow">
        <span class="poin-number">
          09
        </span>
        <h3 class="interesting-title">Гарантийный период</h3>
        <p class="integrator-text">Мы предоставляем гарантийное обслуживание на протяжении 14 дней после завершения
          проекта. В течении этого времени мы вносим правки, возникшие в результате использования Битрикс24.</p>
        <div class="integrator-cta-base_over">
          <img src="{% static '/image/cta/bubbles-triple-yellow.png' %}" alt="Bubbles" />
        </div>
      </div>
    </div>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~
     CTA Inner 
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <div class="integrator-cta-inner">
      <div class="container">
        <div class="integrator-cta-base__wrapper">
          <div class="integrator-cta-base__text-block">
            <h2 class="heading-md">От договора до работающей системы — <span class="primary">20 дней</span>
            </h2>
            <p class="integrator-text">Быстрый и понятный старт без сложных этапов и лишних согласований. Мы используем проверенные сценарии и типовые настройки, чтобы вы начали работать в Битрикс24 максимально быстро и без перегрузки команды. Вы получаете готовую систему, настроенную под базовые задачи бизнеса, и можете сразу включаться в работу.</p>
            <p class="integrator-text text-center help-section-descr">Стоимость услуги: от 1800 BYN</p>
          </div>
          <div class="cta-base__button">
            <a href="#" class="integrator-btn btn-fill--up">
              <span>Запустить Битрикс24 быстро</span></a>
          </div>
        </div>
      </div>
      <div class="integrator-cta-base_over">
        <img src="{% static '/image/cta/bubbles-more.png' %}" alt="Bubbles" />
      </div>
    </div>
  </div>
</div>




<div class="integrator-faq-section padding-bottom-150 integrator-subsection">
  <div class="container">
    <div class="section-heading">
      <h2 class="integrator-subheading heading-md text-center">
        Частые вопросы
      </h2>
    </div>
    <div class="integrator-faq row row--custom">
      <div class="integrator-faq-accordion" id="home-1-faq">
        <div class="accordion-item">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#home-1-faq-item" aria-expanded="true" aria-controls="home-1-faq-item">
            <h3>Сколько времени потребуется на внедрение Битрикс24?</h3>
            <div class="accordion-button__icon"><img src="{% static '/image/icons/arrow-icon.png' %}" alt="icon"></div>
          </button>
          <div id="home-1-faq-item" class="accordion-collapse collapse show" data-bs-parent="#home-1-faq">
            <div class="accordion-item__body">
              <b>Пакетные (стартовые) внедрения</b> занимают 2-3 месяца. Первые 2
              недели занимает формирование технического задания и его
              реализация. А остальное время занимает ввод CRM в эксплуатацию:
              обучение, ответы на вопросы, внесение правок, формирование
              привычки у сотрудников компании. При <b>проектном формате работы</b>
              <a href="#">внедрение Битрикс24</a> может занимать от 1 дня до 6 месяцев.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#home-1-faq-item-2" aria-expanded="false" aria-controls="home-1-faq-item-2">
            <h3>Какие проблемы могут возникнуть в процессе внедрения?</h3>
            <div class="accordion-button__icon"><img src="{% static '/image/icons/arrow-icon.png' %}" alt="icon"></div>
          </button>
          <div id="home-1-faq-item-2" class="accordion-collapse collapse" data-bs-parent="#home-1-faq">
            <div class="accordion-item__body">
              - <b>Изменения в бизнес-процессах.</b> Внедрение новой платформы с
              большой вероятностью потребует изменений в текущих
              бизнес-процессах. Это может вызвать некоторое сопротивление (в
              том числе саботаж) и временную нестабильность. Мы поможем вам
              донести до ваших сотрудников цели внедрения и возможную пользу,
              которую они сами могут получить - это уменьшит вероятность
              возникновения данной проблемы.<br /> <br />
              - <b>Недостаток ресурсов.</b> Внедрение
              Битрикс24 может потребовать дополнительных (выделенных)
              человеческих ресурсов, т.е. необходим ответственный сотрудник с
              вашей стороны. Он будет заниматься внедрением вместе с нами,
              выступать первой линией поддержки для ваших сотрудников. Если
              такого нет - мы постараемся выполнить сами эту функцию. Но с ним
              точно будет лучше.<br /><br />
              - <b>Отсутствие оперативной поддержки.</b> Если
              возникают проблемы или вопросы, даже небольшие, крайне важно
              оперативно получить ответ от компетентного специалиста. В
              противном случае начнет формироваться "снежный ком", из-за
              которого в конечном счете внедренной CRM могут перестать
              пользоваться. Мы окажем вам такую поддержку при любых форматах
              работы.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#home-1-faq-item-3" aria-expanded="false" aria-controls="home-1-faq-item-3">
            <h3>Оказываете ли вы поддержку после внедрения?</h3>
            <div class="accordion-button__icon"><img src="{% static '/image/icons/arrow-icon.png' %}" alt="icon"></div>
          </button>
          <div id="home-1-faq-item-3" class="accordion-collapse collapse" data-bs-parent="#home-1-faq">
            <div class="accordion-item__body">
              Да, после внедрения Битрикс24 <b>мы оказываем консультационную
                поддержку</b>. Также у нас <b>есть услуга по сопровождению</b>, в рамках
              которой мы всегда готовы помочь с решением ваших задач,
              обучением сотрудников, донастройкой Битрикс24.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#home-1-faq-item-6" aria-expanded="false" aria-controls="home-1-faq-item-4">
            <h3>Предоставляете ли гарантию на свои услуги?</h3>
            <div class="accordion-button__icon"><img src="{% static '/image/icons/arrow-icon.png' %}" alt="icon"></div>
          </button>
          <div id="home-1-faq-item-6" class="accordion-collapse collapse" data-bs-parent="#home-1-faq">
            <div class="accordion-item__body">
              Да, <b>мы предоставляем гарантию</b>. Если речь идет о проектной
              работе, то в течении 14 дней после ввода в эксплуатацию мы можем
              внести любые правки в рамках технического задания. Если по
              истечению 14 дней возникают проблемы в эксплуатации настроек, и
              эти проблемы возникли не из-за того, что обновился функционал
              или кто-то что-то сломал - мы также внесем все необходимые
              правки.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#home-1-faq-item-5" aria-expanded="false" aria-controls="home-1-faq-item-5">
            <h3>Какие интеграции с другими системами можно реализовать?</h3>
            <div class="accordion-button__icon"><img src="{% static '/image/icons/arrow-icon.png' %}" alt="icon"></div>
          </button>
          <div id="home-1-faq-item-5" class="accordion-collapse collapse" data-bs-parent="#home-1-faq">
            <div class="accordion-item__body">
              <b>Любые</b>. С большим количеством сервисов <b>есть готовые интеграци</b>и с
              помощью приложений из маркетплейса Битрикс24. А там, где готовых
              решений нет - можно разработать свою, т.к. у Битрикс24 <b>есть
                открытый API</b>. Но прежде мы все таки постараемся найти готовое
              решение.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#home-1-faq-item-4" aria-expanded="false" aria-controls="home-1-faq-item-4">
            <h3>Как обеспечивается безопасность данных в Битрикс24?</h3>
            <div class="accordion-button__icon"><img src="{% static '/image/icons/arrow-icon.png' %}" alt="icon"></div>
          </button>
          <div id="home-1-faq-item-4" class="accordion-collapse collapse" data-bs-parent="#home-1-faq">
            <div class="accordion-item__body">
              <b>Для облачных Битрикс24:</b> <br />
              Для обеспечения бесперебойной работы
              сервиса используются два независимых датацентра в Республике
              Беларусь. Включена автоматическая и полуавтоматическая реакция
              на аварийные ситуации. Все соединения с «Битрикс24» производятся
              через шифрованный обмен данными 256bit. Максимальная защита от
              самых разнообразных угроз безопасности обеспечивается
              проактивным фильтром (WAF - Web Application Firewal).<br />
              Подробнее можно почитать здесь: <a href="#">Безопасность Битрикс24</a> <br />
              <b>Для коробочных Битрикс24:</b> <br /><br />
              Все зависит от вас и ваших решений. Со своей стороны
              мы предлагаем размещение на сертифицированном Битриксом
              хостинге, предлагаем качественную и регулярную техническую
              поддержку от наших партнеров.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~
     CTA Base 
~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div class="integrator-cta-base">
  <div class="container">
    <div class="integrator-cta-base__wrapper">
      <div class="integrator-cta-base__text-block">
        <h2 class="heading-md">Опишите свою проблему,<br />и мы найдём для неё решение
        </h2>
      </div>
      <div class="cta-base__button">
        <a href="#" class="integrator-btn btn-fill--up">
          <span>Получить консультацию</span></a>
      </div>
    </div>
  </div>
  <div class="integrator-cta-base_over">
    <img src="{% static '/image/cta/bubble.png' %}" alt="Bubbles" />
  </div>
</div>

{% endblock %}