{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="integrator-section">
  <div class="container">
    <div class="content">
      <div class="content-text-block">
        <h1 class="integrator-heading heading-xxl">Вебинары</h1>
      </div>
    </div>
    <div class="integrator-webinar-page padding-bottom-150">
      <div class="container">
        <ul class="navigation-list navigation-list--inline">
          <li class="active">
            <button class="btn" data-filter="all">Все</button>
          </li>
          <li>
            <button class="btn" data-filter="upcoming">Ближайшие</button>
          </li>
          <li>
            <button class="btn" data-filter="past">Прошедшие</button>
          </li>
        </ul>

        <div class="integrator-webinar-materials" data-webinar-container>
          <div class="integrator-webinar-materials__title">
            <h2 class="integrator-subheading">Ближайшие</h2>
          </div>
          <div class="integrator-webinar-materials__wrapper">
            <div class="integrator-material" data-status="{% if webinar.is_past_due %}past{% else %}upcoming{% endif %}">
              <div class="integrator-material__image">
                <img src="{% static '/image/blog/material.png' %}" alt="">
              </div>
              <div class="integrator-material__info">
                <div class="integrator-material__text">
                  <div class="date"><img src="{% static '/image/icons/calender.png' %}" alt="calender"><span
                      class="date">25.01.2026 / 20:30</span></div>
                  <h3 class="integrator-material__title">Название вебинара 1
                  </h3>
                  <p class="integrator-material__description">SDF-файлы используются для хранения баз данных в
                    структурированном виде. Это - базовое, стандартное расширение файлов, которое не связано с
                    определенной програ</p>
                </div>
                <div class="integrator-material__images">
                  <img src="" alt="">
                  <img src="" alt="">
                </div>
              </div>
            </div>
            <div class="integrator-material" data-status="{% if webinar.is_past_due %}past{% else %}upcoming{% endif %}">
              <div class="integrator-material__image">
                <img src="{% static '/image/blog/material.png' %}" alt="">
              </div>
              <div class="integrator-material__info">
                <div class="integrator-material__text">
                  <div class="date"><img src="{% static '/image/icons/calender.png' %}" alt="calender"><span
                      class="date">25.01.2026 / 20:30</span></div>
                  <h3 class="integrator-material__title">Название вебинара 1
                  </h3>
                  <p class="integrator-material__description">SDF-файлы используются для хранения баз данных в
                    структурированном виде. Это - базовое, стандартное расширение файлов, которое не связано с
                    определенной програ</p>
                </div>
                <div class="integrator-material__images">
                  <img src="" alt="">
                  <img src="" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="integrator-webinar-materials" data-webinar-container>
          <div class="integrator-webinar-materials__title">
            <h2 class="integrator-subheading">Прошедшие</h2>
          </div>
          <div class="integrator-webinar-materials__wrapper">
            <div class="integrator-material" data-status="{% if webinar.is_past_due %}past{% else %}upcoming{% endif %}">
              <div class="integrator-material__image">
                <img src="{% static '/image/blog/material.png' %}" alt="">
              </div>
              <div class="integrator-material__info">
                <div class="integrator-material__text">
                  <div class="date"><img src="{% static '/image/icons/calender.png' %}" alt="calender"><span
                      class="date">25.01.2026 / 20:30</span></div>
                  <h3 class="integrator-material__title">Название вебинара 1
                  </h3>
                  <p class="integrator-material__description">SDF-файлы используются для хранения баз данных в
                    структурированном виде. Это - базовое, стандартное расширение файлов, которое не связано с
                    определенной програ</p>
                </div>
                <div class="integrator-material__images">
                  <img src="" alt="">
                  <img src="" alt="">
                </div>
              </div>
            </div>
            <div class="integrator-material" data-status="{% if webinar.is_past_due %}past{% else %}upcoming{% endif %}">
              <div class="integrator-material__image">
                <img src="{% static '/image/blog/material.png' %}" alt="">
              </div>
              <div class="integrator-material__info">
                <div class="integrator-material__text">
                  <div class="date"><img src="{% static '/image/icons/calender.png' %}" alt="calender"><span
                      class="date">25.01.2026 / 20:30</span></div>
                  <h3 class="integrator-material__title">Название вебинара 1
                  </h3>
                  <p class="integrator-material__description">SDF-файлы используются для хранения баз данных в
                    структурированном виде. Это - базовое, стандартное расширение файлов, которое не связано с
                    определенной програ</p>
                </div>
                <div class="integrator-material__images">
                  <img src="" alt="">
                  <img src="" alt="">
                </div>
              </div>
            </div>
            <div class="integrator-material" data-status="{% if webinar.is_past_due %}past{% else %}upcoming{% endif %}">
              <div class="integrator-material__image">
                <img src="{% static '/image/blog/material.png' %}" alt="">
              </div>
              <div class="integrator-material__info">
                <div class="integrator-material__text">
                  <div class="date"><img src="{% static '/image/icons/calender.png' %}" alt="calender"><span
                      class="date">25.01.2026 / 20:30</span></div>
                  <h3 class="integrator-material__title">Название вебинара 1
                  </h3>
                  <p class="integrator-material__description">SDF-файлы используются для хранения баз данных в
                    структурированном виде. Это - базовое, стандартное расширение файлов, которое не связано с
                    определенной програ</p>
                </div>
                <div class="integrator-material__images">
                  <img src="" alt="">
                  <img src="" alt="">
                </div>
              </div>
            </div>
            <div class="integrator-material" data-status="{% if webinar.is_past_due %}past{% else %}upcoming{% endif %}">
              <div class="integrator-material__image">
                <img src="{% static '/image/blog/material.png' %}" alt="">
              </div>
              <div class="integrator-material__info">
                <div class="integrator-material__text">
                  <div class="date"><img src="{% static '/image/icons/calender.png' %}" alt="calender"><span
                      class="date">25.01.2026 / 20:30</span></div>
                  <h3 class="integrator-material__title">Название вебинара 1
                  </h3>
                  <p class="integrator-material__description">SDF-файлы используются для хранения баз данных в
                    структурированном виде. Это - базовое, стандартное расширение файлов, которое не связано с
                    определенной програ</p>
                </div>
                <div class="integrator-material__images">
                  <img src="" alt="">
                  <img src="" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--~~~~~~~~~~~~~~~~~~~~~~~~
     CTA Base 
~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div class="integrator-cta-base">
  <div class="container">
    <div class="integrator-cta-base__wrapper">
      <div class="integrator-cta-base__text-block">
        <h2 class="heading-md">Информация - это хорошо, но может стоит применить ее на практике?</h2>
      </div>
      <div class="cta-base__button">
        <a href="#" class="integrator-btn btn-fill--up">
          <span>Начать использовать Битрикс24</span></a>
      </div>
    </div>
  </div>
  <div class="integrator-cta-base_over">
    <img src="{% static '/image/cta/bubble.png' %}" alt="Bubbles" />
  </div>
</div>
{% endblock %}