{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="integrator-section ">
  <div class="container">
    <div class="content-text-block article-block">
      <div class="article-link-back">
        <a href="/blog"> <img src="{% static '/image/icons/arrow-article.png' %}" alt="back"></a>
      </div>
      <h1 class="integrator-heading heading-md">Статья</h1>
    </div>
    <div class="article__info">
      <span class="date">25.01.2026</span>
      <img src="{% static '/image/icons/online.png' %}" alt="Online">
    </div>

    <h2 class="integrator-heading-article heading-md">Спикеры</h2>
    <div class="integrator-row integrator-team-list team-list-webinars">
        <div class="integrator-team__images">
          <div class="integrator-team__image">
            <img src="{% static '/image/team/alina.png' %}" alt="Roman">
            <div class="qoute-autor">
              <p class="name">Алина Сытько</p>
              <p class="business-name">Специалист по настройке Битрикс24</p>
            </div>
            <div class="wedinar-team-descr">
              <p>О чем будет говорить спикер</p>
            </div>
          </div>
          <div class="integrator-team__image">
            <img src="" alt="Ekatetyna">
            <div class="qoute-autor">
              <p class="name">Екатерина Ребковец</p>
              <p class="business-name">Проектный менеджер</p>
            </div>
            <div class="wedinar-team-descr">
              <p>О чем будет говорить спикер</p>
            </div>
          </div>
        </div>
        <div class="integrator-team__images">
          <div class="integrator-team__image">
            <img src="" alt="Anastasija">
            <div class="qoute-autor">
              <p class="name">Анастасия Оксенюк</p>
              <p class="business-name">Бизнес-аналитик</p>
            </div>
            <div class="wedinar-team-descr">
              <p>О чем будет говорить спикер</p>
            </div>
          </div>
          <div class="integrator-team__image">
            <img src="" alt="Maxim">
            <div class="qoute-autor">
              <p class="name">Максим Лютиков</p>
              <p class="business-name">Разработчик</p>
            </div>
            <div class="wedinar-team-descr">
              <p>О чем будет говорить спикер</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>


<div class="integrator-webinar-section padding-bottom-150">
  <div class="container">
    <h2 class="integrator-heading-webinar heading-md">Расписание</h2>
    <div class="integrator-row">
      <div class="integrator-webinar__slot">
        <div class="time-slot"><p>09:00 - 10:00</p></div>
        <div class="info-slot"><p>Регистрация</p></div>
      </div>

      <div class="integrator-webinar__slot">
        <div class="time-slot"><p>09:00 - 10:00</p></div>
        <div class="info-slot"><p>Регистрация</p></div>
      </div>

      <div class="integrator-webinar__slot">
        <div class="time-slot"><p>09:00 - 10:00</p></div>
        <div class="info-slot"><p>Регистрация</p></div>
      </div>

      <div class="integrator-webinar__slot">
        <div class="time-slot"><p>09:00 - 10:00</p></div>
        <div class="info-slot"><p>Регистрация</p></div>
      </div>

    </div>
  </div>
</div>

<!--~~~~~~~~~~~~~~~~~~~~~~~~
     CTA Base 
~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div class="integrator-cta-base">
  <div class="container">
    <div class="integrator-cta-base__wrapper">
      <div class="integrator-cta-base__text-block">
        <h2 class="heading-md">Информация - это хорошо, но может стоит применить ее на практике?</h2>
      </div>
      <div class="cta-base__button">
        <a href="#" class="integrator-btn btn-fill--up">
          <span>Начать использовать Битрикс24</span></a>
      </div>
    </div>
  </div>
  <div class="integrator-cta-base_over">
    <img src="{% static '/image/cta/bubble.png' %}" alt="Bubbles" />
  </div>
</div>

{% endblock %}