{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="inner_banner-section">
  <img class="inner_banner-background-image" src="{% static '/image/common/inner-bg.png' %}" alt="image alt">
  <div class="container">
    <div class="inner_banner-content-block">
      <h3 class="inner_banner-title"> Вебинары </h3>
      <ul class="banner__page-navigator">
        <li>
          <a href="/">Home</a>
        </li>
        <li class="active">
          <a href="/blog">
            Блог
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="career_main-section section-padding-120">
  <div class="container">
    <div>
      <div class="col-xl-6 col-lg-7 col-md-9">
        <h2 class="heading-md text-black career_main-title">Ближайшие вебинары</h2>
      </div>
      
{% for webinar in actwebs %}
{% if not webinar.is_past_due %}
<div class="col-lg-12 grid-item {%for class in webinar.category_web.all %}{{class.cat_slug}} {%endfor%}">
<div class="career-card mb-20">
  <div class="career-card__body">

    <h3 class="career-card__title">{{ webinar.webinar_name }}</h3>
    <p>{{ webinar.webinar_short_desc | safe }}</p>
  </div>
  <div class="career-card__job-info">
    <span style="font-size:15px"><img src={% static "/image/icons/clock.svg" %} alt="clock">{{ webinar.pub_date | date:'d-m-Y H:i' }}</span>
    <span>
      {% for person in webinar.persons_web.all %}
      <span class="blog-card-large__user"><img src="{{ person.person_image.url }}" alt="user image"
          style="clip-path: circle();"></span>
      {% endfor %}
    </span>

  </div>
  <a class="btn-link btn-arrow career-card__link" href="/career-details">Подробнее</a>
</div>
</div>
    {% endif %} {% endfor %}
</div>



    <div class="career_main-image">
      <img src={% static '/image/web2.png' %} alt="">
    </div>
    <div class="career-main__section-heading">
      <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-7 col-md-9">
          <h2 class="heading-md text-black career_main-title">Завершенные вебинары</h2>
        </div>
        <div class="col-xl-6 col-lg-5">
          <ul class="navigation-list navigation-list--inline">

            <li class="active" data-filter="*">
              <button class="btn rounded-pill">Все</button>
            </li>

            {% for cweb in cwebinars %}
            <li class="" data-filter=".{{cweb.cat_slug}}">
              <button class="btn rounded-pill">{{cweb}}</button>
            </li>
            {% endfor %}

          </ul>
        </div>
      </div>
    </div>
    <div class="row career-card-row navigation-active isotope-navigation"
      style="position: relative; height: 979.989px;">

      {% for webinar in actwebs %}
      {% if webinar.is_past_due %}
      <div class="col-lg-6 grid-item {%for class in webinar.category_web.all %}{{class.cat_slug}} {%endfor%}"
        style="position: absolute; left: 0px; top: 0px;">
        <div class="career-card">
          <div class="career-card__body">

            <h3 class="career-card__title">{{ webinar.webinar_name }}</h3>
            <p>{{ webinar.webinar_short_desc | safe }}</p>
          </div>
          <div class="career-card__job-info">
            <span style="font-size:15px"><img src={% static "/image/icons/clock.svg" %} alt="clock">{{ webinar.pub_date | date:'d-m-Y H:i' }}</span>
            <span>
              {% for person in webinar.persons_web.all %}
              <span class="blog-card-large__user"><img src="{{ person.person_image.url }}" alt="user image"
                  style="clip-path: circle();"></span>
              {% endfor %}
            </span>

          </div>
          <a class="btn-link btn-arrow career-card__link" href="/career-details">Подробнее</a>
        </div>
      </div>
     {% endif %}
      {% endfor %}
    </div>
   


    <div class="section-button">
      <a href="#" class="btn-masco rounded-pill btn-fill--up"><span>Can’t find your role? Contact us</span></a>
    </div>
  </div>
</div>
{% endblock %}