/*======= Base Class ========*/
:root {
  --btn-dark-primary: #202FA9;
  --btn-light-primary: #E9EDF9;
  --btn-hover-primary: #0A102F;
  --bg-fon-text: #FBFBFD;
  --bg-line-text: #D5DDFB;
  --bg-fon-gray: #F3F4FA;

}


.integrator-btn {
    background-color: var(--btn-dark-primary);
    color: var(--bg-fon-text);
    padding: 12px 25px;
    border-radius: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    z-index: 0;
    position: relative;
    transition: all 0.3s;
    border: none;
}

.integrator-btn-light {
    background-color: var(--btn-light-primary);
    color: var(--btn-dark-primary);
}

.integrator-btn-secondary {
    background-color: transparent;
    border-radius: 0;
    color: var(--btn-hover-primary);
}

.integrator-btn.btn-fill--up:hover {
  color: var(--bg-fon-text) !important;
  border-color: var(--btn-hover-primary) !important;
}

.integrator-btn.btn-fill--up::before {
  background: var(--btn-hover-primary) !important;
}

.integrator-btn.btn-fill--up::after {
  background: var(--btn-hover-primary) !important;
}

/*HEADER*/

.integrator-site-header.scrolling,
.integrator-site-header.reveal-header {
    background-color: var(--bg-fon-text) !important;
}

.integrator-site-navbar,
.integrator-site-navbar .menu-block-wrapper {
    display: flex;
    justify-content: space-between;
}

.integrator-menu-main {
    gap: 30px;
}

.integrator-header-cta-btn-wrapper {
    column-gap: 15px !important;
    margin: 0;
}

.integrator-header-cta-btn-wrapper .integrator-btn-secondary {
    margin-right: 15px;
}

.integrator-menu-main>li .sub-menu>ul>li>a,
.integrator-menu-main .nav-link-item {
    font-style: normal;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 1.5;
    color: var(--btn-hover-primary);
    padding: 5px 10px !important;
    box-shadow: none !important;
}

.integrator-menu-main .sub-menu {
    background-color: var(--bg-fon-gray);
    border-radius: 5px;
    width: max-content;
    min-width: 157px;
    box-shadow: none !important;
}

.integrator-menu-main .sub-menu_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.integrator-menu-main .sub-menu .sub-menu {
    top: 0 !important;
    left: 105%;
}


/*CTA*/

.integrator-cta-base {
    position: relative;
    overflow: hidden;
    background-color: #A8BBFF;

  /* Радиальный градиент */
  background-image: radial-gradient(
    circle at center, 
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0.6) 29%,
    rgba(255, 255, 255, 0.35) 69%,
    rgba(255, 255, 255, 0.3) 79%,
    rgba(255, 255, 255, 0.2) 90%,
    rgba(255, 255, 255, 0.25) 100%
  );
}

.integrator-cta-base_over {
    position: absolute;
    right: 0;
    left: auto;
    bottom: 0;
    z-index: 1;
}

.integrator-cta-base__wrapper {
    margin: 0 auto;
    padding: 150px 0;
    position: relative;
    z-index: 10;
}

.integrator-cta-base__text-block h2 {
    color: var(--btn-hover-primary) !important;
    max-width: 1070px;
    text-align: center;
    margin: 0 auto 40px;
}

.integrator-cta-base__text-block h2 span {
    color: var(--btn-dark-primary) !important;
}


/*BASE*/

@media (min-width: 1200px) {
    .integrator-heading {
        font-size: 70px;
        font-weight: 700;
        color: var(--btn-hover-primary);
        margin-bottom: 0;
    }

    .integrator-subheading {
        font-size: 60px;
        font-weight: 700;
        color: var(--btn-hover-primary);
        margin-bottom: 0;
    }
}

.integrator-section {
    padding: 80px 0;
}

.integrator-header__plus {
    padding-top: 170px;
}

.integrator-row {
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.integrator-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: var(--btn-hover-primary);
    opacity: 0.7;
}



/*CONTACT*/

.integrator-contact {
    max-width: 737px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.integrator-contact__image {
    max-width: 530px;
}

.integrator-contact__form {
    max-width: 620px;
}

.integrator-content_main-info {
    margin-top: 30px;
}

.integrator-widget {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.integrator-widget-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.integrator-widget__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: var(--btn-hover-primary);
    opacity: 0.7;
}

.integrator-widget-item p {
    font-weight: 600;
    font-size: 34px;
    line-height: 1.2;
    color: var(--btn-hover-primary);
}

.integrator-widget-item p.integrator-contact-adress {
    font-weight: 500;
    font-size: 25px;
}

.widget-item__last {
    position: relative;
    bottom: 0;
    top: auto;
}

.integrator-contact__form .form-box-style__form-wrapper {
    background-color: var(--bg-fon-gray);
    border: none;
}

.integrator-contact__form input,
.integrator-contact__form textarea  {
    border: 1px solid var(--bg-line-text) !important;
    border-radius: 12px !important;
    color: var(--bg-fon-text) !important;
    background-color: var(--bg-fon-text) !important;
    padding: 16px 24px !important;
}

.integrator-contact__form input label,
.integrator-contact__form textarea label,
.integrator-checkbox label  {
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 1.5;
    color: var(--btn-hover-primary);
    opacity: 0.7; 
}

.integrator-contact__form input::placeholder,
.integrator-contact__form textarea::placeholder  {
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 1.5;
    color: var(--btn-hover-primary);
    opacity: 0.7;
}

.integrator-checkbox input[type="checkbox"] {
    accent-color: var(--btn-hover-primary);
    width: 20px;
    height: 20px;
    margin: 2px 4px;
}

.integrator-checkbox {
    display: flex;
    gap: 8px;
}

.integrator-checkbox label a {
    text-decoration: underline !important;
}

/*FOOTER*/


.integrator-footer {
    background-color: var(--btn-hover-primary) !important;
}

.integrator-footer-branding {
    max-width: 420px;
    width: 100%;
}

.integrator-footer__content-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}

.integrator-footer__content-text p {
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 1.5;
    color: var(--bg-fon-text);
    opacity: 0.7;
}

.integrator-footer__content-text a {
    font-weight: 400 !important;
    font-size: 25px !important;
    line-height: 1;
    text-decoration: none;
    color: var(--bg-line-text);
}

.integrator-list-social, .integrator-list-pay {
    margin-top: 40px;
    display: flex;
    gap: 10px;
}

.integrator-list-pay a {
    padding: 10px;
    background-color: var(--bg-fon-text);
    border-radius: 10px;
    margin: 0;
}

.integrator-footer-main {
    padding: 0 0 54px;
    display: flex;
    gap: 60px;
    justify-content: space-between;
}

.integrator-copyright-block {
    display: flex;
    justify-content: space-between;
    padding: 60px 0 11px;
    text-align: center;
}

.integrator-copyright-block p {
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 1.5;
    color: var(--bg-fon-text);
    opacity: 0.7;
}

.integrator-footer-menu {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .integrator-header-cta-btn-wrapper {
        display: none !important;
    }

    .integrator-footer-main {
        flex-direction: column;
    }
}

@media screen and (max-width: 991px) {
    .integrator-site-header .menu-block,
    .integrator-site-header .menu-block .mobile-menu-head {
        background-color: var(--bg-line-text);
    }

    .integrator-site-header .menu-block .mobile-menu-head .mobile-menu-close {
        border-left: none;
        color: var(--btn-hover-primary);
    }

    .integrator-menu-main>li {
        border-bottom: none;
    }

    .integrator-menu-main>li>a i {
        top: 0;
    }

    .integrator-menu-main .sub-menu {
        background-color: transparent;
    }

    .integrator-menu-main>li .sub-menu.active {
        padding-top: 0;
    }

    .integrator-row {
        flex-direction: column;
    }

    .integrator-contact__image {
        display: none;
    }

    .integrator-contact__form {
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .integrator-footer-menu, 
    .integrator-copyright-block {
        flex-direction: column;
    }
}
