/*======= Base Class ========*/
:root {
  --btn-dark-primary: #202FA9;
  --btn-light-primary: #E9EDF9;
  --btn-hover-primary: #0A102F;
  --btn-purple-primary: #8A38F5;
  --btn-green-primary: #08A75D;
  --btn-yellow-primary: #E4D448;
  --bg-fon-text: #FBFBFD;
  --bg-line-text: #D5DDFB;
  --bg-fon-gray: #F3F4FA;
  --bg-fon-light: #F7F9FD;
  --bg-fon-purple: #E9E9F9;
  --bg-fon-yellow: #F9F8EF;
  --bg-fon-green: #EAFBEE;
}


.integrator-btn {
    background-color: var(--btn-dark-primary);
    color: var(--bg-fon-text);
    padding: 12px 25px;
    border-radius: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    z-index: 0;
    position: relative;
    transition: all 0.3s;
    border: none;
}

.integrator-btn-light {
    background-color: var(--btn-light-primary);
    color: var(--btn-dark-primary);
}

.integrator-btn-purple {
    background-color: var(--btn-purple-primary);
}

.integrator-btn-white {
    background-color: var(--bg-fon-text);
    color: var(--btn-hover-primary);
    padding: 8px 36px;
    border-radius: 6px;
}

.integrator-btn-white.white-active {
    background-color: var(--bg-line-text);
}

.integrator-btn-secondary {
    background-color: transparent;
    border-radius: 0;
    color: var(--btn-hover-primary);
}

.integrator-btn.btn-fill--up:hover {
  color: var(--bg-fon-text) !important;
  border-color: var(--btn-hover-primary) !important;
}

.integrator-btn.btn-fill--up::before {
  background: var(--btn-hover-primary) !important;
}

.integrator-btn.btn-fill--up::after {
  background: var(--btn-hover-primary) !important;
}

.integrator-link {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    color: var(--btn-dark-primary);
}

.integrator-link span {
    text-decoration: underline !important;
}

.integrator-link:hover {
    color: var(--btn-hover-primary);
}

/*HEADER*/

.integrator-site-header.scrolling,
.integrator-site-header.reveal-header {
    background-color: var(--bg-fon-text) !important;
}

.integrator-site-navbar,
.integrator-site-navbar .menu-block-wrapper {
    display: flex;
    justify-content: space-between;
}

.integrator-menu-main {
    gap: 30px;
}

.integrator-header-cta-btn-wrapper {
    column-gap: 15px !important;
    margin: 0;
}

.integrator-header-cta-btn-wrapper .integrator-btn-secondary {
    margin-right: 15px;
}

.integrator-menu-main>li .sub-menu>ul>li>a,
.integrator-menu-main .nav-link-item {
    font-style: normal;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 1.5;
    color: var(--btn-hover-primary);
    padding: 5px 10px !important;
    box-shadow: none !important;
}

.integrator-menu-main .sub-menu {
    background-color: var(--bg-fon-gray);
    border-radius: 5px;
    width: max-content;
    min-width: 157px;
    box-shadow: none !important;
}

.integrator-menu-main .sub-menu_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.integrator-menu-main .sub-menu .sub-menu {
    top: 0 !important;
    left: 105%;
}


/*CTA*/

.integrator-cta-base {
    position: relative;
    overflow: hidden;
    background-color: #A8BBFF;

  /* Радиальный градиент */
  background-image: radial-gradient(
    circle at center, 
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0.6) 29%,
    rgba(255, 255, 255, 0.35) 69%,
    rgba(255, 255, 255, 0.3) 79%,
    rgba(255, 255, 255, 0.2) 90%,
    rgba(255, 255, 255, 0.25) 100%
  );
}

.integrator-cta-base_over {
    position: absolute;
    right: 0;
    left: auto;
    bottom: 0;
    z-index: 1;
}

.integrator-cta-base__wrapper {
    margin: 0 auto;
    padding: 150px 0;
    position: relative;
    z-index: 10;
}

.integrator-cta-base__text-block h2 {
    color: var(--btn-hover-primary) !important;
    max-width: 1070px;
    text-align: center;
    margin: 0 auto 40px;
}

.integrator-cta-base__text-block h2 span {
    color: var(--btn-dark-primary) !important;
}


/*BASE*/

@media (min-width: 1200px) {
    .integrator-heading {
        font-size: 70px;
        font-weight: 700;
        color: var(--btn-hover-primary);
        margin-bottom: 0;
    }

    .integrator-subheading {
        font-size: 60px;
        font-weight: 700;
        color: var(--btn-hover-primary);
        margin-bottom: 0;
        letter-spacing: -1.5px;
    }
}

.integrator-section {
    padding: 170px 0;
}

.integrator-header__plus {
    padding-top: 170px;
}

.integrator-subsection {
    padding-top: 50px;
}

.integrator-row {
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.integrator-section-heading {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 900px;
    margin: 0 auto;
}

.integrator-section-heading.price-plus {
    max-width: 1290px;
}

.integrator-section-heading.price-plus .integrator-text {
    max-width: 675px;
    margin: 0 auto;
}

.integrator-text {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    color: var(--btn-hover-primary);
    opacity: 0.7;
}

.integrator-quote {
    font-weight: 500;
    font-size: 25px;
    line-height: 1.2;
    color: var(--btn-hover-primary);
    opacity: 0.7;
}

.integrator-line {
    border: 1px solid var(--bg-line-text);
    height: 1px;
    width: 100%;
}

span.primary {
    color: var(--btn-dark-primary) !important;
}

/*HOME*/

.integrator-page {
    background: linear-gradient(
    360deg, 
    rgba(34, 70, 206, 0.3) 0%, 
    #F7F7F7 100%
    );
    padding-bottom: 0;
}

.integrator-page .integrator-text {
    margin: 40px auto;
}

.integrator-page .integrator-row {
    justify-content: center;
    gap: 15px;
}

.integrator-banner {
    margin-top: 110px;
}

.integrator-banner__image {
    width: 100%;
    border: 20px solid var(--btn-hover-primary);
    border-radius: 20px 20px 0 0;
    border-bottom: 0;
    height: 520px;
    overflow: hidden;
}

.integrator-banner__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: var(--bg-fon-gray);
}

.integrator-brand-section {
    padding: 44px 0;
}

.integrator-brand-section p.integrator-text  {
    font-family: Geologica, sans-serif !important;
}

/*ABOUT*/

.integrator-about {
    background: linear-gradient(
    180deg, 
    rgba(213, 221, 251, 1) 0%, 
    rgba(247, 247, 247, 1) 100%
    );
}

.integrator-about .integrator-heading {
    text-align: center;
    padding-top: 80px;
}

.integrator-about .integrator-quote {
    padding-top: 200px;
    max-width: 696px;
    margin-left: auto;
    text-align: right;
}

.integrator-numbers {
    background-color: var(--bg-fon-gray);
    border-radius: 20px;
    display: flex;
    gap: 80px;
    padding: 20px;
    width: 100%;
}

.integrator-numbers-section .integrator-row {
    gap: 20px;
}

.integrator-numbers  .integrator-line {
    margin: 60px 0;
}

.integrator-numbers .integrator-widget-item {
    padding: 20px 40px;
    width: 100%;
}


.integrator-numbers__sigle-block {
    margin-bottom: 20px;
}

.integrator-numbers__sigle-block .integrator-numbers__image {
    max-width: 264px;
    width: 100%;
    height: auto;
    border-radius: 12px;
    overflow: hidden;
}

.integrator-numbers__double-block .integrator-numbers__image {
    max-width: 187px;
    width: 100%;
    height: 210px;
    border-radius: 12px;
    overflow: hidden;
}

.integrator-numbers__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*DESCRIPTION*/

.integrator-desctiption {
    margin-top: 60px; 
    background-color: var(--bg-fon-gray);
    border-radius: 16px;
    padding: 10px;
}

.integrator-desctiption-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.integrator-desctiption-item {
    display: flex;
    gap: 15px;
    padding: 20px 30px;
    border: 1px solid #ECEFF9;
    border-radius: 12px;
    align-items: center;
}

.integrator-desctiption-item:hover {
    border: 1px solid #D5DDFB;
    background-color: var(--btn-light-primary);
    cursor: pointer;
}

.integrator-desctiption-item h3 {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    color: var(--btn-hover-primary);
}

.integrator-desctiption-item:hover h3 {
    color: var(--btn-dark-primary);
}

.integrator-desctiption-icon {
    width: 32px;
    height: 32px;
}

.integrator-desctiption-large {
    margin-top: 20px;
    display: flex;
    gap: 40px;
    padding: 30px;
    background-color: var(--bg-fon-light);
    border-radius: 12px;
}

.integrator-desctiption__image {
    max-width: 560px;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    overflow: hidden;
}

.integrator-desctiption__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.integrator-desctiption__info {
    max-width: 620px;
    width: 100%;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    color: var(--btn-hover-primary);
}

/*MARKETING*/

.integrator-marketing-section .integrator-section-heading {
    max-width: 818px;
    margin: 0 auto;
}

.integrator-marketing-section .integrator-section-heading p {
    padding: 0 72px;
}

.integrator-marketing-section .point-title {
    color: var(--btn-hover-primary);
}

.integrator-marketing-section .integrator-row {
    flex-wrap: wrap;
}

.integrator-check-point-large {
    width: 50%;
    display: flex;
    margin-top: 10px;
    gap: 40px;
    overflow: hidden;
}

.check-point-large__image {
    width: 426px;
    height: 225px;
    border-radius: 14px 0;
    overflow: hidden;
    position: relative;
    bottom: -30px;
    right: -30px;
}

.check-point-large__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top left;
}

/*TASK*/
.integrator-task-section {
    background-color: var(--bg-fon-gray);
}

.integrator-task-section-invert {
    background-color: transparent !important;
}

.integrator-task-section-invert .interesting-point {
    background-color: var(--bg-fon-gray) !important;
}

.integrator-task-section .integrator-btn {
    width: fit-content;
    margin: 0 auto;
}

.integrator-task {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.integrator-task-three {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.integrator-task-two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.integrator-task-two .integrator-task-item {
    border-radius: 16px;
    padding: 30px 30px 0 30px;
    height: auto;
}

.integrator-task-item {
    border-radius: 16px;
    padding: 30px 0 0 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow: hidden;
    align-items: start;
    height: 346px;
}

.task-flex {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.task-white {
    background-color: var(--bg-fon-text);
}

.task-blue {
    background-color: var(--btn-light-primary);
}

.task-point h4.point-title {
    color: var(--btn-hover-primary);
    margin-top: 0;
    font-weight: 500;
    font-size: 25px !important;
    line-height: 1.2;
}

.task-point__image {
    width: 447px;
    height: 239px;
    border-radius: 14px 14px 0 0;
    overflow: hidden;
    position: relative;
    bottom: -30px;
    right: -30px;
}

.integrator-task-two .task-point__image {
    bottom: -30px;
    right: auto;
    left: 0;
}

.task-point__image-small {
    right: 0;
    bottom: -15px;
    height: 446px;
}

.task-point__image-right {
    width: 447px;
    height: 239px;
    border-radius: 14px;
    overflow: hidden;
    position: relative;
    bottom: -30px;
    padding-right: 30px;
    left: -60px;
}

.task-point__image-full {
    width: 100%;
    height: 270px;
    overflow: hidden;
    position: relative;
}

.task-point__image-full img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: top left;
}

.task-point__image img,
.task-point__image-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top left;
}

.task-point__image-right img {
    border-radius: 14px;
    object-position: top right;
}

/*CAPACITY*/

.integrator-capacity-section {
    background-color: var(--bg-fon-gray);
    position: relative;
}

.integrator-capacity-section a {
    width: fit-content;
    margin: 0 auto;
}

.integrator-capacity-section .container {
    position: relative;
    z-index: 10;
}

.integrator-capacity {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
    row-gap: 40px;
}

/*FLEX*/

.integrator-felx-section .container {
    display: flex;
    gap: 60px;
}

.integrator-felx-section .integrator-section-heading {
    max-width: 500px;
    margin: 0;
    text-align: left;
}

.integrator-felx-section .integrator-section-heading a {
    width: fit-content;
}

.integrator-felx-section .integrator-check-points {
    margin-top: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.integrator-felx-section .integrator-check-point {
    background-color: var(--bg-fon-gray);
}

.check-point-green {
    background-color: var(--bg-fon-green) !important;
}

.check-point-green .poin-number {
    color: var(--btn-green-primary) !important;
    opacity: 0.2 !important;
}

.check-point-purple {
    background-color: var(--bg-fon-purple) !important;
}

.check-point-yellow {
    background-color: var(--bg-fon-yellow) !important;
}

.check-point-yellow .poin-number {
    color: var(--btn-yellow-primary) !important;
    opacity: 0.2 !important;
}

/*PRICE*/ 

.integrator-price {
    margin: 60px auto 0;
}

.integrator_pricing-control-block {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.integrator_pricing-control-block .pricing-control {
    border-radius: 12px;
    background-color: var(--btn-light-primary);
    padding: 5px;
    max-width: 445px;
    min-width: 378px;
    height: auto;
    position: relative;
}

.sale-image {
    position: absolute;
    top: -15px;
    right: -10px;
    width: 57px;
    height: 36px;
}

.integrator_pricing-control-block .pricing-control span {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    background-color: var(--btn-light-primary);
    color: var(--btn-dark-primary);
    padding: 15px 25px;
    border-radius: 12px;
    text-wrap: nowrap;
} 

.pricing-control>*:first-of-type::before {
    display: none !important;
}

.integrator_pricing-control-block .pricing-control span.active {
    background-color: var(--btn-hover-primary);
    color: var(--bg-fon-text);
    border-radius: 12px;
}

.integrator-price .plan-base {
    background-color: var(--bg-fon-gray);
}

.integrator-price .plan-blue {
    background-color: var(--btn-light-primary);
}

.integrator-price .plan-purple {
    background: linear-gradient(
    360deg, 
    #F2F2FC 36%, 
    rgba(94, 90, 219, 0.2) 100%
    );
}

.integrator-price .plans-4 {
    gap: 20px !important;
}

.integrator-price .plan {
    border-radius: 12px;
    padding: 30px 20px;
}

.integrator-price .plan .plan__header {
    padding-bottom: 30px;
    border-bottom: 1px solid var(--bg-line-text);
    height: 132px;
}

.plan-short .plan__header {
    height: auto !important;
}

.integrator-price .plan-purple .plan__header{
    border-bottom: 1px solid rgba(5, 32, 128, 0.3);
}

.integrator-price  .plan-purple .plan__info .plan__subtitle:first-child {
    border-top: 1px solid rgba(5, 32, 128, 0.3);
}

.plan-short .plan-content {
    height: auto;
}

.integrator-price .plan .plan__header .service-card__title {
    font-weight: 500;
    font-size: 25px;
    line-height: 1.2;
    color: var(--btn-hover-primary);
    margin-bottom: 20px;
}

.plan-short .service-card__title {
    margin-bottom: 0 !important;
}

.integrator-price .plan-blue .plan__header .service-card__title {
    color: var(--btn-dark-primary);
}

.integrator-price .plan-purple .plan__header .service-card__title {
    color: var(--btn-purple-primary);
}

.integrator-price .plan .plan__header p,
.integrator-price .plan-description p {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    color: var(--btn-hover-primary);
    opacity: 0.7;
}

.integrator-price .plan-description {
    padding: 30px 0;
}

.plan-short .plan-description {
    padding: 30px 0 0;
}

.price__counts {
    margin-top: 8px;
    display: flex;
    gap: 8px;
}

.integrator-price .plan-description a:not(.integrator-btn-white) {
    margin: 20px auto 0;
    width: 100%;
}

.integrator-price .plan__title {
    font-weight: 600;
    font-size: 45px;
    line-height: 1.2;
    color: var(--btn-hover-primary);
    margin-bottom: 20px;
}

.integrator-price .plan__info .plan__subtitle,
.integrator-price .plan__info .plan__subtitle h3 {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    color: var(--btn-hover-primary);
    padding: 10px 0;
    border-top: 1px solid var(--bg-line-text);
    margin-top: 0;
}

.plan__subtitle.plan__subtitle-bold {
    font-weight: 600 !important;
}

.plan__subtitle.plan__subtitle-blue {
    color: var(--btn-dark-primary) !important;
}

.integrator-price .plan__info .plan__subtitle h3 {
    border-top: 0;
    padding: 0;
}

.integrator-price .plan__info .plan__subtitle ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0 15px 15px;
    margin: 0;
}

.integrator-price .plan__info .plan__subtitle .accordion-item__body {
    margin: 0;
    padding: 0;
}

.integrator-price .plan__info .plan__subtitle ul li {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    color: var(--btn-hover-primary);
    opacity: 0.7;
}


/*TECHNOLOGIES*/
.integrator-technologies-section {
    padding: 50px 0 150px;
}

.integrator-technologies-section .integrator-row {
    display: flex;
    flex-direction: column;
}

.integrator-technologies-title {
    font-weight: 600;
    font-size: 34px;
    line-height: 1.2;
    color: var(--btn-hover-primary);
    margin-bottom: 60px;
}

.integrator-technologies-item {
    padding: 0 0 20px 0;
    border-bottom: 1px solid var(--bg-line-text);
    display: flex;
}

.integrator-technologies__title {
    font-weight: 500;
    font-size: 25px;
    line-height: 1.2;
    color: var(--btn-dark-primary);
    width: 40%;
}

.integrator-technologies-list {
    display: flex;
    gap: 20px;
    padding-left: 20px;
    border-left: 1px solid var(--bg-line-text);
}

.integrator-technologies-list p {
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 1.5;
    color: var(--btn-hover-primary);
    opacity: 0.7; 
}

/*TOP*/

.integrator-top-section {
    background-color: var(--bg-fon-gray);
}

.integrator-top-section .content-text-block {
    max-width: 1018px;
    margin: 0 auto;
}

.integrator-top-section .content-text-block p {
    font-weight: 400 !important;
    font-size: 18px !important;
    line-height: 1.5;
    color: var(--btn-hover-primary);
    opacity: 0.7; 
    margin: 20px auto 0;
}

.integrator-check-points {
    margin: 60px 0;
}

.integrator-check-points .integrator-row {
    gap: 10px;
}

.integrator-check-point {
    padding: 20px 30px;
    border-radius: 12px;
    background-color: var(--btn-light-primary);
    flex: 1;
}

.poin-number {
    font-weight: 700 !important;
    font-size: 60px !important;
    line-height: 1.2;
    letter-spacing: -1px;
    color: var(--btn-dark-primary);
    opacity: 0.05;
}

.point-title {
    font-weight: 600 !important;
    font-size: 18px !important;
    line-height: 1.5;
    color: var(--btn-dark-primary);
    margin-top: 80px;
}

.point-descr {
    font-weight: 600 !important;
    font-size: 18px !important;
    line-height: 1.5;
    color: var(--btn-hover-primary);
    margin-top: 80px;
}

.integrator-top .integrator-row {
    gap: 20px;
}

.integrator-top__image {
    max-width: 600px;
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
}

.integrator-top__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.integrator-top__info {
    max-width: 679px;
    width: 100%;
}

.integrator-top-qoute {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    background-color: var(--bg-fon-text);
    overflow: hidden;
    position: relative;
}

.quote {
    position: absolute;
    bottom: 0;
    left: auto;
    right: -2px;
    z-index: 1;
}

.quote-revert {
    position: absolute;
    transform: rotate(180deg);
    top: 0;
    right: auto;
    left: -2px;
    z-index: 1;
}

.quote-text, .qoute-autor {
    position: relative;
    z-index: 10;
}

.quote-text {
    font-weight: 400 !important;
    font-size: 18px !important;
    line-height: 1.5;
    color: var(--btn-hover-primary);
    margin-bottom: 20px;
}

.qoute-autor {
    padding-left: 20px;
    border-left: 1px solid var(--btn-hover-primary);
}

.qoute-autor p {
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 1.5;
    color: var(--btn-hover-primary);
    opacity: 1;
}

.qoute-autor p.business-name {
    opacity: 0.7;
}

.integrator-top__certificats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.integrator-top__certificats-large {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}

.integrator-top__certificat {
    height: 223px;
    border-radius: 12px;
    overflow: hidden;
}

.integrator-top__certificat img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*FEATURE*/

.integrator-feature-section .integrator-row {
    display: flex;
    flex-direction: column;
    padding: 0 100px;
}

.integrator-feature-title {
    font-weight: 600;
    font-size: 34px;
    line-height: 1.2;
    color: var(--btn-hover-primary);
    margin-bottom: 60px;
}

.integrator-feature-item {
    padding: 0 0 20px 0;
    border-bottom: 1px solid var(--bg-line-text);
    display: flex;
}

.integrator-feature__title {
    font-weight: 500;
    font-size: 25px;
    line-height: 1.2;
    color: var(--btn-dark-primary);
    padding-right: 20px;
}

.integrator-feature-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
    border-left: 1px solid var(--bg-line-text);
}
.integrator-feature-list h5 {
    font-weight: 500 !important;
    font-size: 25px !important;
    line-height: 1.2;
    color: var(--btn-hover-primary);
}

.integrator-feature-list p {
    font-weight: 400 !important;
    font-size: 18px !important;
    line-height: 1.5;
    color: var(--btn-hover-primary);
    opacity: 0.7; 
}

.integrator-feature-section .cta-base__button {
    margin-top: 20px;
}

.integrator-feature-section .cta-base__button a {
    width: 100%;
}

/*PORTFOLIO*/

.integrator-portfolio-section {
    background-color: var(--bg-fon-light);
}

.integrator-portfolio-page .integrator-portfolio:not(:last-child) {
    margin-bottom: 20px;
}

.integrator-portfolio-page .navigation-list {
    width: fit-content;
    background-color: var(--bg-fon-gray);
    border-radius: 12px;
    padding: 5px;
    display: flex;
    gap: 0;
}

.integrator-portfolio-page .navigation-list--inline li.active {
    background-color: var(--btn-hover-primary);
    color: var(--bg-fon-text);
    border-radius: 12px;
}

.integrator-portfolio-page .navigation-list .btn {
    padding: 15px 25px;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    color: var(--btn-hover-primary);
    background-color: transparent;
    border-radius: 12px;
}

.integrator-portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.integrator-portfolio-large {
    width: 100%;
    margin-bottom: 20px;
}

.integrator-portfolio-large .integrator-portfolio-item .portfolio-widget {
    display: flex;
    gap: 50px;
    height: 257px;
}

.integrator-portfolio-large .portfolio-widget_image-block {
    max-width: 530px;
    height: 100% !important;
    margin: 0;
}

.portfolio-widget__category-list {
    display: flex;
    gap: 10px;
}

.integrator-portfolio-item {
    background-color: var(--bg-fon-gray);
    border-radius: 12px;
    overflow: hidden;
}

.integrator-portfolio-item .portfolio-widget_image-block {
    width: 100%;
    height: 203px;
    margin: 0;
}

.integrator-portfolio-item .portfolio-widget__title-block {
    padding: 30px;
    display:  flex;
    flex-direction: column;
    gap: 20px;
    margin: 0;
}

.integrator-portfolio-item .portfolio-widget__category {
    padding: 4px 10px;
    border-radius: 8px;
    background-color: var(--bg-fon-text);
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
    color: var(--btn-hover-primary);
    opacity: 0.7;
    width: fit-content;
}

.integrator-portfolio-item .portfolio-widget__title {
    font-weight: 500;
    font-size: 25px;
    line-height: 1.2;
    color: var(--btn-hover-primary);
}

.integrator-portfolio-item .portfolio-widget__info {
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 1.5;
    color: var(--btn-hover-primary);
    opacity: 0.7; 
}

.integrator-portfolio-more {
    margin: 60px auto 0;
}

/*TEAM*/

.integrator-team {
    margin-top: 60px;
}

.integrator-team .integrator-row {
    gap: 20px;
}

.integrator-team-list {
    margin-top: 40px;
}

.integrator-team__images {
    width: 100%;
    display: flex;
    gap: 20px;
}

.integrator-team__image {
    width: 310px;
}

.integrator-team__image img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    border-radius: 12px;
    overflow: hidden;
    background-color: var(--bg-fon-gray);
}

.integrator-team__info {
    max-width: 640px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.integrator-team-quote {
    padding: 62px 40px;
    border-radius: 12px;
    background-color: var(--bg-fon-gray);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.integrator-team-quote p.quote-text {
    margin-bottom: 0;
}

.integrator-team__image .qoute-autor {
    margin-top: 10px;
    padding-left: 0;
    border-left: 0;
}

.integrator-team-button {
    text-align: right;
}

.integrator-team-second-section .content-text-block {
    max-width: 818px;
    margin: 0 auto;
}

.integrator-team-slider {
    width: 100%;
    min-width: 0;
    overflow: hidden;
    margin-top: 60px;
}

.integrator-team-slider .slider {
    display: flex;
    gap: 20px;
}

.integrator-team-slide {
    width: 540px;
    height: 366px;
    border-radius: 12px;
    overflow: hidden;
}

.integrator-team-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

/*INTERESTING*/

.integrator-interesting-section {
    background-color: var(--bg-fon-gray);
    position: relative;
}

.integrator-interesting-section .container {
    position: relative;
    z-index: 10;
}

.integrator-interesting-points {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.interesting-point {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--bg-fon-text);
    border-radius: 12px;
    padding: 20px 30px;
}

.point-color {
    background: linear-gradient(
    180deg, 
    #E7EBFB 0%, 
    #E7F3E9 33%, 
    #DEE3F8 66%, 
    #E7EBFB 100%
  );
  padding: 0;
  overflow: hidden;
  position: relative;
}

.point-color .point-color__image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 576px;
}

.point-color .point-color__image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: top;
}

.interesting-point .poin-number {
    margin-bottom: 70px;
}

.interesting-title {
    font-weight: 500;
    font-size: 25px;
    line-height: 1.2;
    letter-spacing: -1px;
    color: var(--btn-hover-primary);
}

.interesting-point p.integrator-text {
    margin-top: 0;
}

.interesting-more {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    color: var(--btn-dark-primary);
    text-decoration: underline !important;
}


.integrator-interesting-section .integrator-text {
    margin-top: 20px;
}

/*EXTENTION*/

.integrator-extention-section .integrator-section-heading {
    max-width: 818px;
}

.integrator-extention-points {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 60px;
}

.extention-point {
    padding: 60px 40px;
    background-color: var(--bg-fon-gray);
    border-radius: 12px;
    position: relative;
}

.extention-title {
    font-weight: 600;
    font-size: 34px;
    line-height: 1.2;
    color: var(--btn-hover-primary);
    margin-bottom: 30px;
}

.extention-point a {
    margin-top: 20px;
}

/*MATERIALS*/

.integrator-materials-section .integrator-row {
    align-items: end;
}

.integrator-materials-page .integrator-materials {
    margin-top: 0;
}

.integrator-blog-list-social {
    margin-top: 20px;
    margin-left: auto;
    display: flex;
    gap: 10px;
}

.integrator-materials-page .integrator-row {
    gap: 60px;
}

.integrator-blog-list-social a {
    background-color: var(--bg-fon-gray);
    border-radius: 500px;
    margin: 0;
    padding: 10px 15px;
    color: var(--btn-dark-primary);
}

.integrator-materials-page .sidebar-single {
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    width: 270px;
}

.integrator-materials-page .sidebar-category-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: transparent;
}

.integrator-materials-page .sidebar-category-list li {
    padding: 10px 20px;
    border-bottom: 0;
}

.integrator-materials-page .sidebar-category-list .sidebar-category {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    color: var(--btn-hover-primary);
    opacity: 0.7;
}

.integrator-materials-page .sidebar-category-list li:hover,
.integrator-materials-page .sidebar-category-list li:focus {
    border-radius: 12px;
    background-color: var(--btn-light-primary);
}

.integrator-materials-page .sidebar-category-list .sidebar-category.active,
.integrator-materials-page .sidebar-category-list .sidebar-category:hover,
.integrator-materials-page .sidebar-category-list .sidebar-category:focus,
.integrator-materials-page .sidebar-category-list li:hover .sidebar-category,
.integrator-materials-page .sidebar-category-list li:focus .sidebar-category {
    color: var(--btn-dark-primary);
    opacity: 1;
}

.integrator-materials {
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.integrator-material {
    height: 320px;
    display: flex;
    gap: 60px;
    border-bottom: 1px solid var(--bg-line-text);
    padding-bottom: 40px;
}

.integrator-material__image {
    max-width: 313px;
    width: 100%;
    height: 183px;
    border-radius: 12px;
    overflow: hidden;
}

.integrator-material__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.integrator-material__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.integrator-material__title {
    font-weight: 500;
    font-size: 25px;
    line-height: 1.2;
    color: var(--btn-hover-primary);
    margin: 5px 0 20px;
}

.integrator-material__description {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    color: var(--btn-hover-primary);
}

span.date {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    color: var(--btn-hover-primary);
    opacity: 0.7;
}

span.hash {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    color: var(--btn-hover-primary);
    opacity: 0.5;
}

/*FAQ*/ 

.integrator-faq {
    max-width: 855px;
    width: 100%;
    margin: 0 auto;
}

.integrator-faq-accordion {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.integrator-faq .accordion-item {
    padding: 10px 20px;
    width: 100%;
    border-bottom: 1px solid var(--bg-line-text);
}

.integrator-faq .accordion-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
}

.accordion-button h3 {
    font-weight: 500;
    font-size: 25px;
    line-height: 1.2;
    letter-spacing: -1px;
    color: var(--btn-hover-primary);
}

.accordion-button__icon {
    flex-grow: 1;
}

.accordion-button__icon img {
    transform: rotate(360deg);
    padding: 9px 6px;
    margin-left: auto;
}

.accordion-button.collapsed .accordion-button__icon img {
    transform: rotate(180deg);
}

.accordion-item__body {
    margin-top: 20px;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    color: var(--btn-hover-primary);
    opacity: 0.5;
    padding-right: 32px;
}

.accordion-item__body b {
    opacity: 1;
}

.accordion-item__body a {
    color: var(--btn-hover-primary);
    text-decoration: underline !important;
}

.accordion-item__body a:hover {
    opacity: 1;
}


/*CONTACT*/

.integrator-contact {
    max-width: 737px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.integrator-contact__image {
    max-width: 530px;
}

.integrator-contact__form {
    max-width: 620px;
}

.integrator-content_main-info {
    margin-top: 30px;
}

.integrator-widget {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.integrator-widget-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.integrator-widget__title {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    color: var(--btn-hover-primary);
    opacity: 0.7;
}

.integrator-widget-item span {
    font-weight: 700;
    font-size: 60px;
    line-height: 1.2;
    color: var(--btn-dark-primary);
}

.integrator-widget-item p {
    font-weight: 600;
    font-size: 34px;
    line-height: 1.2;
    color: var(--btn-hover-primary);
}

.integrator-widget-item p.integrator-contact-adress {
    font-weight: 500;
    font-size: 25px;
}

.widget-item__last {
    position: relative;
    bottom: 0;
    top: auto;
}

.integrator-contact__form .form-box-style__form-wrapper {
    background-color: var(--bg-fon-gray);
    border: none;
}

.integrator-contact__form input,
.integrator-contact__form textarea  {
    border: 1px solid var(--bg-line-text) !important;
    border-radius: 12px !important;
    color: var(--bg-fon-text) !important;
    background-color: var(--bg-fon-text) !important;
    padding: 16px 24px !important;
}

.integrator-contact__form input label,
.integrator-contact__form textarea label,
.integrator-checkbox label  {
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 1.5;
    color: var(--btn-hover-primary);
    opacity: 0.7; 
}

.integrator-contact__form input::placeholder,
.integrator-contact__form textarea::placeholder  {
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 1.5;
    color: var(--btn-hover-primary);
    opacity: 0.7;
}

.integrator-checkbox input[type="checkbox"] {
    accent-color: var(--btn-hover-primary);
    width: 20px;
    height: 20px;
    margin: 2px 4px;
}

.integrator-checkbox {
    display: flex;
    gap: 8px;
}

.integrator-checkbox label a {
    text-decoration: underline !important;
}

/*FOOTER*/


.integrator-footer {
    background-color: var(--btn-hover-primary) !important;
}

.integrator-footer-branding {
    max-width: 420px;
    width: 100%;
}

.integrator-footer__content-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}

.integrator-footer__content-text p {
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 1.5;
    color: var(--bg-fon-text);
    opacity: 0.7;
}

.integrator-footer__content-text a {
    font-weight: 400 !important;
    font-size: 25px !important;
    line-height: 1;
    text-decoration: none;
    color: var(--bg-line-text);
}

.integrator-list-social, .integrator-list-pay {
    margin-top: 40px;
    display: flex;
    gap: 10px;
}

.integrator-list-pay a {
    padding: 10px;
    background-color: var(--bg-fon-text);
    border-radius: 10px;
    margin: 0;
}

.integrator-footer-main {
    padding: 0 0 54px;
    display: flex;
    gap: 60px;
    justify-content: space-between;
}

.integrator-copyright-block {
    display: flex;
    justify-content: space-between;
    padding: 60px 0 11px;
    text-align: center;
}

.integrator-copyright-block p {
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 1.5;
    color: var(--bg-fon-text);
    opacity: 0.7;
}

.integrator-footer-menu {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .integrator-header-cta-btn-wrapper {
        display: none !important;
    }

    .integrator-footer-main {
        flex-direction: column;
    }

    .integrator-numbers-section .integrator-row {
        flex-direction: column;
    }

    .integrator-numbers__double-block .integrator-numbers__image {
        max-width: 264px;
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 1188px) {
    .integrator-materials-page .integrator-row {
        flex-direction: column;
        gap: 60px;
    }

    .integrator-felx-section .container {
        flex-direction: column;
    }

    .integrator-felx-section .integrator-section-heading {
        max-width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .integrator-felx-section .integrator-section-heading a {
        margin: 0 auto;
    }

    .point-color .point-color__image {
        width: 376px;
    }

    .integrator-team .integrator-row {
        flex-direction: column;
    }

    .integrator-team__image {
        width: 100%;
        border-radius: 12px;
        overflow: hidden;
    }

    .integrator-team__image img {
        width: 100%;
        height: 650px;
    }

    .integrator-team__info {
        max-width: 100%;
    }

    .integrator-team-quote {
        padding: 32px 20px;
    }

    .integrator-team-button {
        margin-top: 40px;
        text-align: center;
    }
}

@media screen and (max-width: 991px) {
    .integrator-site-header .menu-block,
    .integrator-site-header .menu-block .mobile-menu-head {
        background-color: var(--bg-line-text);
    }

    .integrator-site-header .menu-block .mobile-menu-head .mobile-menu-close {
        border-left: none;
        color: var(--btn-hover-primary);
    }

    .integrator-menu-main>li {
        border-bottom: none;
    }

    .integrator-menu-main>li>a i {
        top: 0;
    }

    .integrator-menu-main .sub-menu {
        background-color: transparent;
    }

    .integrator-menu-main>li .sub-menu.active {
        padding-top: 0;
    }

    .integrator-row {
        flex-direction: column;
    }
    
    .integrator-check-point-large {
        width: 100%;
    }

    .check-point-large__image {
        bottom: -60px;
        right: -60px;
    }

    .integrator-desctiption-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .integrator-desctiption-large {
        display: flex;
        gap: 20px;
        flex-direction: column;
    }

    .integrator-desctiption__image {
        max-width: 100%;
    }

    .integrator-desctiption__info {
        max-width: 100%;
    }
    
    .integrator-portfolio {
        grid-template-columns: 1fr 1fr;
    }

    .integrator-portfolio-large .integrator-portfolio-item .portfolio-widget {
        flex-direction: column;
        gap: 0;
        height: auto;
    }

    .integrator-portfolio-large .portfolio-widget_image-block {
        max-width: 100%;
        min-height: 200px;
        height: 257px !important;
    }

    .interesting-point .poin-number {
        margin-bottom: 20px;
    }

    .integrator-extention-points, 
    .integrator-interesting-points,
    .integrator-capacity {
        grid-template-columns: repeat(1, 1fr);
    }

    .integrator-contact__image {
        display: none;
    }

    .integrator-contact__form {
        max-width: 100%;
    }

    .integrator-top__image {
        max-width: 100%;
    }

    .integrator-task-three {
        grid-template-columns: repeat(1, 1fr);
    }

    .integrator-task-two {
        grid-template-columns: repeat(1, 1fr);
    }

    .task-point__image-right {
        left: 0;
    }

    .task-point__image {
        bottom: -20px;
        right: 0;
        left: 40%;
    }

    .task-point__image-full {
        height: auto;
    }

    .integrator-materials-section .integrator-row {
        align-items: center;
    }

    .integrator-material {
        height: auto;
    }

    .integrator-material__info {
        gap: 20px;
    }
}

@media screen and (max-width: 768px) {
    .integrator-footer-menu, 
    .integrator-copyright-block {
        flex-direction: column;
    }

    .integrator-banner {
        margin-top: 60px;
    }

    .integrator-banner__image {
        height: 250px;
    }
    
    .integrator-numbers__image {
        display: none;
    }
    
    .integrator-numbers .integrator-widget-item {
        padding: 10px;
    }
    
    .integrator-widget-item span {
        font-size: 30px;
    }

    .integrator-widget-item p {
        font-size: 30px;
    }

    .integrator-numbers .integrator-line  {
        margin: 15px 0;
    }

    .integrator-quote {
        padding-top: 50px;
        font-size: 18px;
    }

    .integrator_pricing-control-block {
        flex-direction: column;
        align-items: center;
    }

    .task-point__image {
        bottom: -20px;
        right: 0;
        left: 0;
    }

    .integrator-technologies__title {
        width: 60%;
        font-size: 18px;
    }
    
    .integrator-technologies-list {
        flex-direction: column;
    }

    .integrator-portfolio-large .portfolio-widget_image-block {
        height: 203px !important;
    }
    
    .integrator-feature-section .integrator-row {
        padding: 0;
    }

    .integrator-portfolio,
    .integrator-felx-section .integrator-check-points {
        grid-template-columns: 1fr;
    }

    .point-title {
        margin-top: 20px;
    }
    
    .integrator-interesting-points {
        grid-template-columns: repeat(1, 1fr);
    }

    .integrator-top__certificats {
        grid-template-columns: 1fr 1fr;
    }

    .integrator-top__certificats-large {
        grid-template-columns: 1fr;
    }

    .integrator-material {
        flex-direction: column;
        gap: 20px;
    }

    .integrator-material__image {
        max-width: 100%;
        height: 200px;
    }
}


@media screen and (max-width: 620px) {

    .integrator-desctiption-list {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .integrator-check-point-large {
        flex-direction: column;
        gap: 10px;
    }

    .check-point-large__image {
        right: -50px;
    }

    .integrator_pricing-control-block .pricing-control {
        min-width: 300px;
    }

    .integrator_pricing-control-block .pricing-control span {
        font-size: 14px;
        padding: 10px 5px;
    }

    .integrator-blog-list-social {
        margin-right: auto;
        margin-left: auto;
    }

    .integrator-team__images {
        flex-direction: column;
    }

    .integrator-team__image img {
        height: 300px;
        object-position: top;
    }

    .integrator-team-slide {
        width: 310px;
        height: 200px;
    }

    .slidercontainer {
        & .slider {
            & .teams {
                .fab {
                    width: 310px;
                }
            }
        }
    }
}