/*======= Base Class ========*/
:root {
  --btn-dark-primary: #202FA9;
  --btn-light-primary: #E9EDF9;
  --btn-hover-primary: #0A102F;
  --bg-fon-text: #FBFBFD;
  --bg-line-text: #D5DDFB;
  --bg-fon-gray: #F3F4FA;

}


.integrator-btn {
    background-color: var(--btn-dark-primary);
    color: var(--bg-fon-text);
    padding: 12px 25px;
    border-radius: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    z-index: 0;
    position: relative;
    transition: all 0.3s;
}

.integrator-btn-light {
    background-color: var(--btn-light-primary);
    color: var(--btn-dark-primary);
}

.integrator-btn-secondary {
    background-color: transparent;
    border-radius: 0;
    color: var(--btn-hover-primary);
}

.integrator-btn.btn-fill--up:hover {
  color: var(--bg-fon-text) !important;
  border-color: var(--btn-hover-primary) !important;
}

.integrator-btn.btn-fill--up::before {
  background: var(--btn-hover-primary) !important;
}

.integrator-btn.btn-fill--up::after {
  background: var(--btn-hover-primary) !important;
}

/*HEADER*/

.integrator-site-header.scrolling,
.integrator-site-header.reveal-header {
    background-color: var(--bg-fon-text) !important;
}

.integrator-site-navbar,
.integrator-site-navbar .menu-block-wrapper {
    display: flex;
    justify-content: space-between;
}

.integrator-menu-main {
    gap: 30px;
}

.integrator-header-cta-btn-wrapper {
    column-gap: 15px !important;
    margin: 0;
}

.integrator-header-cta-btn-wrapper .integrator-btn-secondary {
    margin-right: 15px;
}

.integrator-menu-main>li .sub-menu>ul>li>a,
.integrator-menu-main .nav-link-item {
    font-style: normal;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 1.5;
    color: var(--btn-hover-primary);
    padding: 5px 10px !important;
    box-shadow: none !important;
}

.integrator-menu-main .sub-menu {
    background-color: var(--bg-fon-gray);
    border-radius: 5px;
    width: max-content;
    min-width: 157px;
    box-shadow: none !important;
}

.integrator-menu-main .sub-menu_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.integrator-menu-main .sub-menu .sub-menu {
    top: 0 !important;
    left: 105%;
}


/*FOOTER*/


.integrator-footer {
    background-color: var(--btn-hover-primary) !important;
}

.integrator-footer-branding {
    max-width: 420px;
    width: 100%;
}

.integrator-footer__content-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}

.integrator-footer__content-text p {
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 1.5;
    color: var(--bg-fon-text);
    opacity: 0.7;
}

.integrator-footer__content-text a {
    font-weight: 400 !important;
    font-size: 25px !important;
    line-height: 1;
    text-decoration: none;
    color: var(--bg-line-text);
}

.integrator-list-social, .integrator-list-pay {
    margin-top: 40px;
    display: flex;
    gap: 10px;
}

.integrator-list-pay a {
    padding: 10px;
    background-color: var(--bg-fon-text);
    border-radius: 10px;
    margin: 0;
}

.integrator-footer-main {
    padding: 0 0 54px;
    display: flex;
    gap: 60px;
    justify-content: space-between;
}

.integrator-copyright-block {
    display: flex;
    justify-content: space-between;
    padding: 60px 0 11px;
}

.integrator-copyright-block p {
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 1.5;
    color: var(--bg-fon-text);
    opacity: 0.7;
}

.integrator-footer-menu {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    width: 100%;
}
