@font-face {
    font-family: 'General Sans';
    src: url("GeneralSans-ExtralightItalic.96ad5551ee7c.eot");
    src: url("GeneralSans-ExtralightItalic.96ad5551ee7c.eot?#iefix") format('embedded-opentype'),
        url("GeneralSans-ExtralightItalic.ffd6b6416cb8.woff2") format('woff2'),
        url("GeneralSans-ExtralightItalic.0fde329c5223.woff") format('woff'),
        url("GeneralSans-ExtralightItalic.c9795d09cd21.ttf") format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'General Sans';
    src: url("GeneralSans-BoldItalic.eeb870dd417b.eot");
    src: url("GeneralSans-BoldItalic.eeb870dd417b.eot?#iefix") format('embedded-opentype'),
        url("GeneralSans-BoldItalic.4043401955ab.woff2") format('woff2'),
        url("GeneralSans-BoldItalic.1e26a552e601.woff") format('woff'),
        url("GeneralSans-BoldItalic.942a4c7eeafb.ttf") format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'General Sans';
    src: url("GeneralSans-Extralight.279fc620aa15.eot");
    src: url("GeneralSans-Extralight.279fc620aa15.eot?#iefix") format('embedded-opentype'),
        url("GeneralSans-Extralight.35995768b5cb.woff2") format('woff2'),
        url("GeneralSans-Extralight.0cdb90283c89.woff") format('woff'),
        url("GeneralSans-Extralight.6a24f9e414c6.ttf") format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'General Sans';
    src: url("GeneralSans-Bold.82de253c5e02.eot");
    src: url("GeneralSans-Bold.82de253c5e02.eot?#iefix") format('embedded-opentype'),
        url("GeneralSans-Bold.06469e21efb4.woff2") format('woff2'),
        url("GeneralSans-Bold.e1b5434a2d1c.woff") format('woff'),
        url("GeneralSans-Bold.9679fd04f89e.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'General Sans';
    src: url("GeneralSans-Light.246bafbf0bf2.eot");
    src: url("GeneralSans-Light.246bafbf0bf2.eot?#iefix") format('embedded-opentype'),
        url("GeneralSans-Light.5d1e3790c59a.woff2") format('woff2'),
        url("GeneralSans-Light.cfcb4e6cde91.woff") format('woff'),
        url("GeneralSans-Light.14c8e34dd82d.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'General Sans';
    src: url("GeneralSans-Semibold.cdd77be9136a.eot");
    src: url("GeneralSans-Semibold.cdd77be9136a.eot?#iefix") format('embedded-opentype'),
        url("GeneralSans-Semibold.6af950be5271.woff2") format('woff2'),
        url("GeneralSans-Semibold.e59d4409a114.woff") format('woff'),
        url("GeneralSans-Semibold.186dd397ddaa.ttf") format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'General Sans';
    src: url("GeneralSans-Regular.f6dd9d5bd2ac.eot");
    src: url("GeneralSans-Regular.f6dd9d5bd2ac.eot?#iefix") format('embedded-opentype'),
        url("GeneralSans-Regular.9c968c3a4763.woff2") format('woff2'),
        url("GeneralSans-Regular.73e537707a55.woff") format('woff'),
        url("GeneralSans-Regular.e6feb3e75273.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'General Sans';
    src: url("GeneralSans-Italic.9735535c684f.eot");
    src: url("GeneralSans-Italic.9735535c684f.eot?#iefix") format('embedded-opentype'),
        url("GeneralSans-Italic.e978bd2e94f2.woff2") format('woff2'),
        url("GeneralSans-Italic.cc04afd2f337.woff") format('woff'),
        url("GeneralSans-Italic.2eaf88877ec5.ttf") format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'General Sans';
    src: url("GeneralSans-LightItalic.c0196ee188da.eot");
    src: url("GeneralSans-LightItalic.c0196ee188da.eot?#iefix") format('embedded-opentype'),
        url("GeneralSans-LightItalic.5ae3d1a92758.woff2") format('woff2'),
        url("GeneralSans-LightItalic.cba5d348cb22.woff") format('woff'),
        url("GeneralSans-LightItalic.b6020454a607.ttf") format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'General Sans';
    src: url("GeneralSans-Medium.e9e04364833c.eot");
    src: url("GeneralSans-Medium.e9e04364833c.eot?#iefix") format('embedded-opentype'),
        url("GeneralSans-Medium.53a5c496523c.woff2") format('woff2'),
        url("GeneralSans-Medium.7d85d3e36174.woff") format('woff'),
        url("GeneralSans-Medium.486fbdce3585.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'General Sans';
    src: url("GeneralSans-MediumItalic.c5e9c45c12f0.eot");
    src: url("GeneralSans-MediumItalic.c5e9c45c12f0.eot?#iefix") format('embedded-opentype'),
        url("GeneralSans-MediumItalic.3f5401910329.woff2") format('woff2'),
        url("GeneralSans-MediumItalic.a3b21c9efcf8.woff") format('woff'),
        url("GeneralSans-MediumItalic.fce9658b2a28.ttf") format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'General Sans';
    src: url("GeneralSans-SemiboldItalic.3e3f6f23bb9c.eot");
    src: url("GeneralSans-SemiboldItalic.3e3f6f23bb9c.eot?#iefix") format('embedded-opentype'),
        url("GeneralSans-SemiboldItalic.11058413f0cf.woff2") format('woff2'),
        url("GeneralSans-SemiboldItalic.56e8ac168dc9.woff") format('woff'),
        url("GeneralSans-SemiboldItalic.f7c9ac0d167f.ttf") format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}